<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" class="history_Dialog">


  <div mat-dialog-title cdkDragHandle>



    <h1>History <br>
      <p class="mb-0" style='font-size: 10px; margin-top:-9px'>{{tradingPairDataInjected.TradingPair}} :
        {{(tradingPairDataInjected.Trades).length}} Trades</p>
    </h1>



  </div>
  <div mat-dialog-content class="content  ">
    <ng-container class="cards">
      <!-- <div class="total-stats-div p-3 mt-3">
      <h1 class="box-title">Total Stats</h1> -->

      <!-- loader div -->
      <div class="loader-div d-flex justify-content-center align-items-center flex-column"
        *ngIf="!IsSelectedSheetDataLoaded">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <span class="pt-2">Loading ...</span>

      </div>
      <!-- card div -->

      <div class="row mt-2 coins-div box-shadow-sub-total-statss rounded-3" *ngIf="IsSelectedSheetDataLoaded">
        <div class="col-lg-6 pt-4 col-12  pb-4 d-flex justify-content-between align-items-start flex-column"
          *ngFor="let trade of tradingPairDataInjected.Trades; let i = index">
          <div class="card card-trading_Pairs p-0" style="width: 100%">
            <div class="card-body">
              <!-- matTooltip="{{trade.TotalBuyQuantity}} {{trade.TradingPair}} @ {{trade.AverageBuyPrice}} ₮" -->

              <h2 class="card-title badge badge-heading pill  floating-cardTitle-small-date"
               >
                {{ trade.Date }}



              </h2>

              <!-- <div class="row" style="margin-top:-25px; margin-bottom:10px">
                <p class="px-3 text-muted" style="font-weight: 600">

                 {{trade.Date}}
                </p>
              </div> -->
              <div class="row">
                <div class="col-12 outer-div">
                  <p class="text-muted" style="font-weight: 600">

                    Direction

                    <!-- Add MatIcon based on the comparison of prevPrice and currentPrice -->
                  </p>

                  <p class="card-text" style="font-weight: 600; font-size: 16px"
                    [ngClass]="{'text-success' : trade.Direction === 'BUY', 'text-danger':trade.Direction === 'SELL'}">
                    {{trade.Direction}}</p>


                </div>

                <div class="col-12 outer-div">
                  <p class="text-muted" style="font-weight: 600">

                    ID

                    <!-- Add MatIcon based on the comparison of prevPrice and currentPrice -->
                  </p>

                  <p class="card-text text-muted" style="font-weight: 600; font-size: 12px">
                    {{trade.ID}}</p>
                </div>


                <div class="col-12 outer-div">
                  <p class="text-muted" style="font-weight: 600">

                    Filled Price
                  </p>
                  <p class="card-text text-muted" style="font-weight: 600; font-size: 16px">
                    {{trade.Price}}
                  </p>
                </div>



                <div class="col-12 outer-div">
                  <p class="text-muted" style="font-weight: 600">
                    Traded Qty


                  </p>
                  <p class="card-text text-muted" style="font-weight: 600; font-size: 16px">
                    {{trade.Amount}}
                  </p>
                </div>

                <div class="col-12 outer-div">
                  <p class="text-muted" style="font-weight: 600">
                    Trade Amount


                    <!-- Add MatIcon based on the comparison of prevPrice and currentPrice -->
                  </p>
                  <p class="card-text text-muted" style="font-weight: 600; font-size: 16px">
                    ₮ {{trade.Total_USDT | number:'1.0-3'}}
                  </p>
                </div>
                <div class="col-12 outer-div">
                  <p class="text-muted" style="font-weight: 600">
                    Fees

                    <!-- <span class="card-text d-flex" [ngClass]="{'text-danger':!getPriceColour(trade.TradingPair), 'text-success':getPriceColour(trade.TradingPair)}" style="font-weight: 600; font-size: 16px">{{ getPriceForTradingPair(trade.TradingPair) | number:'1.0-8' }} 

                  <mat-icon style="font-size:15px" *ngIf="getPriceColour(trade.TradingPair)" class="text-success">arrow_upward</mat-icon>
                  <mat-icon style="font-size:15px" *ngIf="!getPriceColour(trade.TradingPair)" class="text-danger">arrow_downward</mat-icon>
                </span> -->
                  </p>
                  <p class="card-text  text-muted" style="font-weight: 600; font-size: 16px">
                    {{ trade.Fees ? trade.Fees : '-'}}
                  </p>
                </div>






                <div class="col-12 outer-div">
                  <p class="text-muted" style="font-weight: 600">
                    Traded


                    <!-- Add MatIcon based on the comparison of prevPrice and currentPrice -->
                  </p>
                  <p class="card-text text-muted" style="font-weight: 600; font-size: 16px">
                    {{ getBoughtTime(trade.Date) }} ago

                  </p>
                </div>



                <div class="col-12 outer-div">
                  <p class="text-muted" style="font-weight: 600">
                    Influencer


                    <!-- Add MatIcon based on the comparison of prevPrice and currentPrice -->
                  </p>
                  <p class="card-text text-muted" style="font-weight: 600; font-size: 16px"
                  matTooltip="{{ trade.Influencer }}"
                  >
                    {{trade.Influencer ? (trade.Influencer?.slice(0,12)) : '-'}}
                    <span *ngIf="trade.Influencer?.length > 12">...</span>

                  </p>
                </div>


                <div class="col-12 outer-div">
                  <p class="text-muted" style="font-weight: 600">
                    Period

                    <!-- <span class="card-text d-flex" [ngClass]="{'text-danger':!getPriceColour(trade.TradingPair), 'text-success':getPriceColour(trade.TradingPair)}" style="font-weight: 600; font-size: 16px">{{ getPriceForTradingPair(trade.TradingPair) | number:'1.0-8' }} 

                  <mat-icon style="font-size:15px" *ngIf="getPriceColour(trade.TradingPair)" class="text-success">arrow_upward</mat-icon>
                  <mat-icon style="font-size:15px" *ngIf="!getPriceColour(trade.TradingPair)" class="text-danger">arrow_downward</mat-icon>
                </span> -->
                  </p>
                  <p class="card-text  text-muted" style="font-weight: 600; font-size: 16px"
                  matTooltip="{{ trade.Period }}"
                  
                  >
                  {{trade.Period ? (trade.Period?.slice(0,12)) : '-'}}
                  <span *ngIf="trade.Period?.length > 12">...</span>
                  </p>
                </div>



                <div class="col-12 outer-div">
                  <p class="text-muted" style="font-weight: 600">
                    Notes

                    <!-- <span class="card-text d-flex" [ngClass]="{'text-danger':!getPriceColour(trade.TradingPair), 'text-success':getPriceColour(trade.TradingPair)}" style="font-weight: 600; font-size: 16px">{{ getPriceForTradingPair(trade.TradingPair) | number:'1.0-8' }} 

                  <mat-icon style="font-size:15px" *ngIf="getPriceColour(trade.TradingPair)" class="text-success">arrow_upward</mat-icon>
                  <mat-icon style="font-size:15px" *ngIf="!getPriceColour(trade.TradingPair)" class="text-danger">arrow_downward</mat-icon>
                </span> -->
                  </p>
                  <p class="card-text  text-muted" style="font-weight: 600; font-size: 16px"
                    matTooltip="{{ trade.Notes }}">
                    {{ trade.Notes ? (trade.Notes?.slice(0,12)) : '-'}}
                    <span *ngIf="trade.Notes?.length > 12">...</span>
                  </p>
                </div>



              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- </div> -->
    </ng-container>

  </div>
  <div mat-dialog-actions class="action">
    <button mat-raised-button color="warn" (click)="onClose()">Close</button>

    <!-- <button class="btn btn-secondary" (click)="clearFields(form)">Clear</button> -->
  </div>
</div>