@import '../../sharedSCSS/scssVariable/colorVariable.scss';
@import '../../sharedSCSS/dialogsStyle/dialogsStyle.scss';

.spinner-border {
    color: $base_color_primary !important;
    // font-weight: 500;

} 

.loader-div {
    color: $base_color_primary;

}

.exchangeNameResult {
    cursor: pointer;
}

.exchangeNameResult:hover {
    color: $base-color_primary;
    text-decoration: underline;

}