<div cdkDrag cdkDragRootElement=".cdk-overlay-pane"  class="searchCoin_Dialog">
  <!-- Your dialog content here -->



<div mat-dialog-title cdkDragHandle>
  <h1 >Search (Spot)</h1>
</div>



<div mat-dialog-content class="content">

    
  <form (ngSubmit)="searchCoin()" #searchForm="ngForm">

    <div class="pt-3 row">
      <mat-form-field appearance="outline" floatLabel="always" >
        <mat-label>Coin Name:</mat-label>
        <input matInput [(ngModel)]="coinName" name="coinName" required placeholder="Enter Coin Name">
        <button class="text-danger" *ngIf="coinName" matSuffix mat-icon-button  aria-label="Clear" type="button" 
        (click)="coinName = ''" tabindex="-1" type="button" >

        <mat-icon>close</mat-icon>
      </button>
      <mat-hint>Format : BTC, ETH ..</mat-hint>
      

      </mat-form-field>
    </div>
  </form>
  
    <!-- Display search results here -->
<!-- Display search results here -->
<div class="">
    <div class=" mt-3 loader-div d-flex justify-content-center align-items-center flex-column " *ngIf="!isResponse && isClickedOnce">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <span class="pt-2">Loading ...</span>

    </div>
    <div *ngIf="isResponse && isClickedOnce" class=" mt-3 response-div ">
      
      <div class="px-2" >
        <p class="mb-0">Coin : <span class="fw-bold">{{ searchResult.coinName }}</span></p>
        <p>Exchanges: 
          <!-- <span class="fw-bold">{{ searchResult.coinName }}</span>  -->
          <ng-container *ngIf="searchResult.exchanges && searchResult.exchanges.length > 0; else noExchanges">
          <!-- <span class="fw-bolder">{{ searchResult.exchanges.join(' | ') }}</span> -->
          
          <span class="fw-bolder exchangeNameResult" *ngFor="let exchange of searchResult.exchanges; let last = last" (click)="gotoPortfolio(exchange)">
            {{ exchange }}{{ !last ? ' | ' : '' }}
          </span>
          


          </ng-container>
          <ng-template #noExchanges>
           <span class="fw-bolder text-danger"> Not found !</span>
          </ng-template>
        </p>
      </div>
      
    </div>
  </div>
  
  </div>


  <div mat-dialog-actions class="action">
    <button mat-raised-button color="" (click)="onClose()" tabindex="1">Close</button>
    <button  mat-raised-button color="primary" type="submit" [disabled]="!coinName" (click)="searchCoin()" tabindex="0">Search</button>
  
    <!-- <button class="btn btn-secondary" (click)="clearFields(form)">Clear</button> -->
  </div>
  </div>