@import '../../sharedSCSS/PortfolioDashboard/potfolioDashboard.scss';


@import'../../sharedSCSS/scssVariable/colorVariable.scss';

.box-shadow h1{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    font-weight: 500;
   color: white;
    background-color:$base-color_primary;
    position: relative;
    top:-30px;
    width : fit-content;
    border-radius: 5px;
    padding: 0px 10px 


}