<!-- <h1 class="text-center">Dashboard</h1>
 <hr>

 <div class="box-shadow text-center d-flex align-items-center justify-content-center" style="height: 75vh; ">
    <h1 style="font-size:15px !important">Corrently Working !</h1>

</div> -->


 <!--
<div class="box-shadow">
    <h1>Total Stats</h1>

    <app-portfolio-dashboard-bybit-total-stats></app-portfolio-dashboard-bybit-total-stats>
</div>
<div class="spacer-20"></div>
<div class="box-shadow">
    <h1>P2P</h1>

    <app-portfolio-dashboard-bybit-p2p></app-portfolio-dashboard-bybit-p2p>
</div>
<div class="spacer-20"></div>
<div class="box-shadow">
    <h1>SIP</h1>

    <app-portfolio-dashboard-bybit-sip></app-portfolio-dashboard-bybit-sip>
</div>
<div class="spacer-20"></div>
<div class="box-shadow">
    <h1>Money Flow</h1>

    <app-portfolio-dashboard-bybit-money-flow></app-portfolio-dashboard-bybit-money-flow>
</div>
<div class="spacer-20"></div>
<div class="box-shadow">
    <h1>Copy Trading</h1>

    <app-portfolio-dashboard-bybit-copy-trading></app-portfolio-dashboard-bybit-copy-trading>
</div>
<div class="spacer-20"></div>
<div class="box-shadow">
    <h1>Futures Closed Pnl</h1>

    <app-portfolio-dashboard-bybit-futures-closed-pnl></app-portfolio-dashboard-bybit-futures-closed-pnl>
</div>
<div class="spacer-20"></div>
<div class="box-shadow">
    <h1>Advance Crypto Trader Futures Pnl</h1>

    <app-portfolio-dashboard-bybit-advance-crypto-trader></app-portfolio-dashboard-bybit-advance-crypto-trader>
</div>
<div class="spacer-20"></div>
<div class="box-shadow">
    <h1>Gold VIP Futures Pnl</h1>

    <app-portfolio-dashboard-bybit-gold-vip></app-portfolio-dashboard-bybit-gold-vip>
</div>
<div class="spacer-20"></div>

 -->
<!-- --------------old-------- -->
 <!-- <div> -->

    <!-- <h1>Futures Positions</h1> -->

    <!-- <app-portfolio-dashboard-mexc-futures-pnl-calender></app-portfolio-dashboard-mexc-futures-pnl-calender> -->
    <!-- <div class="spacer-20"></div> -->
    <!-- <app-portfolio-dashboard-bybit-futures-closed-pnl-demo></app-portfolio-dashboard-bybit-futures-closed-pnl-demo> -->

<!-- </div> -->

<!-- <div class="spacer-20"></div> -->




<!-- -----------new-------------- -->

<app-portfolio-dashboard-shared [exchangeName]="exchangeName"></app-portfolio-dashboard-shared>
