<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" class="sidenavMenu_asDialog">
  <!-- Your dialog content here -->



  <div mat-dialog-title cdkDragHandle>
    <h1>{{InjectedData.title}}</h1>
  </div>


  <div mat-dialog-content class="content">


    <app-tools-tools *ngIf="InjectedData.componentName == 'trading-tools'"></app-tools-tools>
    <app-logging *ngIf="InjectedData.componentName == 'logging'" [IsViaDialog]="'YES'"></app-logging>



  </div>

  <div mat-dialog-actions class="action">
    <button mat-raised-button color="warn" (click)="onClose()" tabindex="1">Close</button>


    <!-- <button class="btn btn-secondary" (click)="clearFields(form)">Clear</button> -->
  </div>
</div>