@import '../../sharedSCSS/dialogsStyle/dialogsStyle.scss';
@import '../../sharedSCSS/scssVariable/colorVariable.scss';
// .sidenavMenu_asDialog
// {
       
// .content{
//  padding: 0;
//   };
// .content{
//  padding: 0;
//   };
// }

.main-div{
    padding-top:0px;
  }
  

  .sidenavMenu_asDialog
  { .content {
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }}

::ng-deep:root{
  .clear_log_button_via_dialog {
    position: sticky;
    // right: 0 ;
    bottom: 0 ;
    background-color: $base-color_primary;

    z-index: 2;
}
}