<div class="total-stats-div p-3 mt-3">
  <h1 class="box-title">Total Stats</h1>

  <div class="loader-div  d-flex justify-content-center align-items-center flex-column"
    *ngIf="!IsSelectedSheetDataLoaded && !IsCoumnDataPresent">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <span class="pt-2">Loading ...</span>


  </div>
  <!-- ----------------------------------------------------------------------- -->
  <div class="row" style="margin-top: -20px" *ngIf="IsSelectedSheetDataLoaded && IsCoumnDataPresent">

    <div class="col-lg-6 col-12   total-stats-inner-div d-flex justify-content-between align-items-start flex-column">
      <div class="card p-0" style="width: 100%">
        <div class="card-body">


          <div class="row ">
            <h2 class="card-title">Curr. Price</h2>
            <div class="row d-flex flex-row justify-content-center" style="margin-top:-15px">

              <div class="col-6  inner-div">

                <h1 class="card-text" style="font-weight: 600" [ngClass]="{
                          'text-danger': !getPriceColour(),
                          'text-success': getPriceColour()
                        }">
                  <sub>₮</sub> {{ Price_FUNUSDT | number : "1.8-8" }}
                  <mat-icon style="font-size: 15px" *ngIf="getPriceColour()"
                    class="text-success">arrow_upward</mat-icon>
                  <mat-icon style="font-size: 15px" *ngIf="!getPriceColour()"
                    class="text-danger">arrow_downward</mat-icon>

                </h1>
                <h5>FUN/USDT</h5>
              </div>
              <div class="col-6  inner-div">

                <h1 class="card-text text-muted" style="font-weight: 600">
                  Chart &nbsp;<mat-icon class="text-primary" (click)="onOpenChartAnalysisDialog('FUN')"
                    style="cursor:pointer">insert_chart_outlined
                  </mat-icon>
                </h1>
                <h5>FUN/USDT</h5>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="col-lg-6 col-12   total-stats-inner-div d-flex justify-content-between align-items-start flex-column">
      <div class="card p-0" style="width: 100%">
        <div class="card-body">


          <div class="row ">
            <h2 class="card-title">Curr. Value</h2>
            <div class="row d-flex flex-row justify-content-center" style="margin-top:-15px">

              <div class="col-6  inner-div">

                <h1 class="card-text text-success" style="font-weight: 600">
                  <sub>₮</sub> {{ getUSDTVaue() | number: '1.0-2' }}

                </h1>
                <h5>USDT</h5>
              </div>
              <div class="col-6  inner-div">

                <h1 class="card-text text-success" style="font-weight: 600">
                  <sub>₹</sub> {{ getUSDTVaue()*90 | number: '1.0-2' }}

                </h1>
                <h5>INR</h5>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="col-lg-6 col-12   total-stats-inner-div d-flex justify-content-between align-items-start flex-column">
      <div class="card p-0" style="width: 100%">
        <div class="card-body">


          <div class="row ">
            <h2 class="card-title">Total Cost</h2>
            <div class="row d-flex flex-row justify-content-center" style="margin-top:-15px">

              <div class="col-6  inner-div">

                <h1 class="card-text text-success" style="font-weight: 600">
                  <sub></sub> {{ columnTotals.Amount_BTC | number: '1.8-8' }}

                </h1>
                <h5>BTC</h5>
              </div>
              <div class="col-6  inner-div">

                <h1 class="card-text text-muted" style="font-weight: 600">
                  Chart <mat-icon class="text-primary" (click)="onOpenChartAnalysisDialog('BTC')"
                    style="cursor:pointer">insert_chart_outlined
                  </mat-icon>
                </h1>
                <h5>BTC/USDT</h5>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="col-lg-6 col-12   total-stats-inner-div d-flex justify-content-between align-items-start flex-column">
      <div class="card p-0" style="width: 100%">
        <div class="card-body">


          <div class="row ">
            <h2 class="card-title">Avg Buy Price</h2>
            <div class="row d-flex flex-row justify-content-center" style="margin-top:-15px">

              <div class="col-6  inner-div">

                <h1 class="card-text text-success" style="font-weight: 600">
                  <sub></sub> {{ (columnTotals.Avg_Price_FUNBTC) | number: '1.8-8' }}

                </h1>
                <h5>BTC/FUN</h5>
              </div>
              <div class="col-6  inner-div">

                <h1 class="card-text text-success" style="font-weight: 600">
                  <sub></sub> {{ columnTotals.Amount_FUN}}
                </h1>
                <h5>QUANTITY</h5>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>




  </div>
</div>






<!-- ----------------------------------------------------------------------- -->
<div class="spacer-20"></div>
<div class="history-div p-3 mt-3">
  <h1 class="box-title mb-0">Order History</h1>


  <mat-form-field appearance="outline" floatLabel="always" >

    <mat-label>Filter Table</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input />
  </mat-form-field>

  <div style="overflow-x:  auto; " class="example-container">


    <ng-container class="table-div">
      <!-- trading-setup.component.html -->

      <div class="mat-elevation-z8 example-table-container">

        <table mat-table [dataSource]="dataSource" matSort matSortActive="Date" matSortDirection="desc"
          class="mat-elevation-z8">

          <!-- Define columns -->
          <ng-container matColumnDef="Date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Date </th>
            <td mat-cell *matCellDef="let element" style="font-weight: 600;"> {{ element.Date }} </td>
          </ng-container>
               
          <ng-container matColumnDef="Type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
            <td mat-cell *matCellDef="let element" style="font-weight: 600;"  > {{
              element.Type}} </td>
          </ng-container>
          <ng-container matColumnDef="Price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
            <td mat-cell *matCellDef="let element" style="font-weight: 600;"> {{
              element.Price }} <span style="font-size:11px; font-weight: 500;">SAT/FUN</span></td>
          </ng-container>
          <ng-container matColumnDef="Cost">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Cost </th>
            <td mat-cell *matCellDef="let element" style="font-weight: 600;"> {{
              element.Cost}} <span style="font-size: 11px; font-weight:500">SAT</span> </td>
          </ng-container>
          <ng-container matColumnDef="Amount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
            <td mat-cell *matCellDef="let element" style="font-weight: 600;"> {{
              element.Amount}} <span style="font-size: 11px; font-weight:500">FUN</span> </td>
          </ng-container>


     

          <ng-container matColumnDef="Statergy">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Statergy </th>
            <td mat-cell *matCellDef="let element" style="font-weight: 600;"  > {{
              element.Statergy}} 

              <span *ngIf="element.Statergy=='STAKING'">
                <mat-icon  matTooltip="STAKING for WOF anf Interest">stars</mat-icon>
                
              </span>
              <span *ngIf="element.Statergy=='TRADING'">
                <mat-icon  matTooltip="TRADING Buy Low Sell High"> show_chart</mat-icon>
              </span>


            </td>
          </ng-container>






          <!-- Actions column with Edit and Delete buttons -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button (click)="editItem(element)">
                  <mat-icon class="text-warning">edit</mat-icon>
                </button>
              <button mat-icon-button (click)="deleteEntry(element.ID, element)">
                <mat-icon class="text-danger">delete</mat-icon>
              </button>


            </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true" class="table-header">
          </tr>

          <tr mat-row *matRowDef="let row; columns: displayedColumns;let odd = odd; " [class.striped-row]="odd"></tr>

        </table>

        <!-- Pagination -->
        <div class="loader-div  d-flex justify-content-center align-items-center flex-column"
          *ngIf="!IsSelectedSheetDataLoaded">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <span class="pt-2">Loading ...</span>


        </div>
      </div>
      <!-- <app-new></app-new> -->
    </ng-container>
  </div>
  <mat-paginator [pageSizeOptions]="[ 5, pageSizeOptions]" showFirstLastButtons></mat-paginator>
</div>