<div class="main-container" style="padding-bottom: 0px">
 <!-- --------------------------   Add new entry   ------------------------- -->
  <div class="row d-flex justify-content-between pb-2">
    <div class="form-floating mb-3 d-flex col-sm-auto col-6"></div>
    <div
      class="example-button-row col-sm-auto col-6 justify-content-end justify-content-sm-start d-flex"
    >
      <button
        mat-fab
        extended
        color="warn"
        matTooltip="Add New"
        (click)="openAddNewEntryDialogForm()"
        [disabled]="IsAddDialogOpened"

      >
        <mat-icon>add</mat-icon>
        Add
      </button>
    </div>
  </div>

  <!-- ----------------------- floating sheet button --------------------------- -->
  <div class="dialog_scrim" *ngIf="openMenu"></div>
  <button
    mat-fab
    color="accent"
    (click)="clickMenu()"
    class="menu-button"
    [class.mat-elevation-z2]="!isOver"
    [class.mat-elevation-z8]="isOver"
    (mouseover)="isOver = true"
    (mouseleave)="isOver = false"
    matTooltip="Change Sheet"
    matTooltipPosition="above"
  >
    <mat-icon *ngIf="!openMenu" class="rotate">cached</mat-icon>
    <mat-icon *ngIf="openMenu">closed</mat-icon>
  </button>

  <!-- menu button -->
  <!-- button1 -->
  <!-- -- button 3-- -->


  <!-- button 4 -->

  <button
    [disabled]="selectedSheetName === 'Fun_Buying'"
    mat-mini-fab
    class="action-button one text-white"
    *ngIf="openMenu"
    color="basic"
    (click)="onSheetSelect('Fun_Buying')"
  >
    <i class="material-icons">done_all</i>
  </button>
  <button
    [disabled]="selectedSheetName === 'Fun_Buying'"
    mat-raised-button
    class="label labelone text-white"
    *ngIf="openMenu"
    color="basic"
    (click)="onSheetSelect('Fun_Buying')"
  >
    Fun_Buying
  </button>


 <!-- button 5 -->

 <button
 [disabled]="selectedSheetName === 'Premium'"
 mat-mini-fab
 class="action-button two text-white"
 *ngIf="openMenu"
 color="basic"
 (click)="onSheetSelect('Premium')"
>
 <i class="material-icons">done_all</i>
</button>
<button
 [disabled]="selectedSheetName === 'Premium'"
 mat-raised-button
 class="label labeltwo text-white"
 *ngIf="openMenu"
 color="basic"
 (click)="onSheetSelect('Premium')"
>
Premium
</button>




<button
[disabled]="selectedSheetName === 'Money_Flow'"
mat-mini-fab
class="action-button three text-white"
*ngIf="openMenu"
color="basic"
(click)="onSheetSelect('Money_Flow')"
>
<i class="material-icons">done_all</i>
</button>
<button
[disabled]="selectedSheetName === 'Money_Flow'"
mat-raised-button
class="label labelthree text-white"
*ngIf="openMenu"
color="basic"
(click)="onSheetSelect('Money_Flow')"
>
Money_Flow
</button>




<button
[disabled]="selectedSheetName === 'Bonus'"
mat-mini-fab
class="action-button four text-white"
*ngIf="openMenu"
color="basic"
(click)="onSheetSelect('Bonus')"
>
<i class="material-icons">done_all</i>
</button>
<button
[disabled]="selectedSheetName === 'Bonus'"
mat-raised-button
class="label labelfour text-white"
*ngIf="openMenu"
color="basic"
(click)="onSheetSelect('Bonus')"
>
Bonus
</button>


 



  <!-- --------------------------   Sheets Routing  ------------------------- -->

  <div class="sheet-div row">
    <h1 style="font-weight:500">
      &nbsp;&nbsp;<img src="../../../assets/freebitcoin-seeklogo.com.svg.svg" alt="" srcset="" style="height:30px; width:30px; border-radius: 20px; background-color: black;"><span class="sheet-name">  {{ selectedSheetName }}</span>
    </h1>
    <router-outlet></router-outlet>
  </div>
  <div class="spacer py-5"></div>

</div>


