<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <div class="d-flex  text-white  bg-dark  justify-content-center align-items-center logo-div">


      <h1 class=" text-light m-0">DrkDr</h1>

    </div>
    <div class="d-flex  text-dark    justify-content-center dp-div">

      <div class="justify-content-center align-items-center text-center">
        <img [src]="userDetails?.photoURL" 
             [alt]="userDetails?.displayName" 
             class="rounded-circle profile-image" 
             onerror="this.src='assets/dashboard/userProfileEmpty.png'"/>
        <h2 class="text-muted mb-0 mt-2">{{userDetails?.displayName}}</h2>
        <p class="text-muted mb-0">{{userDetails?.email}}</p>
        <p class="mb-0">( DrkDr )</p>
      </div>

    </div>
    <mat-nav-list>
      <!-- -------------------------STARTS main accordion (binance , bybit,....,etc)------------------- -->
      <hr class="mt-0"> 

   <p class="text-muted pb-2 mb-0 ">ACCOUNT</p>
      <div class="title-text fw-600 d-flex flex-column top-link">
        <a mat-list-item [routerLink]="isPortfolioMainDashboardActive() ? [] :['dashboard']"
          [ngClass]="{'active-bg': isPortfolioMainDashboardActive() }" (click)="handleNavLinkClickAutoCollapse()">
          <mat-icon>dashboard</mat-icon>Dashboard
        </a>


      </div>

      <hr />

   
   
      <p class="text-muted pb-2 mb-0">TOOLS</p>

      <div class="title-text fw-600 d-flex flex-column">



        <a mat-list-item [routerLink]=" isDemoTradingActive() ? []:['demo-trading']"
          [ngClass]="{'active-bg': isDemoTradingActive()}" (click)="handleNavLinkClickAutoCollapse()">
          <i class="bi bi-bar-chart-line" style="font-size: 24px;"></i>&nbsp;&nbsp;Demo Trading
        </a>

      


        <a mat-list-item [routerLink]=" isTradingViewActive() ? []:['tradingview']"
          [ngClass]="{'active-bg': isTradingViewActive()}" (click)="handleNavLinkClickAutoCollapse()">
          <img src="../../../assets/icons8-tradingview-240.png" alt="" srcset="">&nbsp;&nbsp;Tradingview
        </a>




      </div>


      <!-- -------------------------STARTS main accordion (binance , bybit,....,etc)------------------- -->
    </mat-nav-list>
    <div class="spacer-20"></div>
  </mat-sidenav>

  <mat-sidenav-content class="bg-white">
    <mat-toolbar class="theme-bg-dark">
      <button type="button" aria-label="Toggle sidenav" area-hidden="true" mat-icon-button (click)="drawer.toggle()"
        class="toggle-button">
        <!-- *ngIf="isHandset$ | async " -->
        <mat-icon aria-label="Side nav toggle icon" class="text-light ">menu</mat-icon>

        <br />
      </button>



      <span class="example-spacer"></span>

      <div class=" text-light">




        <span class="fill-remaining-space">
          <!-- ----------------first drpdown------------ -->
          <!-- <button mat-icon-button (click)="open_SpotCoin_Search_Dialog()" matTooltip="Search Coin">
            <mat-icon>search</mat-icon>
          </button> -->
          <!-- <button mat-icon-button (click)="refresh()" matTooltip="Refresh">
            <mat-icon>refresh</mat-icon>
          </button> -->


   


<!--         
          <ng-container *ngIf="AreNewOrders && !destroyedComponentFlag && !allNewOrdersUploadedFlag; else noNewOrders">
            <button mat-icon-button (click)="openNewOrderDialog()" matTooltip="New Orders Found!">
              <mat-icon class="bell text-warning">notifications_active</mat-icon>
            </button>
          </ng-container> -->
<!-- 
          <ng-template #noNewOrders>
            <button mat-icon-button matTooltip="No New Orders" style="cursor: not-allowed;">
              <mat-icon class="text-light">notifications_none</mat-icon>
            </button>
          </ng-template> -->



       

          <button mat-icon-button *ngIf="IsMasterControlEnabled" (click)="onDisableMasterControl()"
            matTooltip="Disable Master Control">
            <mat-icon class="text-success">security</mat-icon>
          </button>

          <button mat-icon-button *ngIf="!IsMasterControlEnabled" (click)="openMasterControlDialog()"
            matTooltip="Enable Master Control">
            <mat-icon class="text-danger">security</mat-icon>
          </button>



          <button mat-icon-button [matMenuTriggerFor]="accountsMenu" #Accounts_menuTrigger="matMenuTrigger"
            matTooltip="Account" (click)="Accounts_menuTrigger.openMenu()">
            <mat-icon>person</mat-icon>
          </button>






          <mat-menu #accountsMenu="matMenu" [overlapTrigger]="false">

            <button mat-menu-item (click)="onLogout()">
              <mat-icon>logout</mat-icon>
              <span>Logout</span>
            </button>
            <button mat-menu-item [routerLink]="['/profile']">
              <mat-icon>settings</mat-icon>
              <span>Settings</span>
            </button>
      
          </mat-menu>


        </span>










      </div>
    </mat-toolbar>




    <!-- Add Content Here -->
    <div class="container-div">
      <router-outlet></router-outlet>
    </div>
    <!-- <app-binance></app-binance> -->
  </mat-sidenav-content>
</mat-sidenav-container>



