<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" class="searchCoin_Dialog">

  <div mat-dialog-title cdkDragHandle>
    <h1>Update Entry <br>
      <p class="mb-0" style='font-size: 10px;; margin-top:-6px'>{{exchangeName}} : {{sheetName}}</p>
    </h1>


  </div>

  <!-- <hr class="m-0" /> -->

  <div mat-dialog-content class="content">
    <!-- <hr> -->
    <!-- MEXC SHEETS starts-->
    <ng-container *ngIf="sheetName === 'Futures_ACT_Positions' || sheetName === 'Futures'">
      <form #form>


        <div class="row">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Choose Open Date</mat-label>
            <input matInput [matDatepicker]="openDate" name="Open_Date" [(ngModel)]="Open_Date" required>
            <button class="text-danger" *ngIf="Open_Date" matSuffix mat-icon-button aria-label="Clear" type="button"
              (click)="Open_Date = ''">
              <mat-icon>close</mat-icon>
            </button>

            <mat-hint>YYYY-DD-DD</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="openDate"></mat-datepicker-toggle>
            <mat-datepicker #openDate></mat-datepicker>
          </mat-form-field>
        </div>


        <div class="row pt-3">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Open_Time</mat-label>
            <input matInput name="Open_Time" [(ngModel)]="Open_Time" type="time" step="1" required />
            <mat-hint>HH:MM:SS</mat-hint>

            <button class="text-danger" *ngIf="Open_Time" matSuffix mat-icon-button aria-label="Clear" type="button"
              (click)="Open_Time = ''">

              <mat-icon>close</mat-icon>
            </button>

          </mat-form-field>
        </div>





        <div class="row pt-3">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Trading_Pair</mat-label>

            <input matInput type="text" placeholder="Pair" [(ngModel)]="Trading_Pair" name="Trading_Pair" required />

            <button class="text-danger" *ngIf="Trading_Pair" matSuffix mat-icon-button aria-label="Clear" type="button"
              (click)="Trading_Pair = ''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="row pb-4">
          <mat-label>Direction*</mat-label>
          <mat-chip-listbox aria-label="Order_Type selection" [(ngModel)]="Direction" name="Direction" required>
            <mat-chip-option color="accent">BUY</mat-chip-option>
            <mat-chip-option color="warn">SELL</mat-chip-option>
          </mat-chip-listbox>
        </div>
        <div class="row">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Leverage</mat-label>
            <!-- <span matTextPrefix>₮&nbsp;</span> -->
            <input matInput type="number" placeholder="0" [(ngModel)]="Leverage" name="Leverage" required />
            <button class="text-danger" *ngIf="Leverage" matSuffix mat-icon-button aria-label="Clear" type="button"
              (click)="Leverage = 0">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Amount_Coin</mat-label>
            <!-- <span matTextPrefix>₮&nbsp;</span> -->
            <input matInput type="number" placeholder="0 " [(ngModel)]="Amount_Coin" name="Amount_Coin" required />
            <button class="text-danger" *ngIf="Amount_Coin" matSuffix mat-icon-button aria-label="Clear" type="button"
              (click)="Amount_Coin = ''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Entry_Price</mat-label>
            <!-- <span matTextPrefix>₮&nbsp;</span> -->
            <input matInput type="number" placeholder="₮ 0" [(ngModel)]="Entry_Price" name="Entry_Price" required />

            <button class="text-danger" *ngIf="Entry_Price" matSuffix mat-icon-button aria-label="Clear" type="button"
              (click)="Entry_Price = ''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Exit_Price</mat-label>
            <!-- <span matTextPrefix>₮&nbsp;</span> -->
            <input matInput type="number" placeholder="₮ 0" [(ngModel)]="Exit_Price" name="Exit_Price" />
            <button class="text-danger" *ngIf="Exit_Price" matSuffix mat-icon-button aria-label="Clear" type="button"
              (click)="Exit_Price = ''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Pnl_USDT</mat-label>
            <input matInput type="number" placeholder="₮ 0" [(ngModel)]="Pnl_USDT" name="Pnl_USDT" />
            <button class="text-danger" *ngIf="Pnl_USDT" matSuffix mat-icon-button aria-label="Clear" type="button"
              (click)="Pnl_USDT = ''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>


        <div class="row pt-3">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Influencer</mat-label>

            <input matInput type="text" placeholder="Pair" [(ngModel)]="Influencer" name="Influencer" />

            <button class="text-danger" *ngIf="Influencer" matSuffix mat-icon-button aria-label="Clear" type="button"
              (click)="Influencer = ''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>






        <div class="row pt-3">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Choose Close Date</mat-label>
            <input matInput [matDatepicker]="closeDate" name="Close_Date" [(ngModel)]="Close_Date">
            <button class="text-danger" *ngIf="Close_Date" matSuffix mat-icon-button aria-label="Clear" type="button"
              (click)="Close_Date = ''">
              <mat-icon>close</mat-icon>
            </button>

            <mat-hint>YYYY-DD-DD</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="closeDate"></mat-datepicker-toggle>
            <mat-datepicker #closeDate></mat-datepicker>
          </mat-form-field>
        </div>


        <div class="row pt-3 ">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Close_Time</mat-label>
            <input matInput name="Close_Time" [(ngModel)]="Close_Time" type="time" step="1" />
            <mat-hint>HH:MM:SS</mat-hint>

            <button class="text-danger" *ngIf="Close_Time" matSuffix mat-icon-button aria-label="Clear" type="button"
              (click)="Close_Time = ''">

              <mat-icon>close</mat-icon>
            </button>

          </mat-form-field>
        </div>







      </form>
    </ng-container>
    <!-- MEXC SHEETS ends-->


    <!-- Common SHEETS starts-->
    <ng-container *ngIf="sheetName === 'Spot_Trades' ">

      <form #form>
        <div class="row">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="date" name="Date" [(ngModel)]="Date" required>
            <button class="text-danger" *ngIf="Date" matSuffix mat-icon-button aria-label="Clear" type="button"
              (click)="Date = ''">
              <mat-icon>close</mat-icon>
            </button>

            <mat-hint>YYYY-DD-DD</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
            <mat-datepicker #date></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="row pt-3">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Time*</mat-label>
            <input matInput name="Time" [(ngModel)]="Time" type="time" step="1" required />
            <mat-hint>HH:MM:SS</mat-hint>

            <button class="text-danger" *ngIf="Time" matSuffix mat-icon-button aria-label="Clear" type="button"
              (click)="Time = ''">

              <mat-icon>close</mat-icon>
            </button>

          </mat-form-field>
        </div>

        <div class="row pt-3">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Market</mat-label>

            <input matInput type="text" placeholder="Pair" [(ngModel)]="Market" name="Market" required />

            <button class="text-danger" *ngIf="Market" matSuffix mat-icon-button aria-label="Clear" type="button"
              (click)="Market = ''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="row pb-4">
          <mat-label>Direction*</mat-label>
          <mat-chip-listbox aria-label="Type selection" [(ngModel)]="Direction" name="Type" required>
            <mat-chip-option color="accent">BUY</mat-chip-option>
            <mat-chip-option color="warn">SELL</mat-chip-option>
          </mat-chip-listbox>
        </div>

        <div class="row">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Price</mat-label>
            <!-- <span matTextPrefix>₮&nbsp;</span> -->
            <input matInput type="number" placeholder="₮ 0" [(ngModel)]="Price" name="Price" required />
            <button class="text-danger" *ngIf="Price" matSuffix mat-icon-button aria-label="Clear" (click)="Price = ''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <div class="row pt-3">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Amount</mat-label>
            <!-- <span matTextPrefix>₮&nbsp;</span> -->
            <input matInput type="number" placeholder="0" [(ngModel)]="Amount" name="Amount" required />
            <button class="text-danger" *ngIf="Amount" matSuffix mat-icon-button aria-label="Clear" type="button"
              (click)="Amount = ''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <div class="row pt-3">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Fees</mat-label>
            <!-- <span matTextPrefix>₮&nbsp;</span> -->
            <input matInput type="number" placeholder="₮ 0" [(ngModel)]="Fees" name="Fees" required />
            <button class="text-danger" *ngIf="Fees" matSuffix mat-icon-button aria-label="Clear" type="button"
              (click)="Fees = ''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <div class="row pt-3">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Fee_Asset</mat-label>
            <input matInput type="text" placeholder="Fee Asset" [(ngModel)]="Fee_Asset" name="Fee_Asset" required />
            <button class="text-danger" *ngIf="Fee_Asset" matSuffix mat-icon-button aria-label="Clear" type="button"
              (click)="Fee_Asset = ''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <div class="row pt-3">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Influencer</mat-label>

            <input matInput type="text" placeholder="Influencer Name" [(ngModel)]="Influencer" name="Influencer" />

            <button class="text-danger" *ngIf="Influencer" matSuffix mat-icon-button aria-label="Clear" type="button"
              (click)="Influencer = ''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <div class="row pt-3">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>TradingView_Account</mat-label>

            <input matInput type="text" placeholder="email id" [(ngModel)]="TradingView_Account"
              name="TradingView_Account" />

            <button class="text-danger" *ngIf="TradingView_Account" matSuffix mat-icon-button aria-label="Clear"
              type="button" (click)="TradingView_Account = ''">
              <mat-icon>close</mat-icon>

            </button>
          </mat-form-field>
        </div>

        <div class="row pt-3">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Period</mat-label>

            <textarea matInput placeholder="Period" [(ngModel)]="Period" name="Period"></textarea>

            <button class="text-danger" *ngIf="Period" matSuffix mat-icon-button aria-label="Clear" type="button"
              (click)="Period = ''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>



        <div class="row pt-3">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Notes</mat-label>
            <textarea matInput placeholder="Notes" [(ngModel)]="Notes" name="Notes"></textarea>
            <button class="text-danger" *ngIf="Notes" matSuffix mat-icon-button aria-label="Clear" type="button"
              (click)="Notes = ''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>






      </form>

    </ng-container>


    <ng-container *ngIf="sheetName==='Money_Flow' && exchangeName!='Freebitco'">


      <div class="row">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="date" name="Date" [(ngModel)]="Date" required>
          <button class="text-danger" *ngIf="Date" matSuffix mat-icon-button aria-label="Clear" type="button"
            (click)="Date = ''">
            <mat-icon>close</mat-icon>
          </button>

          <mat-hint>YYYY-DD-DD</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
          <mat-datepicker #date></mat-datepicker>
        </mat-form-field>
      </div>


      <div class="row pt-3">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Time*</mat-label>
          <input matInput name="Time" [(ngModel)]="Time" type="time" step="1" required />
          <mat-hint>HH:MM:SS</mat-hint>

          <button class="text-danger" *ngIf="Time" matSuffix mat-icon-button aria-label="Clear" type="button"
            (click)="Time = ''">

            <mat-icon>close</mat-icon>
          </button>

        </mat-form-field>
      </div>




      <div class="row pt-3">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Amount_USDT</mat-label>
          <!-- <span matTextPrefix>₮&nbsp;</span> -->
          <input matInput type="number" placeholder="₮ 0" [(ngModel)]="Amount_USDT" name="Amount_USDT" required />
          <button class="text-danger" *ngIf="Amount_USDT" matSuffix mat-icon-button aria-label="Clear" type="button"
            (click)="Amount_USDT = ''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>




      <div class="row pt-3">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Fees</mat-label>
          <!-- <span matTextPrefix>₮&nbsp;</span> -->
          <input matInput type="number" placeholder="₮ 0" [(ngModel)]="Fees" name="Fees" required />
          <button class="text-danger" *ngIf="Fees" matSuffix mat-icon-button aria-label="Clear" type="button"
            (click)="Fees = ''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>


      <div class="row pt-3">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Network</mat-label>
          <!-- <span matTextPrefix>₮&nbsp;</span> -->
          <input matInput type="text" placeholder="Network Chain" [(ngModel)]="Network" name="Network" required />
          <button class="text-danger" *ngIf="Network" matSuffix mat-icon-button aria-label="Clear" type="button"
            (click)="Network = ''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>



      <div class="row pb-4">
        <mat-label>Type*</mat-label>
        <mat-chip-listbox aria-label="Type selection" [(ngModel)]="Type" name="Type" required>
          <mat-chip-option color="accent">DEPOSIT</mat-chip-option>
          <mat-chip-option color="warn">WITHDRAW</mat-chip-option>
        </mat-chip-listbox>
      </div>



      <div class="row pt-3">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Exchange</mat-label>
          <!-- <span matTextPrefix>₮&nbsp;</span> -->
          <input matInput type="text" placeholder="Exchange name" [(ngModel)]="Exchange" name="Exchange" required />
          <button class="text-danger" *ngIf="Exchange" matSuffix mat-icon-button aria-label="Clear" type="button"
            (click)="Exchange = ''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Account</mat-label>
          <!-- <span matTextPrefix>₮&nbsp;</span> -->
          <input matInput type="text" placeholder="Account Email" [(ngModel)]="Account" name="Account" required />
          <button class="text-danger" *ngIf="Account" matSuffix mat-icon-button aria-label="Clear" type="button"
            (click)="Account = ''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="row pt-3">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Notes</mat-label>
          <textarea matInput placeholder="Notes" [(ngModel)]="Notes" name="Notes"></textarea>
          <button class="text-danger" *ngIf="Notes" matSuffix mat-icon-button aria-label="Clear" type="button"
            (click)="Notes = ''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>


    </ng-container>


    <ng-container *ngIf="sheetName==='P2P'">


      <div class="row">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="date" name="Date" [(ngModel)]="Date" required>
          <button class="text-danger" *ngIf="Date" matSuffix mat-icon-button aria-label="Clear" type="button"
            (click)="Date = ''">
            <mat-icon>close</mat-icon>
          </button>

          <mat-hint>YYYY-DD-DD</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
          <mat-datepicker #date></mat-datepicker>
        </mat-form-field>
      </div>


      <div class="row pt-3">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Time*</mat-label>
          <input matInput name="Time" [(ngModel)]="Time" type="time" step="1" required />
          <mat-hint>HH:MM:SS</mat-hint>

          <button class="text-danger" *ngIf="Time" matSuffix mat-icon-button aria-label="Clear" type="button"
            (click)="Time = ''">

            <mat-icon>close</mat-icon>
          </button>

        </mat-form-field>
      </div>




      <div class="row py-3">
        <mat-label>Order_Type*</mat-label>
        <mat-chip-listbox aria-label="Order_Type selection" [(ngModel)]="Order_Type" name="Order_Type">
          <mat-chip-option color="accent">BUY</mat-chip-option>
          <mat-chip-option color="warn" selected>SELL</mat-chip-option>
        </mat-chip-listbox>
      </div>
      <div class="row">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Price</mat-label>
          <input matInput type="number" placeholder="₮ 0" [(ngModel)]="Price" name="Price" required />
          <button class="text-danger" *ngIf="Price" matSuffix mat-icon-button aria-label="Clear" type="button"
            (click)="Price = ''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Amount_USDT</mat-label>
          <input matInput type="number" placeholder="₮ 0" [(ngModel)]="Amount_USDT" name="Amount_USDT" required />
          <button class="text-danger" *ngIf="Amount_USDT" matSuffix mat-icon-button aria-label="Clear" type="button"
            (click)="Amount_USDT = ''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>


      <div class="row">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Amount_INR</mat-label>
          <input matInput type="number" placeholder="₹ 0" [(ngModel)]="Amount_INR" name="Amount_INR" required />
          <button class="text-danger" *ngIf="Amount_INR" matSuffix mat-icon-button aria-label="Clear" type="button"
            (click)="Amount_INR = ''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="row pt-3">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Notes</mat-label>
          <textarea matInput placeholder="Notes" [(ngModel)]="Notes" name="Notes"></textarea>
          <button class="text-danger" *ngIf="Notes" matSuffix mat-icon-button aria-label="Clear" type="button"
            (click)="Notes = ''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>


    </ng-container>
    <!-- Common SHEETS ends-->


    <!-- BYBIT SHEETS starts -->
    <ng-container *ngIf="sheetName==='Futures_Closed_Pnl'">


      <div class="row">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="date" name="Date" [(ngModel)]="Date" required>
          <button class="text-danger" *ngIf="Date" matSuffix mat-icon-button aria-label="Clear" type="button"
            (click)="Date = ''">
            <mat-icon>close</mat-icon>
          </button>

          <mat-hint>YYYY-DD-DD</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
          <mat-datepicker #date></mat-datepicker>
        </mat-form-field>
      </div>


      <div class="row pt-3">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Time*</mat-label>
          <input matInput name="Time" [(ngModel)]="Time" type="time" step="1" required />
          <mat-hint>HH:MM:SS</mat-hint>

          <button class="text-danger" *ngIf="Time" matSuffix mat-icon-button aria-label="Clear" type="button"
            (click)="Time = ''">

            <mat-icon>close</mat-icon>
          </button>

        </mat-form-field>
      </div>




      <div class="row pt-3">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Contracts</mat-label>

          <input matInput type="text" placeholder="Pair" [(ngModel)]="Contracts" name="Contracts" required />

          <button class="text-danger" *ngIf="Contracts" matSuffix mat-icon-button aria-label="Clear" type="button"
            (click)="Contracts = ''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="row pb-4">
        <mat-label>Opening_Direction*</mat-label>
        <mat-chip-listbox aria-label="Opening_Direction selection" [(ngModel)]="Opening_Direction"
          name="Opening_Direction" required>
          <mat-chip-option color="accent">BUY</mat-chip-option>
          <mat-chip-option color="warn">SELL</mat-chip-option>
        </mat-chip-listbox>
      </div>

      <!-- <div class="row pb-4">
    <mat-label>Closing_Direction*</mat-label>
    <mat-chip-listbox aria-label="Closing_Direction selection" [(ngModel)]="Closing_Direction" name="Closing_Direction" required>
      <mat-chip-option color="accent">BUY</mat-chip-option>
      <mat-chip-option color="warn">SELL</mat-chip-option>
    </mat-chip-listbox>
  </div> -->

      <div class="row pt-3">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Leverage</mat-label>
          <!-- <span matTextPrefix>₮&nbsp;</span> -->
          <input matInput type="number" placeholder="0" [(ngModel)]="Leverage" name="Leverage" required />
          <button class="text-danger" *ngIf="Leverage" matSuffix mat-icon-button aria-label="Clear" type="button"
            (click)="Leverage = 0">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="row pt-3">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Qty</mat-label>
          <!-- <span matTextPrefix>₮&nbsp;</span> -->
          <input matInput type="number" placeholder="0" [(ngModel)]="Qty" name="Qty" required />
          <button class="text-danger" *ngIf="Qty" matSuffix mat-icon-button aria-label="Clear" type="button"
            (click)="Qty = ''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>


      <div class="row pt-3">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Entry_Price</mat-label>
          <!-- <span matTextPrefix>₮&nbsp;</span> -->
          <input matInput type="number" placeholder="₮ 0" [(ngModel)]="Entry_Price" name="Entry_Price" required />
          <button class="text-danger" *ngIf="Entry_Price" matSuffix mat-icon-button aria-label="Clear" type="button"
            (click)="Entry_Price = ''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>



      <div class="row pt-3">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Exit_Price</mat-label>
          <!-- <span matTextPrefix>₮&nbsp;</span> -->
          <input matInput type="number" placeholder="₮ 0" [(ngModel)]="Exit_Price" name="Exit_Price" required />
          <button class="text-danger" *ngIf="Exit_Price" matSuffix mat-icon-button aria-label="Clear" type="button"
            type="button" (click)="Exit_Price = ''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Closed_Pnl</mat-label>
          <input matInput type="number" placeholder="₮ 0" [(ngModel)]="Closed_Pnl" name="Closed_Pnl" required />
          <button class="text-danger" *ngIf="Closed_Pnl" matSuffix mat-icon-button aria-label="Clear" type="button"
            (click)="Closed_Pnl = ''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>


      <div class="row">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Closed_Pnl_Percentage</mat-label>
          <input matInput type="number" placeholder="0" [(ngModel)]="Closed_Pnl_Percentage"
            name="Closed_Pnl_Percentage" />
          <button class="text-danger" *ngIf="Closed_Pnl_Percentage" matSuffix mat-icon-button aria-label="Clear"
            type="button" (click)="Closed_Pnl_Percentage = ''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="row pt-3">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Influencer</mat-label>

          <input matInput type="text" placeholder="Influencer Name" [(ngModel)]="Influencer" name="Influencer" />

          <button class="text-danger" *ngIf="Influencer" matSuffix mat-icon-button aria-label="Clear" type="button"
            (click)="Influencer = ''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="row pt-3">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Notes</mat-label>
          <textarea matInput placeholder="Notes" [(ngModel)]="Notes" name="Notes"></textarea>
          <button class="text-danger" *ngIf="Notes" matSuffix mat-icon-button aria-label="Clear" type="button"
            (click)="Notes = ''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>


    </ng-container>
    <!-- BYBIT SHEETS ends -->

    <ng-container *ngIf="exchangeName === 'Portfolio_Notes' && sheetName === 'Notes'">

      <div class="row">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="date" name="Date" [(ngModel)]="Date" required>
          <button class="text-danger" *ngIf="Date" matSuffix mat-icon-button aria-label="Clear" type="button"
            (click)="Date = ''">
            <mat-icon>close</mat-icon>
          </button>

          <mat-hint>YYYY-DD-DD</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
          <mat-datepicker #date></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="row pt-3">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Time*</mat-label>
          <input matInput name="Time" [(ngModel)]="Time" type="time" step="1" required />
          <mat-hint>HH:MM:SS</mat-hint>

          <button class="text-danger" *ngIf="Time" matSuffix mat-icon-button aria-label="Clear" type="button"
            (click)="Time = ''">

            <mat-icon>close</mat-icon>
          </button>

        </mat-form-field>
      </div>

      <div class="row py-3">
        <mat-label>Type*</mat-label>
        <mat-chip-listbox aria-label="Type selection" [(ngModel)]="Type" name="Type" required>
          <mat-chip-option color="accent">STARTS</mat-chip-option>
          <mat-chip-option color="warn">ENDS</mat-chip-option>
        </mat-chip-listbox>
      </div>

      <div class="row pt-3">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Exchange</mat-label>

          <input matInput type="text" placeholder="Exchange Name" [(ngModel)]="Exchange" name="Exchange" required />

          <button class="text-danger" *ngIf="Exchange" matSuffix mat-icon-button aria-label="Clear" type="button"
            (click)="Exchange = ''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Sheet</mat-label>
          <!-- <span matTextPrefix>₮&nbsp;</span> -->
          <input matInput type="text" placeholder="Sheet Name" [(ngModel)]="Sheet" name="Sheet" required />
          <button class="text-danger" *ngIf="Sheet" matSuffix mat-icon-button aria-label="Clear" type="button"
            (click)="Sheet = ''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="row pt-3">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Notes</mat-label>
          <textarea matInput placeholder="Notes" [(ngModel)]="Notes" name="Notes"></textarea>
          <button class="text-danger" *ngIf="Notes" matSuffix mat-icon-button aria-label="Clear" type="button"
            (click)="Notes = ''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

    </ng-container>


    <ng-container *ngIf=" sheetName === 'SIP_Open_Orders'">

      <div class="row">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="date" name="Date" [(ngModel)]="Date" required>
          <button class="text-danger" *ngIf="Date" matSuffix mat-icon-button aria-label="Clear" type="button"
            (click)="Date = ''">
            <mat-icon>close</mat-icon>
          </button>

          <mat-hint>YYYY-DD-DD</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
          <mat-datepicker #date></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="row pt-3">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Time*</mat-label>
          <input matInput name="Time" [(ngModel)]="Time" type="time" step="1" required />
          <mat-hint>HH:MM:SS</mat-hint>

          <button class="text-danger" *ngIf="Time" matSuffix mat-icon-button aria-label="Clear" type="button"
            (click)="Time = ''">

            <mat-icon>close</mat-icon>
          </button>

        </mat-form-field>
      </div>



      <div class="row pt-3">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Trading_Pair</mat-label>

          <input matInput type="text" placeholder="Trading_Pair" [(ngModel)]="Trading_Pair" name="Trading_Pair"
            required />

          <button class="text-danger" *ngIf="Trading_Pair" matSuffix mat-icon-button aria-label="Clear" type="button"
            (click)="Trading_Pair = ''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="row py-3">
        <mat-label>Type*</mat-label>
        <mat-chip-listbox aria-label="Type selection" [(ngModel)]="Type" name="Type" required>
          <mat-chip-option color="accent">BUY</mat-chip-option>
          <mat-chip-option color="warn">SELL</mat-chip-option>
        </mat-chip-listbox>
      </div>



      <div class="row">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Price</mat-label>
          <input matInput type="number" placeholder="₮ 0" [(ngModel)]="Price" (ngModelChange)="calculateAmount()"
            name="Price" required />
          <button class="text-danger" *ngIf="Price" matSuffix mat-icon-button aria-label="Clear" type="button"
            (click)="Price = 0; calculateAmount()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="row pt-3">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Qty_Open_Order</mat-label>
          <input matInput type="number" placeholder="0" [(ngModel)]="Qty_Open_Order" (ngModelChange)="calculateAmount()"
            name="Qty_Open_Order" required />
          <button class="text-danger" *ngIf="Qty_Open_Order" matSuffix mat-icon-button aria-label="Clear" type="button"
            (click)="Qty_Open_Order = 0; calculateAmount()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="row pt-3">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Amount</mat-label>
          <input matInput type="number" placeholder="0" [(ngModel)]="Amount" name="Amount" />
          <button class="text-danger" *ngIf="Amount" matSuffix mat-icon-button aria-label="Clear" type="button"
            (click)="Amount = 0" disabled>
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>


      <div class="row py-3">
        <mat-label>Filled*</mat-label>
        <mat-chip-listbox aria-label="Filled selection" [(ngModel)]="Filled" name="Filled" required>
          <mat-chip-option color="accent">YES</mat-chip-option>
          <mat-chip-option color="warn">NO</mat-chip-option>
        </mat-chip-listbox>
      </div>

      <div class="row py-3">
        <mat-label>Is_Placed*</mat-label>
        <mat-chip-listbox aria-label="Is_Placed selection" [(ngModel)]="Is_Placed" name="Is_Placed" required>
          <mat-chip-option color="accent">YES</mat-chip-option>
          <mat-chip-option color="warn">NO</mat-chip-option>
        </mat-chip-listbox>
      </div>



      <div class="row py-3">
        <mat-label>IS_TradingView_Setup*</mat-label>
        <mat-chip-listbox aria-label="IS_TradingView_Setup selection" [(ngModel)]="IS_TradingView_Setup"
          name="IS_TradingView_Setup" required>
          <mat-chip-option color="accent">YES</mat-chip-option>
          <mat-chip-option color="warn">NO</mat-chip-option>
        </mat-chip-listbox>
      </div>


      <div class="row pt-3">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>TradingView_Account</mat-label>

          <input matInput type="text" placeholder="email id" [(ngModel)]="TradingView_Account"
            name="TradingView_Account" required>

          <button class="text-danger" *ngIf="TradingView_Account" matSuffix mat-icon-button aria-label="Clear"
            type="button" (click)="TradingView_Account = ''">
            <mat-icon>close</mat-icon>

          </button>
        </mat-form-field>
      </div>



    </ng-container>

    <!-- FREEBITCO SHEETS starts -->
    <ng-container id="Freebitco" *ngIf="exchangeName === 'Freebitco'">


      <ng-container *ngIf="sheetName=='Money_Flow' ">

        <div class="row">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="date" [max]="today" name="Date" [(ngModel)]="Date" required
              tabIndex="-1">
            <button class="text-danger" *ngIf="Date" matSuffix mat-icon-button  aria-label="Clear" type="button" 
              (click)="Date = ''" tabIndex="-1">
              <mat-icon>close</mat-icon>
            </button>

            <mat-hint>YYYY-DD-DD</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
            <mat-datepicker #date></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="row pt-3">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Time*</mat-label>
            <input matInput name="Time" [(ngModel)]="Time" type="time" step="1" required />
            <mat-hint>HH:MM:SS</mat-hint>

            <button class="text-danger" *ngIf="Time" matSuffix mat-icon-button  aria-label="Clear" type="button" 
              (click)="Time = ''" tabIndex="-1">

              <mat-icon>close</mat-icon>
            </button>

          </mat-form-field>
        </div>

        <div class="row pt-3 pb-4">
          <mat-label>Type*</mat-label>
          <mat-chip-listbox aria-label="Order_Type selection" [(ngModel)]="Type" name="Type" required>
            <mat-chip-option color="accent">WITHDRAW</mat-chip-option>
            <mat-chip-option color="warn">DEPOSIT</mat-chip-option>
          </mat-chip-listbox>
        </div>

        <div class="row">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Quantity</mat-label>

            <input matInput type="number" [placeholder]="
            Type === 'DEPOSIT'
              ? 'Deposited FUN Quantity'
              : Type === 'WITHDRAW'
              ? 'Withdrawn FUN Quantity'
              : 'Quantity FUN'
          " [(ngModel)]="Quantity" name="Quantity" required />

            <button class="text-danger" *ngIf="Quantity" matSuffix mat-icon-button  aria-label="Clear" type="button" 
              (click)="Quantity = ''" tabIndex="-1">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>




        <div class="row">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Price</mat-label>
            <!-- <span matTextPrefix>₮&nbsp;</span> -->
            <input matInput type="number" placeholder="₮ 0" [(ngModel)]="Price" name="Price" required />
            <button class="text-danger" *ngIf="Price" matSuffix mat-icon-button  aria-label="Clear" type="button" 
              (click)="Price = ''" tabIndex="-1">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Fees</mat-label>
            <!-- <span matTextPrefix>₮&nbsp;</span> -->
            <input matInput type="number" [placeholder]="
            Type === 'DEPOSIT'
              ? 'Deposit fee'
              : Type === 'WITHDRAW'
              ? 'Withdraw fee'
              : '₮ 0 Fee'
          " [(ngModel)]="Fees" name="Fees" required />
            <button class="text-danger" *ngIf="Fees" matSuffix mat-icon-button  aria-label="Clear" type="button"  (click)="Fees = 0"
              tabIndex="-1">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>




        <div class="row">
          <mat-form-field appearance="outline" floatLabel="always" class="example-full-width">
            <mat-label>Exchange</mat-label>
            <input type="text" [placeholder]="
              Type === 'DEPOSIT' ? 'Exchange from deposited' : 
              Type === 'WITHDRAW' ? 'Exchange where withdrawn' : 'Exchange Name'" aria-label="Exchange" matInput
              [(ngModel)]="Exchange" [formControl]="exchangesControl" [matAutocomplete]="exchangeAuto"
              name="Exchange">
            <mat-autocomplete #exchangeAuto="matAutocomplete">
              <mat-option *ngFor="let option of filteredExchanges | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
            <button class="text-danger" *ngIf="Exchange" matSuffix mat-icon-button  aria-label="Clear" type="button" 
              (click)="clearExchange()" tabIndex="-1">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>


        <div class="row">
          <mat-form-field appearance="outline" floatLabel="always" class="example-full-width">
            <mat-label>Account</mat-label>
            <input type="text" [placeholder]="
              Type === 'DEPOSIT' ? 'Account from deposited' : 
              Type === 'WITHDRAW' ? 'Account where withdrawn' : 'Account Name'" aria-label="Account" matInput
              [(ngModel)]="Account" [formControl]="accountsControl" [matAutocomplete]="accountAuto" name="Account">
            <mat-autocomplete #accountAuto="matAutocomplete">
              <mat-option *ngFor="let option of filteredAccounts | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
            <button class="text-danger" *ngIf="Account" matSuffix mat-icon-button  aria-label="Clear" type="button" 
              (click)="clearAccount()" tabIndex="-1">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Notes</mat-label>
            <textarea matInput placeholder="Notes" [(ngModel)]="Notes" name="Notes"></textarea>
            <button class="text-danger" *ngIf="Notes" matSuffix mat-icon-button  aria-label="Clear" type="button" 
              (click)="Notes = ''" tabIndex="-1">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>

      


      </ng-container>

      <ng-container *ngIf="sheetName === 'Fun_Buying'">

        <div class="row">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="date" [max]="today" name="Date" [(ngModel)]="Date" required
              tabIndex="-1">
            <button class="text-danger" *ngIf="Date" matSuffix mat-icon-button  aria-label="Clear" type="button" 
              (click)="Date = ''" tabIndex="-1">
              <mat-icon>close</mat-icon>
            </button>

            <mat-hint>D/M/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
            <mat-datepicker #date></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="row pt-3">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Time*</mat-label>
            <input matInput name="Time" [(ngModel)]="Time" type="time" step="1" required />
            <mat-hint>HH:MM:SS</mat-hint>

            <button class="text-danger" *ngIf="Time" matSuffix mat-icon-button  aria-label="Clear" type="button" 
              (click)="Time = ''" tabIndex="-1">

              <mat-icon>close</mat-icon>
            </button>

          </mat-form-field>
        </div>

        <div class="row pt-3">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Price</mat-label>
            <!-- <span matTextPrefix>₮&nbsp;</span> -->
            <input matInput type="number" placeholder="₮ 0" [(ngModel)]="Price" name="Price" required />
            <button class="text-danger" *ngIf="Price" matSuffix mat-icon-button  aria-label="Clear" type="button" 
              (click)="Price = ''" tabIndex="-1">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <div class="row pb-4">
          <mat-label>Type</mat-label>
          <mat-chip-listbox aria-label="Type selection" [(ngModel)]="Type" name="Type">
            <mat-chip-option color="accent">BUY</mat-chip-option>
            <mat-chip-option color="warn">SELL</mat-chip-option>
          </mat-chip-listbox>
        </div>
        <div class="row ">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Amount</mat-label>

            <input matInput type="number" [placeholder]="
            Type === 'BUY'
              ? 'Amount of FUN bought'
              : Type === 'SELL'
              ? 'Amount of FUN sold'
              : 'Amount of FUN'
          " [(ngModel)]="Amount" name="Amount" required />

            <button class="text-danger" *ngIf="Amount" matSuffix mat-icon-button  aria-label="Clear" type="button" 
              (click)="Amount = 0" tabIndex="-1">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>

      </ng-container>


      <ng-container *ngIf="sheetName === 'Premium' ">



        <div class="row">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="date" [max]="today" name="Date" [(ngModel)]="Date" required tabIndex="-1">
            <button class="text-danger" *ngIf="Date" matSuffix mat-icon-button aria-label="Clear" type="button"
              (click)="Date = ''" tabIndex="-1">
              <mat-icon>close</mat-icon>
            </button>

            <mat-hint>D/M/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
            <mat-datepicker #date></mat-datepicker>
          </mat-form-field>
        </div>


        <div class="row py-3">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Time*</mat-label>
            <input matInput name="Time" [(ngModel)]="Time" type="time" step="1" required />
            <mat-hint>HH:MM:SS</mat-hint>

            <button class="text-danger" *ngIf="Time" matSuffix mat-icon-button aria-label="Clear" type="button"
              (click)="Time = ''" tabIndex="-1">

              <mat-icon>close</mat-icon>
            </button>

          </mat-form-field>
        </div>

        <div class="row ">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Principal</mat-label>

            <input matInput type="number" placeholder="0" [(ngModel)]="Principal" name="Principal" required />

            <button class="text-danger" *ngIf="Principal" matSuffix mat-icon-button aria-label="Clear" type="button"
              (click)="Principal = 0" tabIndex="-1">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="row ">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Maturity</mat-label>

            <input matInput type="number" placeholder="0" [(ngModel)]="Maturity" name="Maturity" required />

            <button class="text-danger" *ngIf="Maturity" matSuffix mat-icon-button aria-label="Clear" type="button"
              (click)="Maturity = 0" tabIndex="-1">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="row ">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Earning</mat-label>

            <input matInput type="number" placeholder="0" [(ngModel)]="Earning" name="Earning" required />

            <button class="text-danger" *ngIf="Earning" matSuffix mat-icon-button aria-label="Clear" type="button"
              (click)="Earning = 0" tabIndex="-1">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="row ">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Days</mat-label>

            <input matInput type="number" placeholder="0" [(ngModel)]="Days" name="PrincDaysipal" required />

            <button class="text-danger" *ngIf="Days" matSuffix mat-icon-button aria-label="Clear" (click)="Days = 0"
              tabIndex="-1">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="row ">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>APY</mat-label>

            <input matInput type="number" placeholder="0" [(ngModel)]="APY" name="APY" required />

            <button class="text-danger" *ngIf="APY" matSuffix mat-icon-button aria-label="Clear" (click)="APY = 0"
              tabIndex="-1">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Choose Closing Date</mat-label>
            <input matInput [matDatepicker]="closingdate" name="Expires_Date" [(ngModel)]="Expires_Date" tabIndex="-1">
            <button class="text-danger" *ngIf="Expires_Date" matSuffix mat-icon-button aria-label="Clear" type="button"
              (click)="Expires_Date = ''" tabIndex="-1">
              <mat-icon>close</mat-icon>
            </button>

            <mat-hint>YYYY-DD-DD</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="closingdate"></mat-datepicker-toggle>
            <mat-datepicker #closingdate></mat-datepicker>
          </mat-form-field>
        </div>


        <div class="row pt-3 ">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Expires_Time</mat-label>
            <input matInput name="Expires_Time" [(ngModel)]="Expires_Time" type="time" step="1" />
            <mat-hint>HH:MM:SS</mat-hint>

            <button class="text-danger" *ngIf="Expires_Time" matSuffix mat-icon-button aria-label="Clear" type="button"
              (click)="Expires_Time = ''" tabIndex="-1">

              <mat-icon>close</mat-icon>
            </button>

          </mat-form-field>
        </div>

        <div class="row pt-4">
          <mat-label>Status*</mat-label>
          <mat-chip-listbox aria-label="Status selection" [(ngModel)]="Status" name="Status" required>
            <mat-chip-option color="accent">Matured</mat-chip-option>
            <mat-chip-option color="warn">Un-Matured</mat-chip-option>
          </mat-chip-listbox>
        </div>


      </ng-container>

    </ng-container>
    <!-- FREEBITCO SHEETS ends -->

  </div>




  <div mat-dialog-actions class="action">
    <button mat-raised-button color="warn" (click)="onClose()">Close</button>
    <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!isFormValid() || isNewEntrySubmitted">

      <span *ngIf="isNewEntrySubmitted">Updating...</span>
      <span *ngIf="!isNewEntrySubmitted">Update</span>

    </button>


    <p class="mb-0" *ngIf="SubmittedEntityCount!=0" style="position:absolute; left:20px; padding-right:12px">Updated
      <span
        class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">{{SubmittedEntityCount}}
      </span>
    </p>


  </div>

</div>