<h1 class="text-center">Dashboard</h1>
<hr>
<div class="box-shadow text-center d-flex align-items-center justify-content-center" style="height: 75vh; ">
    <h1 style="font-size:15px !important">Corrently Working !</h1>

</div>



<!-- 
<div class="box-shadow">
    <h1>Total Stats</h1>
<app-portfolio-dashboard-binance-total-stats></app-portfolio-dashboard-binance-total-stats>
</div>

<div class="spacer-20"></div>

<div class="box-shadow">
    <h1>P2P</h1>
<app-portfolio-dashboard-binance-p2p></app-portfolio-dashboard-binance-p2p>
</div>

<div class="spacer-20"></div>

<div class="box-shadow">
    <h1>SIP</h1>
<app-portfolio-dashboard-binance-sip></app-portfolio-dashboard-binance-sip>
</div>

<div class="spacer-20"></div>

<div class="box-shadow">
    <h1>Holdings</h1>
<app-portfolio-dashboard-binance-holdings></app-portfolio-dashboard-binance-holdings>
</div>

<div class="spacer-20"></div>

<div class="box-shadow">
<h1>Withdraw Crypto</h1>
<app-portfolio-dashboard-binance-withdraw-crypto></app-portfolio-dashboard-binance-withdraw-crypto>
</div>
<div class="spacer-20"></div>

<div class="box-shadow">
    <h1>Old Withdraws</h1>
    <app-portfolio-dashboard-binance-old-withdraws></app-portfolio-dashboard-binance-old-withdraws>
</div>

<div class="spacer-20"></div>

<div class="box-shadow">
    <h1>FunBuying for FreeBitco</h1>
<app-portfolio-dashboard-binance-funbuying-for-freebitco></app-portfolio-dashboard-binance-funbuying-for-freebitco>
</div>

<div class="spacer-20"></div>

<div class="box-shadow">
    <h1>Futures PNL</h1>
<app-portfolio-dashboard-binance-futures-pnl></app-portfolio-dashboard-binance-futures-pnl>
</div>

<div class="spacer-20"></div>

<div class="box-shadow">
    <h1>Futures Trade</h1>
<app-portfolio-dashboard-binance-futures-trade></app-portfolio-dashboard-binance-futures-trade>
</div>

<div class="spacer-20"></div> -->
