<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" class="openOrdersSheet_Dialog">

    <div mat-dialog-title cdkDragHandle>



        <h1>Open Orders
            <p class="mb-0" style='font-size: 10px; margin-top:-9px;'>
                {{tradingPairDataInjected.tradingPair}} :
                {{(openTradesFilteredData.OpenOrders.length)}} Trades</p>
                
        </h1>
    </div>






    <div mat-dialog-content class="content">
        <!-- Filter buttons -->
        <!-- <div class="d-flex  justify-content-sm-end justify-content-lg-start my-3" *ngIf="IsSelectedSheetDataLoaded"
                    style="position: relative; top: -40px;">
                    <div class="me-2">
                        <span class="h6">Filter : </span>
                    </div>
    
                    <div class="filter-buttons">
                        <span class="filter-link h6  border rounded-3 px-2" (click)="show('ALL')"
                            [ngClass]="{'filter-link-text': selectedFilter=='ALL', 'text-secondary':selectedFilter!='ALL' }">ALL</span>
                        <span class="filter-link h6 ms-2  border rounded-3 px-2" (click)="show('SINGLE')"
                            [ngClass]="{'filter-link-text': selectedFilter=='SINGLE', 'text-secondary':selectedFilter!='SINGLE' }">SINGLE</span>
    
                    </div>
                </div> -->

        <div class="row" *ngIf="IsSelectedSheetDataLoaded">

            <ng-container>

                <div class="col-lg-6 pt-3 mb-4 col-12 pb-lg-0 pb-0 d-flex justify-content-between align-items-start flex-column"
                    *ngFor="let trade of openTradesFilteredData.OpenOrders; let i = index">
                    <div class="card card-trading_Pairs p-0" style="width: 100%">
                        <div class="card-body">

                            <h2 class="card-title badge badge-heading pill floating-cardTitle-small-date "
                            >
                            <!-- style="position: relative; top: -35px" -->
                                {{ trade.Date }}



                            </h2>
                            <!-- ---------------------------------------Div details---------------------------------------------STARTS -->
                            <div class="row" style="margin-top:-25px; margin-bottom:10px">


                                <div class="col-6 outer-div  d-flex align-items-center">
                                    <p class=" mb-0 text-muted" style="font-weight: 600;">

                                        <span class="card-text text-success" style="font-size:18px"
                                            *ngIf="trade.Filled=='NO'"
                                            [ngClass]="{'text-success':    openTradesFilteredData.AverageBuyPrice < openTradesFilteredData.CurrentPrice, 'text-danger':    openTradesFilteredData.AverageBuyPrice > openTradesFilteredData.CurrentPrice  }">₮{{
                                            getCurrentPnl(trade) | number:'1.0-3'
                                            }}</span>

                                        <span class="card-text text-success d-flex" style="font-size:18px"
                                            *ngIf="trade.Filled=='YES'">₮{{getEstPnl(trade) | number:'1.0-3'

                                            }} &nbsp;<mat-icon>done_all</mat-icon></span>
                                        <!-- <span class="card-text" style="font-size:14px" [ngClass]="getPnl(trade) < 0 ? 'text-danger' : 'text-success'"> ({{ getPercentagePnl(trade) | number:'1.2-2' }}%)</span> -->
                                        <!-- Add MatIcon based on the comparison of prevPrice and currentPrice -->
                                    </p>
                                </div>

                                <div class="col-6 outer-div justify-content-end d-flex align-items-center">
                                    <p class=" mb-0 text-muted" style="font-weight: 600;">

                                        <span class="card-text text-success" style="font-size:18px"
                                            *ngIf="trade.Filled=='NO'"
                                            [ngClass]="{'text-success':    openTradesFilteredData.AverageBuyPrice < openTradesFilteredData.CurrentPrice, 'text-danger':    openTradesFilteredData.AverageBuyPrice > openTradesFilteredData.CurrentPrice  }">
                                            {{
                                            getCurrentPnlPercentage(trade) | number :'1.0-2'}}%</span>
                                        <span class="card-text text-success d-flex" style="font-size:18px"
                                            *ngIf="trade.Filled=='YES'"> {{
                                            getEstPnlPercentage(trade) | number :'1.0-2'
                                            }}% &nbsp;<mat-icon>done_all</mat-icon>

                                        </span>
                                    </p>

                                </div>



                            </div>


                            <div class="row pt-2">



                                <div class="col-12 outer-div">
                                    <p class="text-muted" style="font-weight: 600">

                                        Order Price
                                    <p>
                                    <p>
                                        <span class="card-text text-muted" style="font-weight: 600; font-size: 16px">

                                            {{
                                            trade.Price
                                            }}</span>
                                    </p>
                                </div>



                                <!-- <div class="col-12 outer-div">
                                  <p class="px-3 text-muted" style="font-weight: 600">
                                    Until Target
                                    <span class="card-text " style="font-weight: 600; font-size: 16px"
                                      [ngClass]="{'text-success': getUntilTarget(trade) > 0, 'text-danger': getUntilTarget(trade) < 0}"
                                    >
                                      {{ getUntilTarget(trade) }}% 
                                    </span>
                                  </p>
                                </div>
                                 -->














                                <!-- <div class="col-12 outer-div">
                                  <p class="px-3 text-muted" style="font-weight: 600">
                                    Invested Value
                
                                    <span class="card-text text-muted" style="font-weight: 600; font-size: 16px">
                                      ₮
                                      {{
                                      openTradesFilteredData.TotalInvestedAmount
                                      | number : "1.0-2"
                                      }}</span>
                                  </p>
                                </div> -->

                                <div class="col-12 outer-div">
                                    <p class="text-muted" style="font-weight: 600">
                                        Order Qty
                                    <p>
                                    <p>
                                        <span class="card-text text-muted" style="font-weight: 600; font-size: 16px">
                                            {{ trade.Qty_Open_Order }} <span style="font-size: 12px;">({{getQtyOpen_Percentage(trade)}} %)</span></span>
                                    </p>
                                </div>

                                <div class="col-12 outer-div">
                                    <p class="text-muted" style="font-weight: 600">
                                       Total Qty
                                    <p>
                                    <p>
                                        <!-- <span class="card-text text-muted" style="font-weight: 600; font-size: 16px">
                                            {{ tradingPairDataInjected.TradingPairData.TotalBuyQuantity }} </span> -->

                                            <span class="card-text text-muted" style="font-weight: 600; font-size: 16px">{{
                                                (trade.Filled).toUpperCase() == 'NO' ?
                                                tradingPairDataInjected.TradingPairData.TotalBuyQuantity : '-' }}
                                            </span>
                                    </p>
                                </div>

                                <div class="col-12 outer-div">
                                    <p class="text-muted" style="font-weight: 600">
                                        Buy Price
                                    <p>
                                    <p>
                                        <span class="card-text text-muted" style="font-weight: 600; font-size: 16px">
                                            ₮
                                            {{
                                            openTradesFilteredData.AverageBuyPrice
                                            | number : "1.0-8"
                                            }}</span>
                                        <!-- Add MatIcon based on the comparison of prevPrice and currentPrice -->
                                    </p>
                                </div>
                                <div class="col-12 outer-div">
                                    <p class="" style="font-weight: 600">
                                        <span class="text-muted">Curr. Price</span>
                                    <p>
                                    <p>

                                        <!-- <span class="card-text d-flex" [ngClass]="{'text-danger':!getPriceColour(trade.TradingPair), 'text-success':getPriceColour(trade.TradingPair)}" style="font-weight: 600; font-size: 16px">{{ getPriceForTradingPair(trade.TradingPair) | number:'1.0-8' }} 
                
                                  <mat-icon style="font-size:15px" *ngIf="getPriceColour(trade.TradingPair)" class="text-success">arrow_upward</mat-icon>
                                  <mat-icon style="font-size:15px" *ngIf="!getPriceColour(trade.TradingPair)" class="text-danger">arrow_downward</mat-icon>
                                </span> -->
                                        <span class="card-text d-flex" style="font-weight: 600; font-size: 16px"
                                            [ngClass]="{'text-success':    openTradesFilteredData.AverageBuyPrice < openTradesFilteredData.CurrentPrice, 'text-danger':    openTradesFilteredData.AverageBuyPrice > openTradesFilteredData.CurrentPrice  }">{{
                                            openTradesFilteredData.CurrentPrice }}
                                        </span>
                                    </p>
                                </div>
                                <div class="col-12 outer-div">
                                    <p class="text-muted" style="font-weight: 600">
                                        Order Total
                                    <p>
                                    <p>
                                        <span class="card-text text-muted" style="font-weight: 600; font-size: 16px">
                                            ₮ {{ trade.Qty_Open_Order * openTradesFilteredData.AverageBuyPrice |
                                            number:'1.0-3' }}</span>
                                    </p>
                                </div>
                                <div class="col-12 outer-div">
                                    <p class="text-muted" style="font-weight: 600">
                                        Return Total
                                    <p>
                                    <p>
                                        <span class="card-text text-success" style="font-weight: 600; font-size: 16px">
                                            ₮ {{ trade.Qty_Open_Order * trade.Price | number:'1.0-3' }}</span>
                                    </p>
                                </div>


                                <div class="col-12 outer-div">
                                    <p class="text-muted" style="font-weight: 600">
                                        Return Pnl
                                    <p>
                                    <p>
                                        <span class="card-text text-success" style="font-weight: 600; font-size: 16px">
                                            ₮ {{ getEstPnl(trade) | number :'1.0-3' }} <span style="font-size: 12px;">({{ getEstPnlPercentage(trade) | number :'1.0-2' }} %)</span></span>
                                    </p>
                                </div>
                           
                                <div class="col-12 outer-div">
                                    <p class="text-muted" style="font-weight: 600">
                                        Untill Target
                                    <p>
                                    <p>
                                        <ng-container>
                                            <span class="card-text " style="font-weight: 600; font-size: 16px"
                                                [ngClass]="{'text-danger':    getUntilTarget(trade) <=0}"
                                                *ngIf=" getUntilTarget(trade) <=0 && (trade.Filled=='NO') ">
                                                {{
                                                getUntilTarget(trade) | number:'1.0-2'

                                                }} %</span>
                                        </ng-container>

                                        <span *ngIf=" trade.Filled=='YES'" class="text-success" style="font-weight: 600">Achived</span>
                                        <!-- Add MatIcon based on the comparison of prevPrice and currentPrice -->
                                    </p>
                                </div>
                                <div class="col-12 outer-div">
                                    <p class="text-muted" style="font-weight: 600">
                                        Filled
                                    <p>
                                    <p>
                                        <span class="card-text " style="font-weight: 600; font-size: 16px"
                                            *ngIf="(trade.Filled).toUpperCase() == 'NO'"
                                            [ngClass]="{'text-success':(trade.Filled).toUpperCase() == 'YES','text-danger':(trade.Filled).toUpperCase() == 'NO'}">
                                            {{
                                            trade.Filled

                                            }}</span>
                                        <span class="text-success" *ngIf="(trade.Filled).toUpperCase() == 'YES'" style="font-weight: 600">YES

                                        </span>

                                        <!-- Add MatIcon based on the comparison of prevPrice and currentPrice -->
                                    </p>
                                </div>

                                <div class="col-12 outer-div">
                                    <p class="text-muted" style="font-weight: 600">
                                        Placed
                                    <p>
                                    <p>
                                        <span class="card-text " style="font-weight: 600; font-size: 16px"
                                       
                                            [ngClass]="{'text-success':(trade.Is_Placed).toUpperCase() == 'YES','text-danger':(trade.Is_Placed).toUpperCase() == 'NO'}">
                                            {{
                                            trade.Is_Placed

                                            }}</span>


                                        <!-- Add MatIcon based on the comparison of prevPrice and currentPrice -->
                                    </p>
                                </div>
                                <div
                                class="col-12 text-danger d-flex justify-content-center align-items-center ">
                                <p *ngIf="(trade.Filled).toUpperCase() == 'YES'" class="my-0">*[ Order Achieved ! Please Delete ]</p>
                                <p *ngIf="(trade.Filled).toUpperCase() == 'NO'" class="my-0">&nbsp;</p>

                            </div>

                                <div class="col-12 d-flex justify-content-end">

                                    <button mat-icon-button (click)="editItem(trade)">
                                        <mat-icon class="text-warning">edit</mat-icon>
                                    </button>
                                    <button mat-icon-button (click)="deleteEntry(trade.ID, trade)">
                                        <mat-icon class="text-danger">delete</mat-icon>
                                    </button>
        
        
                                </div>




                            </div>


                            <!-- ---------------------------------------Div details---------------------------------------------ENDS -->

                        </div>
                    </div>
                </div>

            </ng-container>

            <!-- <div class="spacer-20"></div> -->

            <!-- 
            <ng-container class="table container">
                <div class="history-div p-3 mt-3">
                    <h1 class="box-title">Order History</h1>


                    <mat-form-field appearance="outline" floatLabel="always" >
                        <mat-label>Filter Table</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input />
                    </mat-form-field>
                    <div style="overflow-x: auto" class="example-container">
                        <ng-container class="table-div">
                            <div class="mat-elevation-z8 example-table-container">
                                <table mat-table [dataSource]="dataSource" matSort matSortActive="Date"
                                    matSortDirection="desc" class="mat-elevation-z8">
                                    <ng-container matColumnDef="Date">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
                                        <td mat-cell *matCellDef="let element" style="font-weight: 600">
                                            {{ element.Date }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Price">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="text-success" style="font-weight: 600">₮ </span>{{
                                            element.Price }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Amount">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Amount
                                        </th>
                                        <td mat-cell *matCellDef="let element">{{ element.Amount }}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="Qty_Open_Order">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Qty_Open_Order
                                        </th>
                                        <td mat-cell *matCellDef="let element" style="font-weight: 600">
                                            {{ element.Qty_Open_Order
                                            }}<span style="font-size: 12px">
                                                {{ element.Trading_Pair }}
                                            </span>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Filled">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Filled
                                        </th>
                                        <td mat-cell *matCellDef="let element" style="font-weight: 600" [ngClass]="{
                                'text-success': element.Filled > 0,
                                'text-danger': element.Filled < 0,
                                'text-secondary': element.Filled == 0
                              }">
                                            <span
                                                *ngIf="element.Filled.toUpperCase() == 'NO'"><mat-icon>hourglass_empty</mat-icon></span>
                                            <span
                                                *ngIf="element.Filled.toUpperCase() == 'YES'"><mat-icon>check_circle_outline</mat-icon></span>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="actions">
                                        <th mat-header-cell *matHeaderCellDef>Actions</th>
                                        <td mat-cell *matCellDef="let element">

                                            <button mat-icon-button (click)="deleteEntry(element.ID, element)">
                                                <mat-icon class="text-danger">delete</mat-icon>
                                            </button>
                                        </td>
                                    </ng-container>







                                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"
                                        class="table-header">
                                    </tr>

                                    <tr mat-row *matRowDef="let row; columns: displayedColumns; let odd = odd"
                                        [class.striped-row]="odd"></tr>
                                </table>

                                <div class="loader-div d-flex justify-content-center align-items-center flex-column"
                                    *ngIf="!IsSelectedSheetDataLoaded">
                                    <div class="spinner-border" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                    <mat-paginator [pageSizeOptions]="[5, pageSizeOptions]" showFirstLastButtons></mat-paginator>
                </div>
            </ng-container> -->

        </div>

    </div>







    <div mat-dialog-actions class="action">
        <button mat-raised-button color="warn" (click)="onClose()">Close</button>
    </div>


</div>