<div class="total-stats-div p-3 mt-3">
  <h1 class="box-title">Total Stats</h1>


  <div class="loader-div  d-flex justify-content-center align-items-center flex-column"
    *ngIf="!IsSelectedSheetDataLoaded">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <span class="pt-2">Loading ...</span>


  </div>


  <div class="row" style="margin-top: -20px" *ngIf="IsSelectedSheetDataLoaded">
    <div class="col-lg-6 col-12   total-stats-inner-div d-flex justify-content-between align-items-start flex-column">
      <div class="card p-0" style="width: 100%">
        <div class="card-body">


          <div class="row ">
            <h2 class="card-title">Total Deposit </h2>
            <div class="row d-flex flex-row justify-content-center" style="margin-top:-15px">

              <div class="col-6  inner-div">

                <h1 class="card-text text-success" style="font-weight: 600">
                  <sub></sub> {{ columnTotals.TotalDeposit }}

                </h1>
                <h5>FUN</h5>
              </div>
              <div class="col-6  inner-div">

                <h1 class="card-text text-success" style="font-weight: 600">
                  <sub>₮</sub> {{ (columnTotals.AvgDepositPrice) | number : "1.0-8" }}
                </h1>
                <h5>PRICE</h5>
              </div>
            </div>
          </div>




        </div>
      </div>
    </div>




    <div class="col-lg-6 col-12   total-stats-inner-div d-flex justify-content-between align-items-start flex-column">
      <div class="card p-0" style="width: 100%">
        <div class="card-body">


          <div class="row ">
            <h2 class="card-title">Total Withdraw </h2>
            <div class="row d-flex flex-row justify-content-center" style="margin-top:-15px">

              <div class="col-6  inner-div">

                <h1 class="card-text text-success" style="font-weight: 600">
                  <sub></sub> {{ columnTotals.TotalWithdraw }}

                </h1>
                <h5>FUN</h5>
              </div>
              <div class="col-6  inner-div">

                <h1 class="card-text text-success" style="font-weight: 600">
                  <sub>₮</sub> {{ (columnTotals.AvgWithdrawPrice) | number : "1.0-8" }}
                </h1>
                <h5>PRICE</h5>
              </div>
            </div>
          </div>




        </div>
      </div>
    </div>


  </div>

</div>


<div class="spacer-20"></div>

<div class="history-div p-3 mt-3">
  <h1 class="box-title mb-0">Order History</h1>

  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>Filter Table</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input />
  </mat-form-field>

  <div style="overflow-x: auto;" class="example-container">
    <ng-container>
      <!-- trading-setup.component.html -->
      <div class="mat-elevation-z8 example-table-container">
        <table mat-table [dataSource]="dataSource" matSort matSortActive="Date" matSortDirection="desc"
          class="mat-elevation-z8">
          <!-- Define columns -->
          <ng-container matColumnDef="Status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
            <td mat-cell *matCellDef="let element">
              <span *ngIf="element.Status == 'Matured' "><mat-icon class="text-success"
                  matTooltip="{{element.Status}}">done_all</mat-icon></span>
              <span *ngIf="element.Status == 'Un-Matured' "><mat-icon class="text-warning"
                  matTooltip="{{element.Status}}">history</mat-icon></span>


            </td>

          </ng-container>
          <ng-container matColumnDef="Date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Date </th>
            <td mat-cell *matCellDef="let element" style="font-weight: 600;">{{ element.Date }}</td>
          </ng-container>
          <ng-container matColumnDef="Quantity">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
            <td mat-cell *matCellDef="let element">{{ element.Quantity }}</td>
          </ng-container>
          <ng-container matColumnDef="Type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
            <td mat-cell *matCellDef="let element"
              [ngClass]="{'text-success':element.Type=='DEPOSIT', 'text-danger':element.Type=='WITHDRAW'}">{{
              element.Type }}</td>
          </ng-container>
          <ng-container matColumnDef="Price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
            <td mat-cell *matCellDef="let element">{{ element.Price }}</td>
          </ng-container>
          <ng-container matColumnDef="Fees">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fees </th>
            <td mat-cell *matCellDef="let element">{{ element.Fees }}</td>
          </ng-container>
          <ng-container matColumnDef="Amount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
            <td mat-cell *matCellDef="let element">{{ element.Amount }}</td>
          </ng-container>
          <ng-container matColumnDef="Exchange">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Exchange</th>
            <td mat-cell *matCellDef="let element">{{ element.Exchange }}</td>
          </ng-container>
          <ng-container matColumnDef="Account">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Account</th>
            <td mat-cell *matCellDef="let element">{{ element.Account }}</td>
          </ng-container>


          <!-- Actions column with Edit and Delete buttons -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button (click)="editItem(element)">
                <mat-icon class="text-warning">edit</mat-icon>
              </button>
              <button mat-icon-button (click)="deleteEntry(element.ID, element)">
                <mat-icon class="text-danger">delete</mat-icon>
              </button>


            </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true" class="table-header"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns; let odd = odd;" [class.striped-row]="odd"></tr>
        </table>
        <!-- Pagination -->
        <div class="loader-div d-flex justify-content-center align-items-center flex-column"
          *ngIf="!IsSelectedSheetDataLoaded">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <span class="pt-2">Loading ...</span>
        </div>
      </div>
    </ng-container>
  </div>
  <mat-paginator [pageSizeOptions]="[5, pageSizeOptions]" showFirstLastButtons></mat-paginator>
</div>