
<div class="main-container" style="padding-bottom: 0px">


    <!-- -------------------------- ADD ENTRY ------------------------- -->
    
    <div class="row d-flex justify-content-between pb-2">
        <div class="form-floating mb-3 d-flex col-sm-auto col-6">
       
        </div>
        <div
          class="example-button-row col-sm-auto col-6 justify-content-end justify-content-sm-start d-flex"
        >
          <button mat-fab extended color="warn" matTooltip="New Entry" (click)="openAddNewEntryDialogForm()" style="cursor: pointer;"
        [disabled]="IsAddDialogOpened"
          
          >
          <!-- <button mat-fab extended color="warn"  (click)="openAddNewEntryDialogForm()" > -->
      
            <mat-icon>add</mat-icon>
            Add
          </button>
       
        </div>
      </div>
      
      </div>





 <div class="box-shadow text-center d-flex align-items-center justify-content-center" style="height: 73vh; ">
    <h1 style="font-size:15px !important">Corrently Working !</h1>

</div>
