<!-- <h1 class="text-center">Dashboard</h1>
<hr class="mb-4"> -->
<!-- <div class="box-shadow" style="border-top:2px solid black; border-bottom:2px solid black">
    <h1>Total Stats</h1>

    <app-portfolio-dashboard-mexc-total-stats></app-portfolio-dashboard-mexc-total-stats>
</div>
<div class="spacer-20"></div> -->

<!-- <div class="box-shadow" style="border-top:2px solid black; border-bottom:2px solid black"> -->
<!-- <div> -->

    <!-- <h1>Futures Positions</h1> -->

    <!-- <app-portfolio-dashboard-mexc-futures-pnl-calender></app-portfolio-dashboard-mexc-futures-pnl-calender> -->
    <!-- <div class="spacer-20"></div> -->
    <!-- <app-portfolio-dashboard-ourbit-futures></app-portfolio-dashboard-ourbit-futures> -->
    


<!-- </div> -->

<!-- <div class="spacer-20"></div> -->
<!-- <div class="box-shadow" style="border-top:2px solid black; border-bottom:2px solid black">
    <h1>Money Flow</h1>
    <app-portfolio-dashboard-mexc-money-flow></app-portfolio-dashboard-mexc-money-flow>
</div>
<div class="spacer-20"></div> -->


<app-portfolio-dashboard-shared [exchangeName]="exchangeName"></app-portfolio-dashboard-shared>

