@import '../../sharedSCSS/scssVariable/colorVariable.scss';
@import '../../sharedSCSS/portfolioSheets/sheetsOuterMostContainerStyle.scss';
@import '../../sharedSCSS/portfolioSheets/sheetsInnerContainerStyle.scss';

div {
    margin-bottom: 10px;
    // padding: 10px;
    // border: 1px solid #ccc;
}

.api_content {
    // border: 1px solid $base-color_primary;
    border-radius: 10px;
    padding-top: 1rem
}

.coins-outer-div {
    position: relative;
    top: 21px;
    padding: 0;

    .card-body {
        margin-bottom: 0px;
    };

    h2 {
        font-size: 12px !important
    }
    div{
        margin-bottom : 0px
    }
}


.box-title {
    margin-bottom: 0;
    top: -17px;
    left: 17px;

}

pre {
    background-color: rgb($base-color_primary, 0.05);
    padding: 10px;
    border-radius: 5px;
    max-height: 270px
}

button {
    margin-top: 10px;
}

.no-logs {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear_log_button {
    position: fixed;
    right: 10px;
    bottom: 10px;
    background-color: $base-color_primary;
    z-index: 2;

}



::ng-deep {
    .mat-mdc-tab-body-wrapper {

        margin-top: 14px;
    }

    // .mat-mdc-tab-label-container {

    //     border-radius: 20px 0px;
    // }
}