

<div class="row  m-0 my-3 py-3">
    <div class="col-12 ">
        <h2 class="">Ticker Tape</h2>
        <div id="tv_tickerTape_widget" ></div>
      </div>
    <div class="col-12 mt-4">
        <h2 class="">Trading View Chart</h2>
  
        <div id="tv_chart_container_FUN"></div>
    </div>
  
    <div class="col-lg-6 col-md-6 col-12  mt-4">
        <h2 class="">Technical Analysis</h2>
        <div id="technicalAnalysis" class="" ></div>
  
    </div>
    <div class="col-lg-6 col-md-6 col-12 mt-4">
        <h2 class="">Market Overview</h2>
        <div id="marketOverview" class="" ></div>
  
    </div>
    <div class="col-12 mt-4">
      <h2 class="">Symbol Overview</h2>
      <div id="tv_symbol_overview" class="tradingview-widget-container"></div>
    </div>

    <div class="col-12 mt-4">
        <h2 class="">Screener Widget</h2>
        <div id="tv_screener_widget" ></div>
      </div>

     <div class="col-12 mt-4">
        <h2 class="">Heatmap</h2>
        <div id="tv_heatmap_widget" ></div>
      </div>
      <div class="col-12 mt-4">
        <h2 class="">Mini Chart</h2>
        <div id="tv_minichart_widget" ></div>
      </div>


      <div class="col-lg-6 col-md-6 col-12 mt-4">
        <h2 class="">Top Stories</h2>
        <div id="topStories" class="" ></div>
  
    </div>

    <div class="col-lg-6 col-md-6 col-12  mt-4">
        <h2 class="">Fundamental Data</h2>
        <div id="fundamentalData" class="" ></div>
  
    </div>
    
    <div class="col-lg-6 col-md-6 col-12  mt-4">
        <h2 class="">Economic Calender</h2>
        <div id="economicCalender" class="" ></div>
  
    </div>

    <div class="spacer-20"></div>






  </div>