<div class="main" class="px-3">

  <div class="loader-div d-flex justify-content-center align-items-center flex-column" style="min-height:83vh"
    *ngIf="!IsColumnTotals_ForALL_Processed && !IsProcessedTradingPairData">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <span class="pt-2">Loading ...</span>

  </div>


  <ng-container class="main_container" *ngIf="IsColumnTotals_ForALL_Processed || IsProcessedTradingPairData">




    <ng-container class="Accounts_container">




      <section id="exchanges" class="total-stats-div">
        <h1 class="sectionTitle pb-4 pt-3">Accounts</h1>
        <div class="row box-shadow-total-stats rounded-2 py-3">




          <div class="loader-div d-flex justify-content-center align-items-center flex-column"
            *ngIf="!IsColumnTotals_ForALL_Processed">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
            <span class="pt-2">Loading ...</span>

          </div>


          <ng-container *ngIf="IsColumnTotals_ForALL_Processed">

            <ng-container id="total-aio">
              <!-- ----------------------------------Exchnages AIO ----------------------------------STARTS -->
              <!-- <h1 class="differentiatorTitle pb-2 pt-4"><span>[&nbsp;</span>Exchanges AIO<span>&nbsp;]</span></h1> -->
              <div class="row">
                <!-- <section id="charts"> -->



                <!-- <h1 class="differentiatorTitle pb-4 pt-3"><span>[&nbsp;</span>Total Stats<span>&nbsp;]</span></h1> -->


                <div class="col-lg-6   col-12 d-flex flex justify-content-center align-items-center ">
                  <div class="total-stats-sub-div-h-100-w1-1000 d-flex align-items-center flex-wrap w-100 ">
                    <highcharts-chart [Highcharts]="Highcharts" [options]="columnTotals_AllPairs_AIO_ChartOptions"
                      style="width: 100%; min-height: 400px; display: block;"></highcharts-chart>

                  </div>
                </div>

                <div class="col-lg-6   col-12 d-flex flex justify-content-center align-items-center mt-lg-0 mt-4">
                  <div class="total-stats-sub-div-h-100-w1-1000 d-flex align-items-center flex-wrap w-100 ">
                    <highcharts-chart [Highcharts]="Highcharts" [options]="columnTotals_AllPairs_ChartOptions"
                      style="width: 100%; min-height: 400px; display: block;"></highcharts-chart>

                  </div>
                </div>

                <!-- </section> -->

                <h1 class="differentiatorTitle py-4 text-center"><span>[&nbsp;</span>Details Exchanges
                  Wise<span>&nbsp;]</span></h1>

                <div class="col-lg-12 col-12 d-flex justify-content-center align-items-center flex-column">
                  <div class="card mb-lg-0 mb-3"
                    style="width: 100%; border: none !important; box-shadow: none !important; overflow: auto; padding: 0px !important;">
                    <div class="card-body" style="padding: 0px !important">
                      <div class="inner-div">
                        <table class="trade-table">
                          <thead>
                            <tr>
                              <th>EXCHANGE</th>
                              <th>INVESTED</th>
                              <th>CURRENT P/L</th>
                              <th>RETURNS P/L</th>
                            </tr>
                          </thead>
                          <tbody>
                            <ng-container *ngFor="let exchange of exchangeNames">
                              <tr (click)="showExchangeDetails(exchange, $event)">
                                <td>
                                  {{ exchange }}
                                </td>
                                <td>₮ {{ columnTotals_AllPairs[exchange]?.TotalInvested | number:'1.2-2' }}</td>
                                <td
                                  [ngClass]="{'text-success': columnTotals_AllPairs[exchange]?.TotalCurrentValue > columnTotals_AllPairs[exchange]?.TotalInvested, 'text-danger': columnTotals_AllPairs[exchange]?.TotalCurrentValue < columnTotals_AllPairs[exchange]?.TotalInvested}">
                                  ₮ <span
                                    *ngIf="columnTotals_AllPairs[exchange]?.TotalCurrentValue < columnTotals_AllPairs[exchange]?.TotalInvested">-</span><span
                                    *ngIf="columnTotals_AllPairs[exchange]?.TotalCurrentValue > columnTotals_AllPairs[exchange]?.TotalInvested">+</span>{{
                                  (columnTotals_AllPairs[exchange]?.TotalInvested) -
                                  columnTotals_AllPairs[exchange]?.TotalCurrentValue | number:'1.2-2' }}
                                  <br>
                                  <span class="text-muted">({{( ( ((columnTotals_AllPairs[exchange]?.TotalCurrentValue
                                    )-
                                    (columnTotals_AllPairs[exchange]?.TotalInvested
                                    ))/columnTotals_AllPairs[exchange]?.TotalInvested ) *100) | number:'1.2-2'}}
                                    %)</span>
                                </td>
                                <td class="text-success">
                                  ₮ +{{ columnTotals_AllPairs[exchange]?.TotalExpectedPnl | number:'1.2-2' }}
                                  <br>
                                  <span class="text-muted">(+{{( (
                                    ((columnTotals_AllPairs[exchange]?.TotalExpectedReturn )-
                                    (columnTotals_AllPairs[exchange]?.TotalInvested
                                    ))/columnTotals_AllPairs[exchange]?.TotalInvested ) *100) | number:'1.2-2'}}
                                    %)</span>
                                </td>
                              </tr>
                            </ng-container>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>




              </div>





              <!-- ----------------------------------Exchnages AIO------------------------------------ENDS -->

              <!-- -------exchange AIO buttons for details --------STARTS -->
              <div class="col-12 justify-content-end d-flex mt-2">
                <button mat-raised-button class=" dd-flex align-content-center bg-white " (click)="showMoreDetails()"
                  *ngIf="!IsShowMoreDetails"><mat-icon class="me-2">remove_red_eye</mat-icon>More Details</button>
              </div>
              <!-- -------exchange AIO buttons for details --------ENDS -->

            </ng-container>
            <ng-container id="exchange-aio" *ngIf="IsShowMoreDetails">

              <!-- ----------------------------------Exchnages ----------------------------------STARTS -->

              <h1 class="differentiatorTitle pt-4 text-center fw-bolder"><span>MORE DETAILS</span></h1>

              <!-- -----------------------------------More details Expansion Pannel-------------------STARTS -->


              <h1 class="differentiatorTitle pb-4 pt-4 text-center"><span>[&nbsp;</span>Portfolio
                Distribution<span>&nbsp;]</span></h1>

              <div class="col-lg-6 col-12 d-flex flex justify-content-center align-items-center mt-4">
                <div class="total-stats-sub-div-h-100-w1-1000 d-flex align-items-center flex-wrap w-100 ">
                  <highcharts-chart [Highcharts]="Highcharts" [options]="portfolioDistributionPieChart"
                    style="width: 100%; min-height: 400px; display: block;"></highcharts-chart>

                </div>
              </div>

              <div class="col-lg-6 col-12 d-flex flex justify-content-center align-items-center mt-4">
                <div class="total-stats-sub-div-h-100-w1-1000 d-flex align-items-center flex-wrap w-100 ">
                  <highcharts-chart [Highcharts]="Highcharts" [options]="seedMoneyReturnChart"
                    style="width: 100%; min-height: 400px; display: block;"></highcharts-chart>

                </div>
              </div>

              <h1 class="differentiatorTitle pb-4 pt-4 text-center"><span>[&nbsp;</span>Returns
                Overview<span>&nbsp;]</span></h1>

              <div class="col-12 d-flex justify-content-center align-items-center mt-4 w-100">
                <div class="total-stats-sub-div-h-100-w1-1000 d-flex align-items-center flex-wrap w-100">
                  <highcharts-chart [Highcharts]="Highcharts" [options]="returnsComparisonChart"
                    style="width: 100%; min-height: 400px; display: block;"></highcharts-chart>
                </div>
              </div>

              <!-- -------exchange AIO buttons for details --------STARTS -->
              <div class="col-12 justify-content-end d-flex mt-2">
                <button mat-raised-button class=" dd-flex align-content-center bg-white" (click)="showMoreDetails()"
                  *ngIf="IsShowMoreDetails"><mat-icon class="me-2">remove_red_eye</mat-icon>Less Details</button>
              </div>
              <!-- -------exchange AIO buttons for details --------ENDS -->
              <!-- -----------------------------------More details Expansion Pannel-------------------ENDS -->

              <!-- ----------------------------------Exchnages------------------------------------ENDS -->
            </ng-container>

          </ng-container>
        </div>


      </section>


      <div class="spacer-20"></div>
























    </ng-container>







    <ng-container class="OpenOrders_container" *ngIf="IsProcessedTradingPairData">



      <h1 class="sectionTitle pb-4 pt-3" style="color: black;">Open Orders</h1>
      <div class="row box-shadow-total-stats rounded-2 py-3">

        <!-- Detailed Exchange Charts -->
        <div class="col-12">
          <div class="row">
            <ng-container *ngFor="let exchange of getExchangeNames()">
              <div class="col-12 mb-4">
                <div class="card open_order_card">
                  <div class="card-header d-flex justify-content-between align-items-center open_orders_card_header">
                    <h5 class="mb-0 fs-6">{{exchange}} Details</h5>
                  </div>
                  <div class="card-body" style="color: black;">
                    <!-- Exchange Overview -->
                    <div class="row mb-3">
                      <div class="col-lg-6 col-12">
                        <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions[exchange]"
                          style="width: 100%; min-height: 300px; display: block;"></highcharts-chart>
                      </div>
                      <div class="col-lg-6 col-12 d-flex flex-column justify-content-center align-items-end">
                        <!-- Stats Table -->
                        <table class="table table-sm open_order_card_table">
                          <tbody>
                            <tr>
                              <th class="text-muted">Total Pairs</th>
                              <td>{{getNumberOfPairsForExchange(exchange)}}</td>
                            </tr>
                            <tr>
                              <th class="text-muted">Total Invested</th>
                              <td class="fw-bolder">₮ {{columnTotals_AllPairs[exchange]?.TotalInvested  ?  (columnTotals_AllPairs[exchange]?.TotalInvested | number:'1.2-2') : 'Waiting for data..'}}</td>
                            </tr>
                            <tr>
                              <th class="text-muted">Total Open Orders</th>
                              <td>{{getTotalOpenOrders(exchange)}}</td>
                            </tr>
                            <tr>
                              <th class="text-muted">Filled Orders</th>
                              <td>{{getTotalFilledOrders(exchange)}}</td>
                            </tr>
                            <tr>
                              <th class="text-muted">Unfilled Orders</th>
                              <td>{{getTotalUnfilledOrders(exchange)}}</td>
                            </tr>
                            <tr>
                              <th class="text-muted">Expected Return</th>
                              <td class="text-success">₮ {{getTotalExpectedReturn(exchange) | number:'1.2-2'}}</td>
                            </tr>
                            <tr>
                              <th class="text-success fw-bolder">Expected PNL</th>
                              <td [ngClass]="getTotalExpectedPNL(exchange) >= 0 ? 'text-success' : 'text-danger'" class="fw-bolder">
                                ₮ {{getTotalExpectedPNL(exchange) | number:'1.2-2'}}
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        
                        <button class="btn btn-sm btn-outline-primary" (click)="toggleDetails(exchange)">
                          {{expandedExchange === exchange ? 'Less' : 'More'}} Details
                        </button>
                      </div>
                    </div>

                    <!-- Expanded Details -->
                    <div *ngIf="expandedExchange === exchange" class="mt-3" style="overflow: auto;">
                      <table class="table table-sm table-hover">
                        <thead>
                          <tr>
                            <th>Pair</th>
                            <th>Invested</th>
                            <th>Open</th>
                            <th>Expected Return</th>
                            <th>Expected PNL</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let pair of getPairsForExchange(exchange)">
                            <td>{{pair}}</td>
                            <td>₮ {{columnTotal_OpenOrders_PNL_ForEachPair[exchange][pair].TotalInvested |
                              number:'1.2-2'}}</td>
                            <td>{{columnTotal_OpenOrders_PNL_ForEachPair[exchange][pair].TotalOpenOrders}}</td>
                            <td>₮ {{columnTotal_OpenOrders_PNL_ForEachPair[exchange][pair].TotalExpectedReturn |
                              number:'1.2-2'}}</td>
                            <td
                              [ngClass]="columnTotal_OpenOrders_PNL_ForEachPair[exchange][pair].TotalExpectedPnl >= 0 ? 'text-success' : 'text-danger'">
                              ₮ {{columnTotal_OpenOrders_PNL_ForEachPair[exchange][pair].TotalExpectedPnl |
                              number:'1.2-2'}}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>

      </div>



    </ng-container>


    <div class="spacer-20"></div>





  </ng-container>
</div>