@import '../sharedSCSS/scssVariable/colorVariable.scss';

mat-form-field {
  width: 100% !important;
}
.card {
  border-radius: 1rem;
}
.main-section {
  background-image: url("../../assets/login-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.login-image{
    border-radius: 1rem 0 0 1rem;
    height: -webkit-fill-available;
}
form h5{
    letter-spacing: 1px;
    color: $base_color_primary;
    font-weight: 600 !important;
}
.sample-login:hover{
cursor:pointer
}