<div class="main" class="px-3">
    <!-- --------------------------   Add new entry   ------------------------- -->
    <div class="row d-flex justify-content-between pb-2">
        <div class="form-floating mb-3 d-flex col-sm-auto col-6"></div>
        <div class="example-button-row col-sm-auto col-6 justify-content-end justify-content-sm-start d-flex">
            <button mat-fab extended color="warn" matTooltip="Add New" (click)="openAddNewEntryDialogForm()"
                [disabled]="IsAddDialogOpened">
                <mat-icon>add</mat-icon>
                Add
            </button>
        </div>
    </div>

    <!-- --------------------------   Add new entry   ------------------------- -->


    <div class="loader-div  d-flex justify-content-center align-items-center flex-column"
        style="margin-top: -50px; height: 70vh;" *ngIf="!IsSelectedSheetDataLoaded || !isAllPromiseResolved ">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <span class="pt-2">Loading ...</span>


    </div>

    <ng-container *ngIf="IsSelectedSheetDataLoaded && isAllPromiseResolved">

   


        <section id="portfolio-detail" class="total-stats-div" style="margin-top: -40px">
            <h1 class="sectionTitle pb-4 pt-3">Portfolio</h1>

            <div class="row box-shadow-total-stats rounded-2 py-5">

                <div
                    class="col-lg-6 col-12   d-flex justify-content-center align-items-start flex-column order-lg-1 order-0">
                    <div class="card p-0 mb-lg-0 mb-3"
                        style="width: 100%; border : none !important; box-shadow:none !important ">
                        <div class="card-body">





                            <!-- <h2 class="card-title">Total Equity</h2> -->
                            <div class="row d-flex flex-row justify-content-center" style="margin-top:-15px">
                                <h3 class="differentiatorTitle pt-2">Seed Money</h3>

                                <div class="col-6  inner-div">

                                    <h1 class="card-text text-success" style="font-weight: 600">
                                        <sub>₮</sub> {{portfolioPnlInfo[0].seedMoney | number :
                                        "1.0-3"}}

                                    </h1>
                                    <h5>USDT</h5>
                                </div>
                                <div class="col-6  inner-div">

                                    <h1 class="card-text text-success" style="font-weight: 600">
                                        <sub>₹</sub> {{(portfolioPnlInfo[0].seedMoney)*90 | number :
                                        "1.0-3"}}
                                    </h1>
                                    <h5>INR</h5>
                                </div>
                                <!-- <hr> -->
                                <h3 class="differentiatorTitle">Acc. Balance</h3>
                                <div class="col-6  inner-div">

                                    <h1 class="card-text text-success" style="font-weight: 600">
                                        <sub>₮</sub> {{portfolioPnlInfo[0].portfolioPnlCalculated | number : "1.0-3"}}

                                    </h1>
                                    <h5>USDT</h5>
                                </div>
                                <div class="col-6  inner-div">

                                    <h1 class="card-text text-success" style="font-weight: 600">
                                        <sub>₹</sub> {{(portfolioPnlInfo[0].portfolioPnlCalculated)*90 | number :
                                        "1.0-3"}}
                                    </h1>
                                    <h5>INR</h5>
                                </div>
                                <!-- <hr> -->

                                <h3 class="differentiatorTitle pt-2">Portfolio PNL</h3>

                                <div class="col-6  inner-div">

                                    <h1 class="card-text" style="font-weight: 600"
                                        [ngClass]="{'text-danger': (portfolioPnlInfo[0].pnlTrades)<=0, 'text-success' : (portfolioPnlInfo[0].pnlTrades)>0}">
                                        <sub>₮</sub> {{portfolioPnlInfo[0].pnlTrades | number : "1.0-2"}}
                                        <span style="font-size:12px"> ({{(((portfolioPnlInfo[0].portfolioPnlCalculated -
                                            portfolioPnlInfo[0].seedMoney) /
                                            portfolioPnlInfo[0].seedMoney)*100).toFixed(2)}} %)</span>

                                    </h1>
                                    <h5>USDT</h5>
                                </div>
                                <div class="col-6  inner-div">

                                    <h1 class="card-text" style="font-weight: 600"
                                        [ngClass]="{'text-danger': (portfolioPnlInfo[0].pnlTrades)<=0, 'text-success' : (portfolioPnlInfo[0].pnlTrades)>0}">
                                        <sub>₹</sub> {{(portfolioPnlInfo[0].pnlTrades)*90 | number :
                                        "1.0-3"}}
                                        <span style="font-size:12px"> ({{(((portfolioPnlInfo[0].portfolioPnlCalculated -
                                            portfolioPnlInfo[0].seedMoney) /
                                            portfolioPnlInfo[0].seedMoney)*100).toFixed(2)}} %)</span>
                                    </h1>
                                    <h5>INR</h5>
                                </div>

                            </div>



                        </div>
                    </div>
                </div>


                <div
                    class="col-lg-6   col-12 d-flex flex justify-content-center align-items-center order-lg-0 order-1 ">




                    <div class="total-stats-sub-div-h-100-w1-1000 d-flex align-items-center flex-wrap w-100 ">

                        <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions_AccountsPnl"
                            style="width: 100%; height: 350px; display: block;"></highcharts-chart>


                    </div>
                </div>



            </div>




        </section>



        <section id="open-orders-realtime" class="total-stats-div"
            *ngIf="openPositionData.length!=0 && exchangeName === 'Mexc'">
            <h1 class="sectionTitle pb-4 pt-3">Current Positions</h1>

            <div class="row box-shadow-total-stats rounded-2 pt-5" style="margin-top:-15px">


                <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12"
                    *ngFor="let item of openPositionData ">

                    <div class="card card-trading_Pairs p-0" style="width: 100%">
                        <div class="card-body" style="padding:7px !important">

                            <div class="row">

                                <h2 class="card-title badge badge-heading pill "
                                (click)="onOpenChartAnalysisDialog(item)"
                                style="cursor:pointer"
                                >{{ item.symbol }}</h2>

                            </div>
                            <div style="margin-top:-40px">
                                <div class="row">



                                    <div class=" col-12 d-flex  justify-content-end" style="
                                        position: relative;
                                        right: -17px;
                                        ">

                                
                                        <p class="mb-0 theme-text-color  p-2 bg-light"  style="font-weight: 600;border-radius: 10px 0px 0px 10px;"
                                    >
    
                                            {{
                                       item.createTime
                                            }}
                                        </p>
    
                                    </div>
                                    <div class=" col-12 d-flex align-items-start mt-3">

                                        <p class="mb-1">
                                            <span class="" style="font-weight: 600; font-size: 14px"
                                                [ngClass]="{'text-danger':(item.positionType).toUpperCase()==='SELL' , 'text-success':(item.positionType).toUpperCase()==='BUY' }">

                                                {{
                                                item.positionType
                                                }} | </span> <span class="card-text text-muted bg-light p-2 rounded-3"
                                                style="font-weight: 600; font-size: 14px">

                                                Isolated.{{
                                                item.leverage
                                                }}X</span> | <span class="card-text text-muted"
                                                style="font-weight: 600; font-size: 14px">
                                                Margin.
                                                {{
                                                item.im | number:'1.1-2'
                                                }} USDT</span>

                                        </p>

                                    </div>
                                

                                    <div class=" col-12 d-flex justify-content-between mt-2">

                                        <p class="text-muted mb-1"
                                            style="font-weight: 600; text-decoration:underline  ;">

                                            Unrealised P/L (USDT)
                                        </p>
                                        <p class="mb-1" class="" style="font-weight: 600; font-size: 15px" 
                                            [ngClass]="{'text-danger' :   getOpenPositionPnl(item).pnl <=0 , 'text-success':   getOpenPositionPnl(item).pnl >0}">

                                            {{
                                            getOpenPositionPnl(item).pnl | number:'1.1-3'
                                            }} [{{
                                            getOpenPositionPnl(item).pnlPercentage | number:'1.1-2'
                                            }}%]
                                        </p>
                 

                                    </div>


                                 


                                </div>



                                <div class="row mt-3 bg-light rounded-3 py-2 px-2">

                                    <div class="col-6 d-flex align-items-start flex-column">

                                        <p class="text-muted mb-1" style="">

                                            Size
                                        </p>
                                        <p class="mb-1" style="font-weight: 600; font-size: 15px">

                                            {{
                                            item.holdVol
                                            }}
                                        </p>


                                    </div>
                                    <!-- <div class="col-4 d-flex align-items-start flex-column p-0">

                                        <p class="text-muted mb-1" style="">

                                            Fee (in)
                                        </p>
                                        <p class="text-danger mb-1" style="font-weight: 600; font-size: 15px">

                                            {{
                                            item.fee
                                            }}
                                        </p>


                                    </div> -->

                                    <div class="col-6 d-flex align-items-between justify-content-center flex-column">

                                        <p class="text-muted mb-1 text-end" style="">

                                            Margin Ratio
                                        </p>
                                        <p class="text-danger text-end mb-1" style="font-weight: 600; font-size: 15px">

                                            {{((item.marginRatio)*100 ) |number:'1.1-2'}}%
                                        </p>


                                    </div>




                                    <div class="col-6 d-flex align-items-start justify-content-center flex-column mt-2">

                                        <p class="text-muted mb-1 " style="">

                                           Price (Holding)
                                        </p>
                                        <p class="mb-1" style="font-weight: 600; font-size: 15px">

                                            {{item.holdAvgPrice |number:'1.1-8'}}
                                        </p>


                                    </div>


                                    
                                    <div class="col-6 d-flex align-items-between justify-content-center flex-column mt-2">

                                        <p class="text-muted mb-1 text-end" style="">

                                           Price (Open)
                                        </p>
                                        <p class="text-end mb-1" style="font-weight: 600; font-size: 15px">

                                            {{item.openAvgPrice |number:'1.1-8'}}
                                        </p>


                                    </div>


                                    <div class="col-6 d-flex align-items-start justify-content-center flex-column mt-2">

                                        <p class="text-muted mb-1 " style="">

                                           Price (Current)
                                        </p>
                                        <p class="mb-1" style="font-weight: 600; font-size: 15px" *ngIf="(item.positionType).toUpperCase() === 'BUY'"
                                        [ngClass]="{'text-danger' : item.fairPrice<=item.holdAvgPrice , 'text-success': item.fairPrice>item.holdAvgPrice}"
                                        >

                                            {{item.fairPrice |number:'1.1-8'}}
                                        </p>

                                        <p class="mb-1" style="font-weight: 600; font-size: 15px" *ngIf="(item.positionType).toUpperCase() === 'SELL'"
                                        [ngClass]="{'text-success' : item.fairPrice<=item.holdAvgPrice , 'text-danger': item.fairPrice>item.holdAvgPrice}"
                                        >

                                            {{item.fairPrice |number:'1.1-8'}}
                                        </p>


                                    </div>


                                    
                                    <div class="col-6 d-flex align-items-between justify-content-center flex-column mt-2">

                                        <p class="text-muted mb-1 text-end" style="">

                                           Price (Liqudation)
                                        </p>
                                        <p class="text-end text-danger mb-1" style="font-weight: 600; font-size: 15px">

                                            {{item.liquidatePrice |number:'1.1-8'}}
                                        </p>

                                        <!-- <p class="text-end text-danger mb-1" style="font-weight: 600; font-size: 15px">

                                            {{item.liquidatePrice |number:'1.1-8'}} [-{{getPercentageUptoLiqudation(item) |number:'1.1-3'}}%]
                                        </p> -->
                                    </div>




                                </div>






                                <div class=" col-12 d-flex justify-content-between mt-3">

                                    <p class="text-muted mb-1"
                                        style="font-weight: 600; text-decoration:underline  ;">

                                        Rrealised P/L (USDT)
                                    </p>
                                    <p class="mb-1"  style="font-weight: 600; font-size: 15px"
                                    [ngClass]="{'text-danger' : item.realised <=0 , 'text-success': item.realsed >0}">

                                        {{
                                        item.realised | number:'1.1-3'
                                        }}
                                    </p>

                                </div>



                            




                            </div>

                        </div>
                    </div>

                </div>


            </div>




        </section>





        <div class="spacer-20"></div>




        <ng-container *ngIf="exchangeName!='Ourbit'">

            <section id="assets-detail" class="total-stats-div" style="margin-top: -40px">
                <h1 class="sectionTitle pb-4 pt-3">Accounts Realtime</h1>

                <div class="row box-shadow-total-stats rounded-2 py-5">

                    <div class="col-lg-6 col-12   d-flex justify-content-center align-items-start flex-column">
                        <div class="card p-0 mb-lg-0 mb-3"
                            style="width: 100%; border : none !important; box-shadow:none !important ">
                            <div class="card-body">





                                <!-- <h2 class="card-title">Total Equity</h2> -->
                                <div class="row d-flex flex-row justify-content-center" style="margin-top:-15px">
                                    <h3 class="differentiatorTitle">Total Equity</h3>
                                    <div class="col-6  inner-div">

                                        <h1 class="card-text text-success" style="font-weight: 600">
                                            <sub>₮</sub> {{futuresAccountInfo[0].equity | number : "1.0-3"}}

                                        </h1>
                                        <h5>USDT</h5>
                                    </div>
                                    <div class="col-6  inner-div">

                                        <h1 class="card-text text-success" style="font-weight: 600">
                                            <sub>₹</sub> {{(futuresAccountInfo[0].equity)*90 | number : "1.0-3"}}
                                        </h1>
                                        <h5>INR</h5>
                                    </div>
                                    <!-- <hr> -->
                                    <h3 class="differentiatorTitle pt-2">Available Margin</h3>

                                    <div class="col-6  inner-div">

                                        <h1 class="card-text text-success" style="font-weight: 600">
                                            <sub>₮</sub> {{futuresAccountInfo[0].availableBalance | number :
                                            "1.0-3"}}

                                        </h1>
                                        <h5>USDT</h5>
                                    </div>
                                    <div class="col-6  inner-div">

                                        <h1 class="card-text text-success" style="font-weight: 600">
                                            <sub>₹</sub> {{(futuresAccountInfo[0].availableBalance)*90 | number :
                                            "1.0-3"}}
                                        </h1>
                                        <h5>INR</h5>
                                    </div>
                                    <!-- <hr> -->
                                    <h3 class="differentiatorTitle pt-2">Position Margin</h3>

                                    <div class="col-6  inner-div">

                                        <h1 class="card-text text-success" style="font-weight: 600">
                                            <sub>₮</sub> {{futuresAccountInfo[0].positionMargin | number : "1.0-3"}}

                                        </h1>
                                        <h5>USDT</h5>
                                    </div>
                                    <div class="col-6  inner-div">

                                        <h1 class="card-text text-success" style="font-weight: 600">
                                            <sub>₹</sub> {{(futuresAccountInfo[0].positionMargin)*90 | number :
                                            "1.0-3"}}
                                        </h1>
                                        <h5>INR</h5>
                                    </div>
                                    <ng-container *ngIf="exchangeName==='Mexc'">
                                        <h3 class="differentiatorTitle pt-2">Unrealised PNL</h3>

                                        <div class="col-6  inner-div">

                                            <h1 class="card-text text-success" style="font-weight: 600">
                                                <sub>₮</sub> {{futuresAccountInfo[0].unrealized | number : "1.0-3"}}

                                            </h1>
                                            <h5>USDT</h5>
                                        </div>
                                        <div class="col-6  inner-div">

                                            <h1 class="card-text text-success" style="font-weight: 600">
                                                <sub>₹</sub> {{(futuresAccountInfo[0].unrealized)*90 | number :
                                                "1.0-3"}}
                                            </h1>
                                            <h5>INR</h5>
                                        </div>
                                    </ng-container>

                                </div>



                            </div>
                        </div>
                    </div>


                    <div class="col-lg-6   col-12 d-flex flex justify-content-center align-items-center  ">




                        <div class="total-stats-sub-div-h-100-w1-1000 d-flex align-items-center flex-wrap w-100 ">

                            <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions_Assets"
                                style="width: 100%; height: 350px; display: block;"></highcharts-chart>


                        </div>
                    </div>



                </div>




            </section>





        </ng-container>






        <div class="spacer-20"></div>

        <section id="transfer-detail" class="total-stats-div" style="margin-top: -40px">
            <h1 class="sectionTitle pb-4 pt-3">Transfers</h1>

            <div class="row box-shadow-total-stats rounded-2 py-5">

                <div
                    class="col-lg-6 col-12   d-flex justify-content-center align-items-start flex-column order-lg-1 order-0">
                    <div class="card p-0 mb-lg-0 mb-3"
                        style="width: 100%; border : none !important; box-shadow:none !important ">
                        <div class="card-body">






                            <div class="row d-flex flex-row justify-content-center" style="margin-top:-15px">

                                <ng-container>
                                    <h3 class="differentiatorTitle">Claimed Bonus</h3>
                                    <div class="col-6  inner-div">

                                        <h1 class="card-text text-success" style="font-weight: 600">
                                            <sub>₮</sub> {{this.ClaimedBonus| number : "1.0-3"}}

                                        </h1>
                                        <h5>USDT</h5>
                                    </div>
                                    <div class="col-6  inner-div">

                                        <h1 class="card-text text-success" style="font-weight: 600">
                                            <sub>₹</sub> {{(this.ClaimedBonus)*90 | number : "1.0-3"}}
                                        </h1>
                                        <h5>INR</h5>
                                    </div>
                                </ng-container>
                                <h3 class="differentiatorTitle pt-2">Transfered IN</h3>

                                <div class="col-6  inner-div">

                                    <h1 class="card-text text-success" style="font-weight: 600">
                                        <sub>₮</sub> {{calculatedTransfersInfo[0].totalInAmount | number :
                                        "1.0-3"}}

                                    </h1>
                                    <h5>USDT</h5>
                                </div>
                                <div class="col-6  inner-div">

                                    <h1 class="card-text text-success" style="font-weight: 600">
                                        <sub>₹</sub> {{(calculatedTransfersInfo[0].totalInAmount)*90 | number :
                                        "1.0-3"}}
                                    </h1>
                                    <h5>INR</h5>
                                </div>

                                <h3 class="differentiatorTitle pt-2">Transfered OUT</h3>

                                <div class="col-6  inner-div">

                                    <h1 class="card-text text-danger" style="font-weight: 600">
                                        <sub>₮</sub> {{calculatedTransfersInfo[0].totalOutAmount | number : "1.0-3"}}

                                    </h1>
                                    <h5>USDT</h5>
                                </div>
                                <div class="col-6  inner-div">

                                    <h1 class="card-text text-danger" style="font-weight: 600">
                                        <sub>₹</sub> {{(calculatedTransfersInfo[0].totalOutAmount)*90 | number :
                                        "1.0-3"}}
                                    </h1>
                                    <h5>INR</h5>
                                </div>

                            </div>



                        </div>
                    </div>
                </div>


                <div class="col-lg-6   col-12 d-flex flex justify-content-center align-items-center  ">




                    <div
                        class="total-stats-sub-div-h-100-w1-1000 d-flex align-items-center flex-wrap w-100 order-lg-0 order-1 ">

                        <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions_FuturesTransfers"
                            style="width: 100%; height: 350px; display: block;"></highcharts-chart>


                    </div>
                </div>



            </div>




        </section>












        <div class="spacer-20"></div>




        <section id="pnl-calender total-stats-div">
            <h1 class="sectionTitle pb-4">PNL Calender</h1>
            <div class=" row box-shadow-total-stats rounded-2 py-3 justify-content-center ">
                <div class="row">

                    <div class=" justify-content-between d-flex align-items-center px-0">




                        <div class="filter-buttons  d-flex align-content-center">
                            <span class="filter-link h6 border rounded-3 px-2  mb-0 d-flex align-items-center"
                                (click)="togglePnlDisplay(false)"
                                [ngClass]="{'filter-link-text': !showPnlPerDay, 'text-secondary':showPnlPerDay }">Monthly</span>
                            <span class="filter-link h6 ms-2  border rounded-3 px-2 mb-0  d-flex align-items-center"
                                (click)="togglePnlDisplay(true)"
                                [ngClass]="{'filter-link-text': showPnlPerDay, 'text-secondary':!showPnlPerDay }">Daily</span>

                        </div>


                        <div class=" p-2 ms-2">

                            <button class="btn btn-outline-primary" (click)="prevMonth()"
                                [disabled]="isPreDisabled()">&lt;</button>
                            <span class="text-center mx-1">{{ showPnlPerDay ? currentMonthYear : currentYear }}</span>
                            <button class="btn btn-outline-primary" (click)="nextMonth()" [disabled]="isNextDisabled()"
                                [ngClass]="{'bg-light ' : isNextDisabled()}">
                                &gt;
                            </button>
                        </div>


                    </div>

                </div>
                <div class="row">
                    <div class="table-responsive mt-3 calenderDiv px-0">
                        <table class="table table-bordered table-responsive">
                            <thead *ngIf="showPnlPerDay">
                                <tr>
                                    <th *ngFor="let dayName of dayNames">{{ dayName }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let week of calendar">
                                    <td *ngFor="let day of week" [ngClass]="{
                        'bg-white': day !== null && pnlDataPerDay[getDateKey(day)],
                        'bg-light': day !== null && !pnlDataPerDay[getDateKey(day)]
                    }" class="px-0">
                                        <div *ngIf="day">
                                            <p>{{ showPnlPerDay ? day.getDate() : day.toLocaleString('en-IN', { month:
                                                'long' })
                                                }}
                                            </p>

                                            <!-- ---------per day pnl--------STARTS -->
                                            <ng-container *ngIf="showPnlPerDay">
                                                <div *ngIf="pnlDataPerDay[getDateKey(day)]">

                                                    <p style="font-weight:600" [ngClass]="{
                                        'text-danger': pnlDataPerDay[getDateKey(day)].pnl < 0,
                                        'text-success': pnlDataPerDay[getDateKey(day)].pnl > 0,
                                        'text-muted': pnlDataPerDay[getDateKey(day)].pnl === 0
                                    }">
                                                        <ng-container
                                                            *ngIf="pnlDataPerDay[getDateKey(day)].pnl >= 0">+</ng-container>{{
                                                        pnlDataPerDay[getDateKey(day)].pnl.toFixed(2) }}
                                                    </p>

                                                </div>
                                                <div *ngIf="!pnlDataPerDay[getDateKey(day)]">
                                                    <p>--</p>
                                                </div>
                                            </ng-container>
                                            <!-- ---------per day pnl--------ENDS -->

                                            <!-- ---------per month pnl--------STARTS -->

                                            <ng-container *ngIf="!showPnlPerDay">
                                                <div *ngIf="pnlDataPerMonth[getMonthKey(day)]">

                                                    <p style="font-weight:600" [ngClass]="{
                                        'text-danger': pnlDataPerMonth[getMonthKey(day)].pnl < 0,
                                        'text-success': pnlDataPerMonth[getMonthKey(day)].pnl > 0,
                                        'text-muted': pnlDataPerMonth[getMonthKey(day)].pnl === 0
                                    }">
                                                        <ng-container
                                                            *ngIf="pnlDataPerMonth[getMonthKey(day)].pnl >= 0">+</ng-container>{{
                                                        pnlDataPerMonth[getMonthKey(day)].pnl.toFixed(4) }} USDT
                                                    </p>

                                                </div>
                                                <div *ngIf="!pnlDataPerMonth[getMonthKey(day)]">
                                                    <p>--</p>
                                                </div>
                                            </ng-container>

                                            <!-- ---------per month pnl--------ENDS -->
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>


        <div class="spacer-20"></div>
        <section id="trades-detail" class="total-stats-div">
            <h1 class="sectionTitle pb-4">PNL</h1>

            <div class="row box-shadow-total-stats rounded-2 py-5 justify-content-center">


                <!-- <div class="row pb-2">

                <div class=" justify-content-between d-flex align-items-center px-0">




                    <div class="filter-buttons  d-flex align-content-center">
                        <span class="filter-link h6 border rounded-3 px-2  mb-0 d-flex align-items-center"
                            (click)="togglePnlDisplay(false)"
                            [ngClass]="{'filter-link-text': !showPnlPerDay, 'text-secondary':showPnlPerDay }">Monthly</span>
                        <span class="filter-link h6 ms-2  border rounded-3 px-2 mb-0  d-flex align-items-center"
                            (click)="togglePnlDisplay(true)"
                            [ngClass]="{'filter-link-text': showPnlPerDay, 'text-secondary':!showPnlPerDay }">Daily</span>

                    </div>


                    <div class=" p-2 ms-2">
                        <button class="btn btn-outline-primary" (click)="prevMonth()">&lt;</button>
                        <span class="text-center mx-1">{{ showPnlPerDay ? currentMonthYear : currentYear }}</span>
                        <button class="btn btn-outline-primary" (click)="nextMonth()" [disabled]="isNextDisabled()"
                            [ngClass]="{'bg-light ' : isNextDisabled()}">
                            &gt;
                        </button>
                    </div>


                </div>

            </div> -->



                <div class="row">



                    <div class="col-lg-6  pt-lg-0 p-3 col-12 d-flex flex justify-content-center align-items-center  ">




                        <div class="total-stats-sub-div-h-100-w1-1000 d-flex align-items-center flex-wrap w-100 ">

                            <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions_PNL"
                                style="width: 100%; height: 350px; display: block;"></highcharts-chart>



                        </div>
                    </div>



                    <div class="col-lg-6   col-12 d-flex flex justify-content-center align-items-center mt-lg-0 mt-4">




                        <div class="total-stats-sub-div-h-100-w1-1000 d-flex align-items-center flex-wrap w-100 ">


                            <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions_InfluencerPNL"
                                style="width: 100%; height: 350px; display: block;"></highcharts-chart>



                        </div>
                    </div>










                </div>


            </div>

        </section>


        <div class="spacer-20"></div>

        <!-- -----------------------------------------------to add pnl per INFLUENCER --------------------STARTS -->

        <section id="pnl-Influencer" class="total-stats-div">
            <h1 class="sectionTitle pb-4">Total Trades</h1>
            <div class="row box-shadow-total-stats rounded-2 py-5">


                <div
                    class="col-lg-6   col-12 d-flex flex justify-content-center align-items-center  order-lg-1 order-0 ">




                    <div class="total-stats-sub-div-h-100-w1-1000 d-flex align-items-center flex-wrap w-100 ">

                        <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions_TotalTradesChart"
                            style="width: 100%; height: 350px; display: block;"></highcharts-chart>



                    </div>
                </div>

                <div
                    class="col-lg-6   col-12 d-flex flex justify-content-center align-items-center order-lg-0 order-1 mt-lg-0 mt-4">




                    <div class="total-stats-sub-div-h-100-w1-1000 d-flex align-items-center flex-wrap w-100 ">

                        <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions_InfluencersTotalTrades"
                            style="width: 100%; height: 350px; display: block;"></highcharts-chart>



                    </div>
                </div>



            </div>
        </section>


        <!-- -----------------------------------------------to add pnl per INFLUENCER --------------------STARTS -->

        <div class="spacer-20"></div>













        <section id="trading-pairs-detail" class="total-stats-div">
            <h1 class="sectionTitle pb-4">Trading Pairs</h1>

            <div class="row box-shadow-total-stats rounded-2 py-5">



                <div class="col-lg-6   col-12 d-flex flex justify-content-center align-items-center  ">




                    <div class="total-stats-sub-div-h-100-w1-1000 d-flex align-items-center flex-wrap w-100 ">


                        <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions_TradingPairs"
                            style="width: 100%; height: 350px; display: block;"></highcharts-chart>



                    </div>
                </div>

                <div class="col-lg-6 col-12   d-flex justify-content-center align-items-center flex-column">
                    <div class="card p-0 mb-lg-0 mb-3"
                        style="width: 100%; border : none !important; box-shadow:none !important ; padding:0px !important">
                        <div class="card-body" style="padding:0px !important">


                            <div class="inner-div">

                                <table class="table table-hover table-borderless">
                                    <thead>
                                        <tr>
                                            <th>Pair</th>
                                            <th>Total Trades</th>
                                            <th>Total Pnl</th>
                                            <th>Details</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container *ngFor="let pair of tradingPairDetailsKeys">
                                            <tr>
                                                <td>{{ pair }}</td>
                                                <td>{{ columnTotals.tradingPairDetails[pair]?.totalTrades }}</td>
                                                <td
                                                    [ngClass]="{'text-success': columnTotals.tradingPairDetails[pair]?.totalPnl>0 , 'text-danger':columnTotals.tradingPairDetails[pair]?.totalPnl<0}">
                                                    {{ columnTotals.tradingPairDetails[pair]?.totalPnl |
                                                    number:'1.0-4'}}
                                                </td>
                                                <td (click)="toggleDetails(pair); $event.stopPropagation();"
                                                    *ngIf="expandedPair !== pair" style="cursor: pointer"><button
                                                        mat-mini-fab class="bg-light"><mat-icon
                                                            class="text-primary">keyboard_arrow_down</mat-icon></button>
                                                </td>
                                                <td (click)="toggleDetails(pair); $event.stopPropagation();"
                                                    *ngIf="expandedPair === pair" style="cursor: pointer"><button
                                                        mat-mini-fab class="bg-light"><mat-icon
                                                            class="text-primary">keyboard_arrow_up</mat-icon></button>
                                                </td>

                                            </tr>
                                            <!-- Details row -->
                                            <tr *ngIf="expandedPair === pair">
                                                <td colspan="6">
                                                    <table class="table table-borderless bg-light">
                                                        <tr>
                                                            <th>Profit</th>
                                                            <th>Loss</th>
                                                            <th>Buy Trades</th>
                                                            <th>Sell Trades</th>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-success">{{
                                                                columnTotals.tradingPairDetails[pair]?.totalProfit |
                                                                number:'1.0-4' }}
                                                            </td>
                                                            <td class="text-danger">{{
                                                                columnTotals.tradingPairDetails[pair]?.totalLoss |
                                                                number:'1.0-4' }}</td>
                                                            <td class="text-success">{{
                                                                columnTotals.tradingPairDetails[pair]?.totalBuyTrades }}
                                                            </td>
                                                            <td class="text-danger">{{
                                                                columnTotals.tradingPairDetails[pair]?.totalSellTrades
                                                                }}
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </ng-container>
                                    </tbody>
                                </table>

                                <!-- Buttons for navigation and show all -->
                                <!-- <div>
                       
                                {{startIndex}}|{{rowsToShow}} | {{showAll}} | {{endIndex}}
                                <button class="btn btn-primary" (click)="showPrevRows()">Prev </button>
                                <button class="btn btn-primary" (click)="showNextRows()">Next</button>
                                <button class="btn btn-primary" (click)="showAllRows()">Show All</button>

                            </div> -->








                            </div>
                        </div>

                    </div>

                    <div class="row w-100 align-items-center mt-2">

                        <div class="col-12 d-flex justify-content-evenly align-items-center">
                            <div class="col">

                                &nbsp;
                            </div>

                            <div class="col justify-content-end d-flex" *ngIf="exchangeName!=='' && sheetName!==''">

                                <button mat-raised-button class=" dd-flex align-content-center bg-white "
                                    (click)="showAllRows()" *ngIf="!showAll"><mat-icon
                                        class="me-2">remove_red_eye</mat-icon>
                                    All</button>
                                <button mat-raised-button class=" dd-flex align-content-center bg-white"
                                    (click)="showAllRows()" *ngIf="showAll"><mat-icon
                                        class="me-2">remove_red_eye</mat-icon> Less</button>
                            </div>
                        </div>
                    </div>

                </div>



            </div>




        </section>






        <div class="spacer-20"></div>



































    </ng-container>


</div>
<!-- </div> -->