<div class="total-stats-div p-3 mt-3">
  <h1 class="box-title" style="top: -51pxx !important">Total Stats</h1>
  <div class="loader-div d-flex justify-content-center align-items-center flex-column"
    *ngIf="!IsSelectedSheetDataLoaded">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <span class="pt-2">Loading ...</span>

  </div>

  <div class="row" style="margin-top: -20px" *ngIf="IsSelectedSheetDataLoaded">
    <div class="col-lg-6 col-12   total-stats-inner-div d-flex justify-content-between align-items-start flex-column">
      <div class="card p-0" style="width: 100%">
        <div class="card-body">


          <div class="row ">
            <h2 class="card-title">Total Invested</h2>
            <div class="row d-flex flex-row justify-content-center" style="margin-top:-15px">

              <div class="col-6  inner-div">

                <h1 class="card-text text-success" style="font-weight: 600">
                  <sub>₮</sub> {{ columnTotals.TotalInvested | number : "1.0-2" }}

                </h1>
                <h5>USDT</h5>
              </div>
              <div class="col-6  inner-div">

                <h1 class="card-text text-success" style="font-weight: 600">
                  <sub>₹</sub> {{ (columnTotals.TotalInvested)*90 | number : "1.0-2" }}
                </h1>
                <h5>INR</h5>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>



    <div class="col-lg-6 col-12   total-stats-inner-div d-flex justify-content-between align-items-start flex-column">
      <div class="card p-0" style="width: 100%">
        <div class="card-body">


          <div class="row ">
            <h2 class="card-title">Current value</h2>
            <div class="row d-flex flex-row justify-content-center" style="margin-top:-15px">

              <div class="col-6  inner-div">

                <h1 class="card-text " style="font-weight: 600" [ngClass]="{
                            'text-danger': getTotalPercentageCurrentValue() < 0,
                            'text-success': getTotalPercentageCurrentValue() >= 0
                          }">
                  <sub>₮</sub> {{ getTotalCurrentValue() | number : "1.0-2" }}

                </h1>
                <h5>USDT</h5>
              </div>
              <div class="col-6  inner-div">

                <h1 class="card-text " style="font-weight: 600" [ngClass]="{
                            'text-danger': getTotalPercentageCurrentValue() < 0,
                            'text-success': getTotalPercentageCurrentValue() >= 0
                          }">
                  <sub>₹</sub> {{ (getTotalCurrentValue())*91 | number : "1.0-2" }}
                </h1>
                <h5>INR</h5>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>


    <div class="col-lg-6 col-12   total-stats-inner-div d-flex justify-content-between align-items-start flex-column">
      <div class="card p-0" style="width: 100%">
        <div class="card-body">


          <div class="row ">
            <h2 class="card-title">Total SeedMoney</h2>
            <div class="row d-flex flex-row justify-content-center" style="margin-top:-15px">

              <div class="col-6  inner-div">

                <h1 class="card-text text-success" style="font-weight: 600">
                  <sub>₮</sub> {{ columnTotals.TotalSeedMoney | number : "1.0-2" }}

                </h1>
                <h5>USDT</h5>
              </div>
              <div class="col-6  inner-div">

                <h1 class="card-text text-success" style="font-weight: 600">
                  <sub>₹</sub> {{ (columnTotals.TotalSeedMoney)*90 | number : "1.0-2" }}
                </h1>
                <h5>INR</h5>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>














    <div class="col-lg-6 col-12   total-stats-inner-div d-flex justify-content-between align-items-start flex-column">
      <div class="card p-0" style="width: 100%">
        <div class="card-body">


          <div class="row ">
            <h2 class="card-title">Total Retrieved SeedMoney</h2>
            <div class="row d-flex flex-row justify-content-center" style="margin-top:-15px">

              <div class="col-6  inner-div">

                <h1 class="card-text" style="font-weight: 600"
                  [ngClass]="{'text-success': (columnTotals.TotalRetrievedSeedMoney)>(columnTotals.TotalSeedMoney), 'text-danger':(columnTotals.TotalRetrievedSeedMoney)<(columnTotals.TotalSeedMoney)}">
                  <sub>₮</sub> {{ columnTotals.TotalRetrievedSeedMoney | number : "1.0-2" }}

                </h1>
                <h5>USDT</h5>
              </div>
              <div class="col-6  inner-div">

                <h1 class="card-text" style="font-weight: 600"
                  [ngClass]="{'text-success': (columnTotals.TotalRetrievedSeedMoney)>(columnTotals.TotalSeedMoney), 'text-danger':(columnTotals.TotalRetrievedSeedMoney)<(columnTotals.TotalSeedMoney)}">
                  <sub>₹</sub> {{ (columnTotals.TotalRetrievedSeedMoney)*90 | number : "1.0-2" }}
                </h1>
                <h5>INR</h5>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>





    <div class="col-12   total-stats-inner-div d-flex justify-content-between align-items-start flex-column">
      <div class="card p-0" style="width: 100%">
        <div class="card-body">


          <div class="row ">
            <h2 class="card-title">Profit/Loss</h2>
            <div class="row d-flex flex-row justify-content-center" style="margin-top:-15px">

              <div class="col-12 d-flex justify-content-center align-content-center"
                *ngIf="!getPnlInUSDT() && !getTotalPercentageCurrentValue()">
                Processing ! Please Wait ...
              </div>

              <ng-container *ngIf="getPnlInUSDT() && getTotalPercentageCurrentValue()">
                <div class="col-4  inner-div">

                  <h1 class="card-text" style="font-weight: 600" [ngClass]="{
                          'text-danger': getPnlInUSDT() < 0,
                          'text-success': getPnlInUSDT() >= 0
                        }">
                    <sub>₮</sub> {{ getPnlInUSDT() | number : "1.0-2" }}

                  </h1>
                  <h5>USDT</h5>
                </div>
                <div class="col-4  inner-div">

                  <h1 class="card-text" style="font-weight: 600" [ngClass]="{
                          'text-danger': getPnlInUSDT() < 0,
                          'text-success': getPnlInUSDT() >= 0
                        }">
                    <sub>₹</sub> {{ getPnlInUSDT()*91 | number : "1.0-2" }}
                  </h1>
                  <h5>INR</h5>
                </div>
                <div class="col-4  inner-div">

                  <h1 class="card-text " style="font-weight: 600"
                    [ngClass]="{'text-success': (getPnlInUSDT())>(0) ,'text-danger': (getPnlInUSDT())<(0)}">
                    <span *ngIf="(getPnlInUSDT())>(0)">⬆</span>
                    <span *ngIf="(getPnlInUSDT())<(0)">⬇</span>

                    {{
                    getTotalPercentageCurrentValue() | number : "1.2-2"
                    }}%
                  </h1>
                  <h5>Percentage</h5>
                </div>
              </ng-container>
            </div>
          </div>

        </div>
      </div>
    </div>


  </div>
</div>
<div class="spacer-20"></div>

<div class="coins-outer-div p-3">
  <h1 class="box-title">
    Coins
  </h1>
  <div class="loader-div d-flex justify-content-center align-items-center flex-column"
    *ngIf="!IsSelectedSheetDataLoaded">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <span class="pt-2">Loading ...</span>

  </div>

  <div class="row d-flex justify-content-center align-items-start " style="margin-top: -30px"
    *ngIf="IsSelectedSheetDataLoaded && calculateBuySellCountsExecuted">
    <div class="col-6">
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Search</mat-label>
        <input matInput [(ngModel)]="searchTerm" placeholder="Search coins" />
        <button class="text-danger" *ngIf="searchTerm" matSuffix mat-icon-button  aria-label="Clear" type="button" 
          (click)="searchTerm = ''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="col-6 mb-3 d-flex justify-content-end">
      <!-- <mat-icon (click)="OnShowAdvanceOptions()">settings</mat-icon> -->
      <mat-slide-toggle (change)="OnShowAdvanceOptions()">Options</mat-slide-toggle>

    </div>

  </div>
  <div class="row">
    <div class="col-12 filtered_count_length" *ngIf="filteredTradingPairData.length!=0">
      <p class="ps-2 total_filtered_trade_count">
        Total Pairs : {{filteredTradingPairData.length}}

      </p>
    </div>
  </div>

  <!-- <div class="spacer-20"></div> -->
  <ng-container *ngIf="show_advance_options">

    <div class="OptionsDivs" *ngIf="IsSelectedSheetDataLoaded && calculateBuySellCountsExecuted">


      <!-- <div class="row">
          <mat-form-field appearance="outline" floatLabel="always" >
            <mat-label>Search</mat-label>
            <input matInput [(ngModel)]="searchTerm" placeholder="Search coins" />
            <button class="text-danger" *ngIf="searchTerm" matSuffix mat-icon-button  aria-label="Clear" type="button" 
              (click)="searchTerm = ''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div> -->
      <!-- Show buttons -->

      <div class="d-flex row justify-content-sm-end justify-content-lg-start my-3">
        <div class="col-3">
          <span class="h6">Items : </span>
        </div>

        <div class="filter-buttons col-10 d-flex flex-row">
          <span class="filter-link h6 ms-2 border rounded-3 px-2 d-flex align-items-center" (click)="showAllCoins()"
            [ngClass]="{'filter-link-text': !showLessCoinsFlag, 'text-secondary':showLessCoinsFlag }">All</span>
          <span class="filter-link h6 ms-2  border rounded-3 px-2 d-flex align-items-center" (click)="showLessCoins()"
            [ngClass]="{'filter-link-text': showLessCoinsFlag, 'text-secondary':!showLessCoinsFlag }">Two</span>

        </div>
      </div>
      <!-- Sorting buttons -->
      <div class="d-flex  row justify-content-sm-end justify-content-lg-start my-3"
        *ngIf="IsSelectedSheetDataLoaded && calculateBuySellCountsExecuted">
        <div class="col-3">
          <span class="h6">Sort :</span>
        </div>

        <div class="filter-buttons col-10 d-flex flex-wrap">

          <span class="filter-link h6 ms-2  border rounded-3 px-2 d-flex align-items-center "
            (click)="sortCoinsRecent()"
            [ngClass]="{'filter-link-text': selectedSortDirection == 'recent', 'text-secondary': selectedSortDirection != 'recent'}">
            Recent
          </span>
          <span class="filter-link h6 ms-2 border rounded-3 px-2 d-flex align-items-center "
            (click)="sortCoinsWinners()"
            [ngClass]="{'filter-link-text': selectedSortDirection == 'winners', 'text-secondary': selectedSortDirection != 'winners'}">
            Winners
          </span>
          <span class="filter-link h6 ms-2  border rounded-3 px-2 d-flex align-items-center "
            (click)="sortCoinsLoosers()"
            [ngClass]="{'filter-link-text': selectedSortDirection == 'loosers', 'text-secondary': selectedSortDirection != 'loosers'}">
            Loosers
          </span>
        </div>

      </div>


      <!-- Filter buttons -->

      <div class="d-flex row justify-content-sm-end justify-content-lg-start my-3">
        <div class="col-3">
          <span class="h6">Filter : </span>
        </div>

        <div class="filter-buttons col-10 d-flex flex-wrap">
          <span class="filter-link h6  border rounded-3 px-2 ms-2" (click)="setFilter($event)"
            [ngClass]="{'filter-link-text': filterOption == 'All', 'text-secondary': filterOption != 'All'}">All</span>
          <span class="filter-link h6   border rounded-3 px-2 ms-2" (click)="setFilter($event)"
            [ngClass]="{'filter-link-text': filterOption == 'Holding', 'text-secondary': filterOption != 'Holding'}">Holding</span>
          <span class="filter-link h6   border rounded-3 px-2 ms-2" (click)="setFilter($event)"
            [ngClass]="{'filter-link-text': filterOption == 'Sold', 'text-secondary': filterOption != 'Sold'}">Sold</span>
          <span class="filter-link h6  border rounded-3 px-2 ms-2" (click)="setFilter($event)"
            [ngClass]="{'filter-link-text': filterOption == 'Holding Profits', 'text-secondary': filterOption != 'Holding Profits'}">Holding
            Profits</span>
          <span class="filter-link h6  border rounded-3 px-2 ms-2" (click)="setFilter($event)"
            [ngClass]="{'filter-link-text': filterOption == 'Holding Losses', 'text-secondary': filterOption != 'Holding Losses'}">Holding
            Losses</span>

          <span class="filter-link h6  border rounded-3 px-2 ms-2" (click)="setFilter($event)"
            [ngClass]="{'filter-link-text': filterOption == 'Sold Profits', 'text-secondary': filterOption != 'Sold Profits'}">Sold
            Profits</span>
          <span class="filter-link h6  border rounded-3 px-2 ms-2" (click)="setFilter($event)"
            [ngClass]="{'filter-link-text': filterOption == 'Sold Losses', 'text-secondary': filterOption != 'Sold Losses'}">Sold
            Losses</span>

          <span class="filter-link h6  border rounded-3 px-2 ms-2" (click)="setFilter($event)"
            [ngClass]="{'filter-link-text': filterOption == 'Invested less than 10', 'text-secondary': filterOption != 'Invested less than 10'}">Invested
            less than 10
          </span>
          <span class="filter-link h6  border rounded-3 px-2 ms-2" (click)="setFilter($event)"
            [ngClass]="{'filter-link-text': filterOption == 'Invested greater than 10', 'text-secondary': filterOption != 'Invested greater than 10'}">Invested
            greater than 10
          </span>

        </div>
      </div>


      <button class="btn btn-danger" (click)="setDefaultOptions()" [disabled]="!isDefaultOption()">Defaults</button>


    </div>
  </ng-container>
  <div class="spacer-20"></div>


  <div class="row coins-div box-shadow-sub-total-stats  py-4 rounded-3 px-2"
    [ngClass]="{'show-less': showLessCoinsFlag}" style="margin-top: -20px; padding-top:30pxx !important"
    *ngIf="IsSelectedSheetDataLoaded">
    <div class="col-lg-6 pt-3 col-12 pb-4 d-flex justify-content-between align-items-start flex-column"
      *ngFor="let item of filteredTradingPairData">
      <div class="card card-trading_Pairs p-0" style="width: 100%">
        <div class="card-body">




          <!-- <div class="row">
              <div class="col-12 mt-4">
                <div class="miniChartSection">
                  <h2 class="text-warning">Mini Chart</h2>
                  <div [id]="'tv_minichart_widget_'+item.TradingPair"></div>
                </div>
              </div>
            </div> -->


















          <div class="row">
            <div class="col-6 d-flex align-items-center">
              <h2 class="card-title badge badge-heading pill ">
                <!-- [ngClass]="{
                    'text-success':
                      getCurrentValue(item.TradingPair) >=
                      item.TotalInvestedAmount,
                    'text-danger':
                      getCurrentValue(item.TradingPair) < item.TotalInvestedAmount
                  }" -->
                {{ item.TradingPair }}
                <mat-icon *ngIf="
                      getCurrentValue(item.TradingPair) >=
                      item.TotalInvestedAmount
                    " class="text-success">trending_up</mat-icon>
                <mat-icon *ngIf="
                      getCurrentValue(item.TradingPair) < item.TotalInvestedAmount
                    " class="text-danger">trending_down</mat-icon>
              </h2>
            </div>
          </div>
          <div class="row" style="margin-top: -25px; margin-bottom: 10px">
            <div class="col-6 d-flex align-items-center">
              <p *ngIf="(item.TotalBuyQuantity)*(item.AverageBuyPrice) >0.1" class="px-3 mb-0 text-muted"
                style="font-weight: 600">
                <span class="card-text" style="font-size: 18px" [ngClass]="
                      getPnl(item.TradingPair) < 0
                        ? 'text-danger'
                        : 'text-success'
                    ">₮{{ getPnl(item.TradingPair) | number : "1.0-2" }}</span>
                <!-- <span class="card-text" style="font-size:14px" [ngClass]="getPnl(item.TradingPair) < 0 ? 'text-danger' : 'text-success'"> ({{ getPercentagePnl(item.TradingPair) | number:'1.2-2' }}%)</span> -->
                <!-- Add MatIcon based on the comparison of prevPrice and currentPrice -->
              </p>
              <p *ngIf="(item.TotalBuyQuantity)*(item.AverageBuyPrice) <0.1" class="px-3 mb-0 text-muted"
                style="font-weight: 600">
                <span class="card-text" style="font-size: 18px" [ngClass]="{
                  'text-danger': getPnl_Booked(item.Trades)  < 0 ,
                  'text-success':getPnl_Booked(item.Trades)  > 0 ,
                  'text-muted' : getPnl_Booked(item.Trades)  == 0
                }"> ₮ {{getPnl_Booked(item.Trades) | number : "1.0-4" }}</span>
                <!-- <span class="card-text" style="font-size:14px" [ngClass]="getPnl(item.TradingPair) < 0 ? 'text-danger' : 'text-success'"> ({{ getPercentagePnl(item.TradingPair) | number:'1.2-2' }}%)</span> -->
                <!-- Add MatIcon based on the comparison of prevPrice and currentPrice -->
              </p>
            </div>

            <div class="col-6 justify-content-end d-flex align-items-center">
              <span> </span>
              <span class="card-text" style="font-size: 18px"
                *ngIf="(item.TotalBuyQuantity)*(item.AverageBuyPrice) >0.1" [ngClass]="
                    getPnl(item.TradingPair) < 0 ? 'text-danger' : 'text-success'
                  ">
                {{
                getPercentagePnl(item.TradingPair) | number : "1.2-2"
                }}%</span>


              <span class="card-text" style="font-size: 18px"
                *ngIf="(item.TotalBuyQuantity)*(item.AverageBuyPrice) <0.1" [ngClass]="{
  'text-danger': getPnl_Booked(item.Trades) < 0 ,
  'text-success':getPnl_Booked(item.Trades) > 0 ,
  'text-muted' : getPnl_Booked(item.Trades) == 0
  }">
                {{getPnlPercentage_Booked(item.Trades)}} %
              </span>

            </div>
          </div>
          <!-- matTooltip="{{item.TotalBuyQuantity}} {{item.TradingPair}} @ {{item.AverageBuyPrice}} ₮" -->

          <div class="row pt-2">
            <div class="col-6" *ngIf="(item.TotalBuyQuantity)*(item.AverageBuyPrice) >0.1">
              <p class="px-3 text-muted" style="font-weight: 600">
                Invested Value<br />

                <span class="card-text text-muted" style="font-weight: 600; font-size: 16px">
                  ₮ {{ item.TotalInvestedAmount | number : "1.0-2" }}</span>
              </p>
            </div>

            <div class="col-6" *ngIf="(item.TotalBuyQuantity)*(item.AverageBuyPrice) >0.1">
              <p class="px-3 text-muted" style="font-weight: 600">
                Current Value<br />
                <span class="card-text" [ngClass]="{
                      'text-success':
                        getCurrentValue(item.TradingPair) >=
                        item.TotalInvestedAmount,
                      'text-danger':
                        getCurrentValue(item.TradingPair) <
                        item.TotalInvestedAmount
                    }" style="font-weight: 600; font-size: 16px">
                  ₮ {{ getCurrentValue(item.TradingPair) | number : "1.0-2" }}
                </span>
              </p>
            </div>

            <div class="col-6" *ngIf="(item.TotalBuyQuantity)*(item.AverageBuyPrice) >0.1">
              <p class="px-3 text-muted" style="font-weight: 600">
                Quantity<br />

                <span class="card-text text-muted" style="font-weight: 600; font-size: 16px">
                  {{ item.TotalBuyQuantity | number:'1.0-8'}}</span>
              </p>
            </div>


            <div class="col-6">
              <p class="px-3 text-muted" style="font-weight: 600">
                Buy Price<br />

                <span class="card-text text-muted" style="font-weight: 600; font-size: 16px"
                  *ngIf="(item.TotalBuyQuantity)*(item.AverageBuyPrice) >0.1">
                  ₮ {{ item.AverageBuyPrice | number : "1.0-8" }}</span>

                <span class="card-text text-muted" style="font-weight: 600; font-size: 16px"
                  *ngIf="(item.TotalBuyQuantity)*(item.AverageBuyPrice) < 0.1">
                  ₮ {{getAvgBuyPrice_Booked(item.Trades) | number :'1.0-8' }}</span>
                <!-- Add MatIcon based on the comparison of prevPrice and currentPrice -->
              </p>
            </div>


            <div class="col-6" *ngIf="(item.TotalBuyQuantity)*(item.AverageBuyPrice) < 0.1">
              <p class="px-3 text-muted" style="font-weight: 600">
                Sell Price<br />

                <span class="card-text text-muted" style="font-weight: 600; font-size: 16px">
                  ₮ {{getAvgSellPrice_Booked(item.Trades) | number :'1.0-8' }}</span>
                <!-- Add MatIcon based on the comparison of prevPrice and currentPrice -->
              </p>
            </div>



            <div class="col-6">
              <p class="px-3" style="font-weight: 600">
                <span class="text-muted"> Current Price </span>
                <br />

                <span class="card-text d-flex" [ngClass]="{
                      'text-danger': !getPriceColour(item.TradingPair),
                      'text-success': getPriceColour(item.TradingPair)
                    }" style="font-weight: 600; font-size: 16px">{{
                  getPriceForTradingPair(item.TradingPair) | number : "1.0-8"
                  }}

                  <mat-icon style="font-size: 15px" *ngIf="getPriceColour(item.TradingPair)"
                    class="text-success">arrow_upward</mat-icon>
                  <mat-icon style="font-size: 15px" *ngIf="!getPriceColour(item.TradingPair)"
                    class="text-danger">arrow_downward</mat-icon>
                </span>
              </p>
            </div>
            <div class="col-6" *ngIf="(item.TotalBuyQuantity)*(item.AverageBuyPrice) >0.1">
              <p class="px-3 text-muted" style="font-weight: 600">
                Realized PNL<br />

                <span class="card-text " style="font-weight: 600; font-size: 16px" [ngClass]="{
                    'text-danger': item.RealizedPnl < 0 ,
                    'text-success':item.RealizedPnl > 0 ,
                    'text-muted' : item.RealizedPnl == 0
                  }">
                  ₮ {{ item.RealizedPnl | number : "1.0-3" }}</span>
                <!-- Add MatIcon based on the comparison of prevPrice and currentPrice -->
              </p>
            </div>



            <div class="col-6">
              <p class="px-3 text-muted" style="font-weight: 600">
                Seed Money<br />
                <span class="card-text " style="font-weight: 600; font-size: 16px">
                  ₮ {{ item.SeedMoney | number:'1.0-3' }}</span>
              </p>
            </div>



            <div class="col-6">
              <p class="px-3 text-muted" style="font-weight: 600">
                Retrieved Seed Money<br />
                <span class="card-text " style="font-weight: 600; font-size: 16px" [ngClass]="{
                    'text-danger': item.RetrievedSeedMoney < item.SeedMoney ,
                    'text-success':item.RetrievedSeedMoney > item.SeedMoney ,
                    'text-muted' : item.RetrievedSeedMoney == 0 || !(item.RetrievedSeedMoney)
                    
                  }">
                  ₮ {{ item.RetrievedSeedMoney | number:'1.0-3' }}</span>

            </div>

            <div class="col-6" *ngIf="(item.TotalBuyQuantity)*(item.AverageBuyPrice) >0.1">
              <p class="px-3 text-muted" style="font-weight: 600">
                Period<br />

                <span class="card-text text-muted" style="font-weight: 600; font-size: 16px">
                  {{ item.Trades[0].Period ? item.Trades[0].Period : 'Not Decided' }}</span>
              </p>
            </div>


            <div class="col-6">
              <p class="px-3 text-muted" style="font-weight: 600">
                Influencer<br />

                <span class="card-text text-info" style="font-weight: 600; font-size: 16px">
                  {{ item.Trades[0]?.Influencer ? item.Trades[0].Influencer : '-' }}
                </span>

              </p>
            </div>





            <!-- Inside your HTML template -->

            <!-- Inside your HTML template -->
          </div>


          <div class="row modalButtons-row">

            <div class="col-12 d-flex justify-content-around align-content-center modalButtons-col">
              <p class="px-3  d-flex align-items-center flex-column" style="font-weight:600;">


                <mat-icon class="text-primary" (click)="onOpenTradeDetailsDialog(item)" style="cursor:pointer">notes
                </mat-icon>



                Details
              </p>


              <!-- *ngIf="((item.TotalBuyQuantity)*(item.AverageBuyPrice) >0.1) && IsSheetDataLoaded_OpenOrders" -->
              <ng-container
                >
                <p class="px-3 d-flex align-items-center text-success flex-column" style="font-weight:600;"
                  [ngClass]="{'disabled-icon': getOpenOrdersCount(item.TradingPair) === 0}">

                  <mat-icon class="text-success" (click)="onOpenOrdersDialog(item)" style="cursor:pointer"
                  aria-hidden="false"
                    [matBadge]="getOpenOrdersCount(item.TradingPair) !== 0 ? getOpenOrdersCount(item.TradingPair) : 0"
                    matBadgePosition="above after" matBadgeColor="accent"
                    [ngClass]="{'disabled-icon': getOpenOrdersCount(item.TradingPair) === 0}">
                    launch
                  </mat-icon>
                  Open Orders
                </p>
              </ng-container>

              <ng-container *ngIf="!IsSheetDataLoaded_OpenOrders">
                <p class="px-3 d-flex align-items-center text-warning flex-column" style="font-weight:600; cursor: not-allowed;">
                  <mat-icon class="text-warning" style="cursor:not-allowed; color:#ffc137 !important">launch</mat-icon>&nbsp;&nbsp;Processing ...
                </p>

              </ng-container>




              <!-- <p class="px-3  d-flex align-items-center flex-column" style="font-weight:600;"
                *ngIf="(item.TotalBuyQuantity)*(item.AverageBuyPrice) <0.1">
                <mat-icon class="text-success" (click)="onOpenOrdersDialog(item)" style="cursor:pointer">launch
                </mat-icon>
                Open Orders
              </p> -->

              <p class="px-3  d-flex align-items-center flex-column" style="font-weight:600;">
                <mat-icon class="text-primary" (click)="onOpenHistoryDialog(item)" style="cursor:pointer"
                aria-hidden="false"
                  [matBadge]="item.TradeCount " matBadgePosition="after" matBadgeColor="accent">history
                </mat-icon>
                History
              </p>
              <p class="px-3  d-flex align-items-center flex-column" style="font-weight:600;">
                <mat-icon class="text-primary" (click)="onOpenChartAnalysisDialog(item)"
                  style="cursor:pointer">insert_chart_outlined
                </mat-icon>
                Analysis
              </p>
            </div>


          </div>


        </div>
      </div>
    </div>
    <div *ngIf="filteredTradingPairData.length==0 "
      class="col-lg-6 pt-3 col-12 pb-lg-0 pb-3 d-flex justify-content-between align-items-start flex-column">
      <p class="text-center">No Data Found !</p>


    </div>

  </div>
</div>

<div class="spacer-20"></div>

<div class="history-div p-3 mt-3">
  <h1 class="box-title mb-0">Order History</h1>


  <mat-form-field appearance="outline" floatLabel="always" >
    <mat-label>Filter Table</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input />
  </mat-form-field>
  <div style="overflow-x: auto" class="example-container">
    <ng-container class="table-div">
      <!-- trading-setup.component.html -->

      <div class="mat-elevation-z8 example-table-container">
        <table mat-table [dataSource]="dataSource" matSort matSortActive="Date" matSortDirection="desc"
          class="mat-elevation-z8">
          <!-- Define columns -->
          <ng-container matColumnDef="Date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
            <td mat-cell *matCellDef="let element" style="font-weight: 600" class="text-muted">
              {{ element.Date }}
            </td>
          </ng-container>

          <ng-container matColumnDef="Market">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Market</th>
            <td mat-cell *matCellDef="let element" class="text-success" style="font-weight: 600"
              [ngClass]="{'text-success' : element.Direction == 'BUY', 'text-danger' : element.Direction == 'SELL'}">
              {{ element.Market }}
            </td>
          </ng-container>
          <ng-container matColumnDef="Direction">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Direction </th>
            <td mat-cell *matCellDef="let element"
              [ngClass]="{'text-success' : element.Direction == 'BUY', 'text-danger' : element.Direction == 'SELL'}">
              {{ element.Direction }} </td>
          </ng-container>
          <ng-container matColumnDef="Price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
            <td mat-cell *matCellDef="let element" class="text-success"
              [ngClass]="{'text-success' : element.Direction == 'BUY', 'text-danger' : element.Direction == 'SELL'}">
              <span style="font-weight: 600">₮ </span> {{ element.Price }}
            </td>
          </ng-container>

          <ng-container matColumnDef="Amount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
            <td mat-cell *matCellDef="let element"
              [ngClass]="{'text-success' : element.Direction == 'BUY', 'text-danger' : element.Direction == 'SELL'}">{{
              element.Amount }}</td>
          </ng-container>

          <ng-container matColumnDef="Total_USDT">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Total_USDT
            </th>
            <td mat-cell *matCellDef="let element" style="font-weight: 600"
              [ngClass]="{'text-success' : element.Direction == 'BUY', 'text-danger' : element.Direction == 'SELL'}">
              <span *ngIf="element.Total_USDT">₮</span>
              {{ element.Total_USDT.toFixed(3) }}
            </td>
          </ng-container>


          <ng-container matColumnDef="Fees">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Fees</th>
            <td mat-cell *matCellDef="let element" class="text-danger">{{ element.Fees  | number:'1.1-8'}}</td>
          </ng-container>

          <ng-container matColumnDef="Fee_Asset">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Fee_Asset</th>
            <td mat-cell *matCellDef="let element" class="text-danger">{{ element.Fee_Asset }}</td>
          </ng-container>

          <ng-container matColumnDef="Influencer">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Influencer</th>
            <td mat-cell *matCellDef="let element" class="" style="font-weight: 600">
              {{ element.Influencer ? element.Influencer : '-' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="Period">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Period</th>
            <td mat-cell *matCellDef="let element" class="" style="font-weight: 600" matTooltip="{{ element.Period }}">
              {{ element.Period ? (element.Period?.slice(0,12)) : '-' }}<span
                *ngIf="element.Period?.length > 12">...</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="Notes">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Notes</th>
            <td mat-cell *matCellDef="let element" class="" style="font-weight: 600" matTooltip="{{ element.Notes }}">
              {{ element.Notes ? (element.Notes?.slice(0,12)) : '-' }}<span
                *ngIf="element.Notes?.length > 12">...</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="TradingView_Account">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>TradingView_Account</th>
            <td mat-cell *matCellDef="let element" class="" style="font-weight: 600"
              matTooltip="{{ element.TradingView_Account }}">
              {{ element.TradingView_Account ? (element.TradingView_Account?.slice(0,12)) : '-' }}<span
                *ngIf="element.TradingView_Account?.length > 11">...</span>

            </td>
          </ng-container>



          <!-- Actions column with Edit and Delete buttons -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button (click)="editItem(element)">
                <mat-icon class="text-warning">edit</mat-icon>
              </button>
              <button mat-icon-button (click)="deleteEntry(element.ID, element)">
                <mat-icon class="text-danger">delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="table-header"></tr>

          <tr mat-row *matRowDef="let row; columns: displayedColumns; let odd = odd" [class.striped-row]="odd"></tr>
        </table>

        <!-- Pagination -->
        <div class="loader-div d-flex justify-content-center align-items-center flex-column"
          *ngIf="!IsSelectedSheetDataLoaded">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <span class="pt-2">Loading ...</span>

        </div>
      </div>
      <!-- <app-new></app-new> -->
    </ng-container>
  </div>
  <mat-paginator [pageSizeOptions]="[5, pageSizeOptions]" showFirstLastButtons></mat-paginator>
</div>