<div class="main" class="px-3">

  <!-- --------------------------   Add new entry   ------------------------- -->
  <div class="row d-flex justify-content-between pb-2">
    <div class="form-floating mb-3 d-flex col-sm-auto col-6"></div>
    <div class="example-button-row col-sm-auto col-6 justify-content-end justify-content-sm-start d-flex">
      <button mat-fab extended color="warn" matTooltip="Add New" (click)="openAddNewEntryDialogForm()"
        [disabled]="IsAddDialogOpened">
        <mat-icon>add</mat-icon>
        Add
      </button>
    </div>
  </div>

  <!-- --------------------------   Add new entry   ------------------------- -->


  <div class="loader-div  d-flex justify-content-center align-items-center flex-column"
    style="margin-top: -50px; height: 70vh;" *ngIf="!IsAllPromiseColumnsTotalDataLoaded ">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <span class="pt-2">Loading ...</span>


  </div>


  <div id="tv_tickerTape_widget" class=" "></div>

  <ng-container id="dashboard_all" *ngIf="IsAllPromiseColumnsTotalDataLoaded">

    <div class="spacer-20"></div>



    <section id="Total_Stats" class="total-stats-div" style="margin-top: -40px">
      <h1 class="sectionTitle pb-4 pt-3">Total Stats</h1>
      <div class="row box-shadow-total-stats rounded-2 py-5">


        <div class="col-lg-6 p-0  col-12 d-flex flex justify-content-center align-items-center p-0 ">




          <div class="total-stats-sub-div-h-100-w1-1000 d-flex align-items-center flex-wrap w-100 ">

            <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions_TotalStats"
              style="width: 100%; height: 350px; display: block;"></highcharts-chart>


          </div>
        </div>








        <!-- ---------------------------------------------------------------- -->





        <div class="col-lg-6 col-12   d-flex justify-content-center align-items-start flex-column mt-lg-0 mt-4">
          <div class="card p-0 mb-lg-0 mb-3" style="width: 100%; border : none !important; box-shadow:none !important ">
            <div class="card-body">





              <!-- <h2 class="card-title">Total Equity</h2> -->
              <div class="row d-flex flex-row justify-content-center" style="margin-top:-15px">
                <h3 class="differentiatorTitle pt-2">Balance</h3>

                <div class="col-6  inner-div">

                  <h1 class="card-text text-success" style="font-weight: 600">
                    <sub>&nbsp;</sub> {{ ((this.columnTotals_Money_Flow.TotalDeposit) -
                    (this.columnTotals_Money_Flow.TotalWithdraw)) + this.columnTotals_Fun_Buying.Amount_FUN +
                    this.columnTotals_Premium_Total.TotalRealized + this.columnTotals_Premium_Total.TotalUnRealized|
                    number :
                    "1.0-3"}}

                  </h1>
                  <h5>QUANTITY</h5>
                </div>
                <div class="col-6  inner-div">

                  <h1 class="card-text text-success" style="font-weight: 600">
                    <sub>₮</sub> {{(((this.columnTotals_Money_Flow.TotalDeposit) -
                    (this.columnTotals_Money_Flow.TotalWithdraw)) + this.columnTotals_Fun_Buying.Amount_FUN +
                    this.columnTotals_Premium_Total.TotalRealized +
                    this.columnTotals_Premium_Total.TotalUnRealized)*(Price_FUNUSDT_API) | number :
                    "1.0-2"}}
                  </h1>
                  <h5>VALUE</h5>

                </div>
                <!-- <hr> -->


                <h3 class="differentiatorTitle">Buy/Sell</h3>
                <div class="col-6  inner-div">

                  <h1 class="card-text text-success" style="font-weight: 600">
                    <sub>&nbsp;</sub> {{(columnTotals_Fun_Buying.Amount_FUN) | number : "1.0-2"}}
                    <span style="font-size:12px"> ( ₮ {{((columnTotals_Fun_Buying.Amount_FUN) * Price_FUNUSDT_API )|
                      number: "1.0-2"}} )</span>
                  </h1>
                  <h5>BUY</h5>
                </div>
                <div class="col-6  inner-div">

                  <h1 class="card-text text-danger" style="font-weight: 600">
                    <sub>&nbsp;</sub> {{(0) | number : "1.0-2"}}
                  </h1>
                  <h5>SELL</h5>
                </div>
                <!-- <hr> -->


                <h3 class="differentiatorTitle">In/Out</h3>
                <div class="col-6  inner-div">

                  <h1 class="card-text text-success" style="font-weight: 600">
                    <sub>&nbsp;</sub> {{(columnTotals_Money_Flow.TotalDeposit) |
                    number : "1.0-3"}}
                    <span style="font-size:12px"> ( ₮ {{((columnTotals_Money_Flow.TotalDeposit) * Price_FUNUSDT_API)|
                      number: "1.0-2"}} )</span>
                  </h1>
                  <h5>DEPOSIT</h5>
                </div>
                <div class="col-6  inner-div">

                  <h1 class="card-text text-danger" style="font-weight: 600">
                    <sub>&nbsp;</sub>
                    {{columnTotals_Money_Flow.TotalWithdraw | number : "1.0-3"}}
                    <span style="font-size:12px"> ( ₮ {{((columnTotals_Money_Flow.TotalWithdraw) * Price_FUNUSDT_API)|
                      number: "1.0-2"}} )</span>
                  </h1>
                  <h5>WITHDRAW</h5>
                </div>



                <h3 class="differentiatorTitle">Staking</h3>
                <div class="col-6  inner-div">

                  <h1 class="card-text text-success" style="font-weight: 600">
                    <sub>&nbsp;</sub> {{get_earningsRealizedMaturity}}
                    <span style="font-size:12px"> ( ₮ {{((get_earningsRealizedMaturity) * Price_FUNUSDT_API)| number:
                      "1.0-2"}} )</span>

                  </h1>
                  <h5>REALIZED</h5>
                </div>
                <div class="col-6  inner-div">

                  <h1 class="card-text text-warning" style="font-weight: 600">
                    <sub>&nbsp;</sub>
                    {{get_earningsUnrealizedMaturity}}
                    <span style="font-size:12px"> ( ₮ {{((get_earningsUnrealizedMaturity) * Price_FUNUSDT_API)| number:
                      "1.0-2"}} )</span>

                  </h1>
                  <h5>UN-REALIZED</h5>
                </div>





              </div>



            </div>
          </div>
        </div>

  










        <!-- ---------------------------------------------------------------- -->


      </div>
    </section>

    <div class="spacer-20"></div>

    <!-- --------------------------- -->
    <section id="Premium" class="total-stats-div" style="margin-top: -40px">
      <h1 class="sectionTitle pb-4 pt-3">Premium</h1>
      <div class="row box-shadow-total-stats rounded-2 py-5">

        <!-- <h1 class="sectionTitle pb-4 pt-3">Net Staking</h1> -->
        <div class="col-lg-6 p-0  col-12 d-flex flex justify-content-center align-items-center ">




          <div class="total-stats-sub-div-h-100-w1-1000 d-flex align-items-center flex-wrap w-100 ">

            <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions_Premium_InvestedEarnings_Curr"
              style="width: 100%; height: 350px; display: block;"></highcharts-chart>


          </div>
        </div>

        <!-- <h1 class="sectionTitle pb-4 pt-3">Net Staking</h1> -->

        <div class="col-lg-6 p-0  col-12 d-flex flex justify-content-center align-items-center my-lg-0 my-4">




          <div class="total-stats-sub-div-h-100-w1-1000 d-flex align-items-center flex-wrap w-100 ">

            <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions_Premium_InvestedEarnings_Net"
              style="width: 100%; height: 350px; display: block;"></highcharts-chart>


          </div>
        </div>







        <!-- <div class="col-lg-4   col-12 d-flex flex justify-content-center align-items-center ">
          <div class="card p-0 mb-lg-0 mb-3" style="width: 100%; border : none !important; box-shadow:none !important ">
            <div class="card-body">


              <div class="row d-flex flex-row justify-content-center" style="margin-top:-15px">
                <h3 class="differentiatorTitle pt-2">Invested</h3>

                <div class="col-6  inner-div">

                  <h1 class="card-text text-success" style="font-weight: 600">
                    <sub>&nbsp;</sub> {{columnTotals_Premium_Total.TotalInvested}}

                  </h1>
                  <h5>QUANTITY FUN</h5>
                </div>
                <div class="col-6  inner-div">

                  <h1 class="card-text text-success" style="font-weight: 600">
                    <sub>₮</sub> {{(columnTotals_Premium_Total.TotalInvested*this.Price_FUNUSDT_API) | number :
                    "1.0-3"}}
                  </h1>
                  <h5>VALUE USDT</h5>

                </div>
                


                <h3 class="differentiatorTitle">Earnings</h3>
                <div class="col-6  inner-div">

                  <h1 class="card-text text-success" style="font-weight: 600">
                    <sub>&nbsp;</sub> {{columnTotals_Premium_Total.TotalEarnings | number : "1.0-3"}}

                  </h1>
                  <h5>QUANTITY FUN</h5>
                </div>
                <div class="col-6  inner-div">

                  <h1 class="card-text text-success" style="font-weight: 600">
                    <sub>₮</sub> {{(columnTotals_Premium_Total.TotalEarnings*this.Price_FUNUSDT_API)| number : "1.0-3"}}
                  </h1>
                  <h5>VALUE USDT</h5>

                </div>




                <h3 class="differentiatorTitle">Realized Maturity</h3>
                <div class="col-6  inner-div">

                  <h1 class="card-text text-success" style="font-weight: 600">
                    <sub>&nbsp;</sub> {{columnTotals_Premium_Total.TotalRealized | number : "1.0-3"}}

                  </h1>
                  <h5>QUANTITY FUN</h5>
                </div>
                <div class="col-6  inner-div">

                  <h1 class="card-text text-success" style="font-weight: 600">
                    <sub>₮</sub> {{(columnTotals_Premium_Total.TotalRealized*this.Price_FUNUSDT_API)| number : "1.0-3"}}
                  </h1>
                  <h5>VALUE USDT</h5>

                </div>



                <h3 class="differentiatorTitle">Upcoming Maturity</h3>
                <div class="col-6  inner-div">

                  <h1 class="card-text text-warning" style="font-weight: 600">
                    <sub>&nbsp;</sub> {{columnTotals_Premium_Total.TotalUnRealized | number : "1.0-3"}}

                  </h1>
                  <h5>QUANTITY FUN</h5>
                </div>
                <div class="col-6  inner-div">

                  <h1 class="card-text text-warning" style="font-weight: 600">
                    <sub>₮</sub> {{(columnTotals_Premium_Total.TotalUnRealized*this.Price_FUNUSDT_API)| number :
                    "1.0-3"}}
                  </h1>
                  <h5>VALUE USDT</h5>

                </div>








              </div>




            </div>
          </div>



        </div> -->


        <div class="col-12 d-flex justify-content-center align-items-center flex-column mt-4">
          <h3 class="differentiatorTitle mb-4">Staking</h3>

          <div class="card p-0 mb-lg-0 mb-3"
            style="width: 100%; border: none !important; box-shadow: none !important; padding: 0px !important;">
            <div class="card-body" style="padding: 0px !important;">
              <div class="inner-div">
                <table class="table table-hover table-borderless">
                  <thead>
                    <tr>
                      <th>Start Date</th>
                      <th>Expires Date</th>
                      <th>Maturity Date</th>
                      <th>Status</th>
                      <th>Details</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let data of get_dataToRender; let i = index">
                      <tr>
                        <td>{{ data.StartingDate }}</td>
                        <td>{{ data.Expires_Date }}</td>

                        <td>
                          <span *ngIf="data.UcomingMaturityDate" class="text-warning">-</span><app-countdown-timer
                            [closeDate]="data.UcomingMaturityDate"
                            [ngClass]="{'text-success': data.UcomingMaturityDate == '', 'text-warning': data.UcomingMaturityDate != ''}">
                          </app-countdown-timer>
                        </td>

                        <td
                          [ngClass]="{'text-success':(data.Status).toUpperCase()=='MATURED', 'text-warning':(data.Status).toUpperCase()=='UN-MATURED'}">
                          {{ data.Status }}</td>


                        <td style="cursor: pointer" (click)="toggleDetails(i)">
                          <button mat-mini-fab class="bg-light">
                            <mat-icon class="text-primary">
                              {{ expandedIndex === i ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}
                            </mat-icon>
                          </button>
                        </td>
                      </tr>
                      <tr *ngIf="expandedIndex === i">
                        <td colspan="5">
                          <table class="table table-borderless bg-light">
                            <tr>
                              <th>Invested</th>
                              <th>Maturity APY</th>
                              <th>Maturity Period</th>
                              <th>Earnings</th>
                              <th>Maturity</th>
                            </tr>
                            <tr>
                              <td>{{ data.Invested | number:"1.0-2"}} FUN</td>
                              <td>{{ data.MaturityAPY }} %</td>
                              <td>{{ data.MaturityPeriod }} Days</td>
                              <td>{{data.Earnings | number:"1.0-2"}} FUN</td>
                              <td *ngIf="data.UnRealizedMaturity" class="text-warning">{{ data.UnRealizedMaturity }}
                              </td>
                              <td *ngIf="data.RealizedMaturity" class="text-success">{{ data.RealizedMaturity }}</td>

                            </tr>
                          </table>
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>

                <div class="row w-100 align-items-center mt-2">
                  <div class="col-12 d-flex justify-content-end">
                    <button mat-raised-button class="d-flex align-content-center bg-white" color=""
                      (click)="toggleShowAll()">
                      <mat-icon class="me-2">remove_red_eye</mat-icon> {{ showAll ? 'Less' : 'All' }}
                    </button>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>



      </div>

    </section>

    <!-- --------------------------- -->







    <div class="spacer-20"></div>
    <!-- --------------------------- -->

    <!-- --------------------------- -->
    <section id="Fun_Buying" class="total-stats-div" style="margin-top: -40px">
      <h1 class="sectionTitle pb-4 pt-3">Fun Buying</h1>











      <div class=" row box-shadow-total-stats rounded-2 py-3 justify-content-center ">
        <div class="row">

          <div class=" justify-content-between d-flex align-items-center px-0">




            <div class="filter-buttons  d-flex align-content-center">
              <span class="filter-link h6 border rounded-3 px-2  mb-0 d-flex align-items-center"
                (click)="togglePnlDisplay(false)"
                [ngClass]="{'filter-link-text': !showTransactionPerDay, 'text-secondary':showTransactionPerDay }">Monthly</span>
              <span class="filter-link h6 ms-2  border rounded-3 px-2 mb-0  d-flex align-items-center"
                (click)="togglePnlDisplay(true)"
                [ngClass]="{'filter-link-text': showTransactionPerDay, 'text-secondary':!showTransactionPerDay }">Daily</span>

            </div>


            <div class=" p-2 ms-2">
              <button class="btn btn-outline-primary" (click)="prevMonth()" [disabled]="isPreDisabled()">&lt;</button>
              <span class="text-center mx-1">{{ showTransactionPerDay ? currentMonthYear : currentYear }}</span>
              <button class="btn btn-outline-primary" (click)="nextMonth()" [disabled]="isNextDisabled()"
                [ngClass]="{'bg-light ' : isNextDisabled()}">
                &gt;
              </button>
            </div>


          </div>

        </div>
        <div class="row">
          <div class="table-responsive mt-3 calenderDiv px-0">
            <table class="table table-bordered table-responsive">
              <thead *ngIf="showTransactionPerDay">
                <tr>
                  <th *ngFor="let dayName of dayNames">{{ dayName }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let week of calendar">
                  <td *ngFor="let day of week" [ngClass]="{
                    'bg-white': day !== null && transactionDataPerDay[getDateKey(day)],
                    'bg-light': day !== null && !transactionDataPerDay[getDateKey(day)]
                }" class="px-0">
                    <div *ngIf="day">
                      <p>{{ showTransactionPerDay ? day.getDate() : day.toLocaleString('en-IN', { month:
                        'long' })
                        }}
                      </p>

                      <!-- ---------per day pnl--------STARTS -->
                      <ng-container *ngIf="showTransactionPerDay">
                        <div *ngIf="transactionDataPerDay[getDateKey(day)]">

                          <p style="font-weight:600" [ngClass]="{
                                    'text-danger': transactionDataPerDay[getDateKey(day)].amount < 0,
                                    'text-success': transactionDataPerDay[getDateKey(day)].amount > 0,
                                    'text-muted': transactionDataPerDay[getDateKey(day)].amount === 0
                                }">
                            <ng-container *ngIf="transactionDataPerDay[getDateKey(day)].amount >= 0">+</ng-container>{{
                            transactionDataPerDay[getDateKey(day)].amount }}
                          </p>

                        </div>
                        <div *ngIf="!transactionDataPerDay[getDateKey(day)]">
                          <p>--</p>
                        </div>
                      </ng-container>
                      <!-- ---------per day pnl--------ENDS -->

                      <!-- ---------per month pnl--------STARTS -->

                      <ng-container *ngIf="!showTransactionPerDay">
                        <div *ngIf="transactionDataPerMonth[getMonthKey(day)]">

                          <p style="font-weight:600" [ngClass]="{
                                    'text-danger': transactionDataPerMonth[getMonthKey(day)].amount < 0,
                                    'text-success': transactionDataPerMonth[getMonthKey(day)].amount > 0,
                                    'text-muted': transactionDataPerMonth[getMonthKey(day)].amount === 0
                                }">
                            <ng-container
                              *ngIf="transactionDataPerMonth[getMonthKey(day)].amount >= 0">+</ng-container>{{
                            transactionDataPerMonth[getMonthKey(day)].amount }} FUN
                          </p>

                        </div>
                        <div *ngIf="!transactionDataPerMonth[getMonthKey(day)]">
                          <p>--</p>
                        </div>
                      </ng-container>

                      <!-- ---------per month pnl--------ENDS -->
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>




























    </section>
    <div class="spacer-20"></div>




    <section id="Money_Flow" class="total-stats-div" style="margin-top: -40px">
      <h1 class="sectionTitle pb-4 pt-3">Money Flow</h1>
      <div class="row box-shadow-total-stats rounded-2 py-5">


        <div class="col-lg-3 p-0  col-12 d-flex flex justify-content-center align-items-center ">




          <div class="total-stats-sub-div-h-100-w1-1000 d-flex align-items-center flex-wrap w-100 ">

            <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions_MoneyFlow_Flow"
              style="width: 100%; height: 350px; display: block;"></highcharts-chart>


          </div>
        </div>

        <div class="col-lg-3 p-0  col-12 d-flex flex justify-content-center align-items-center mt-lg-0 mt-4">




          <div class="total-stats-sub-div-h-100-w1-1000 d-flex align-items-center flex-wrap w-100 ">

            <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions_MoneyFlow_Avg_Price"
              style="width: 100%; height: 350px; display: block;"></highcharts-chart>


          </div>
        </div>


        <div class="col-lg-6 col-12   d-flex justify-content-center align-items-start flex-column mt-lg-0 mt-4">
          <div class="card p-0 mb-lg-0 mb-3" style="width: 100%; border : none !important; box-shadow:none !important ">
            <div class="card-body">





              <!-- <h2 class="card-title">Total Equity</h2> -->
              <div class="row d-flex flex-row justify-content-center" style="margin-top:-15px">
                <h3 class="differentiatorTitle pt-2">Deposit</h3>

                <div class="col-6  inner-div">

                  <h1 class="card-text text-success" style="font-weight: 600">
                    <sub>&nbsp;</sub> {{columnTotals_Money_Flow.TotalDeposit | number :
                    "1.0-3"}}
                    <span style="font-size:12px"> ( ₮ {{((columnTotals_Money_Flow.TotalDeposit) * Price_FUNUSDT_API)|
                      number: "1.0-2"}} )</span>


                  </h1>
                  <h5>QUANTITY</h5>
                </div>
                <div class="col-6  inner-div">

                  <h1 class="card-text text-success" style="font-weight: 600">
                    <sub>₮</sub> {{(columnTotals_Money_Flow.AvgDepositPrice) | number :
                    "1.0-8"}}
                  </h1>
                  <h5>AVG. PRICE</h5>

                </div>
                <!-- <hr> -->


                <h3 class="differentiatorTitle">Withdraw</h3>
                <div class="col-6  inner-div">

                  <h1 class="card-text text-danger" style="font-weight: 600">
                    <sub>&nbsp;</sub> {{columnTotals_Money_Flow.TotalWithdraw | number : "1.0-3"}}
                    <span style="font-size:12px"> ( ₮ {{((columnTotals_Money_Flow.TotalWithdraw) * Price_FUNUSDT_API)|
                      number: "1.0-2"}} )</span>
                  </h1>
                  <h5>QUANTITY</h5>
                </div>
                <div class="col-6  inner-div">

                  <h1 class="card-text text-danger" style="font-weight: 600">
                    <sub>₮</sub> {{(columnTotals_Money_Flow.AvgWithdrawPrice)| number : "1.0-8"}}
                  </h1>
                  <h5>AVG. PRICE</h5>
                </div>
                <!-- <hr> -->

                <h3 class="differentiatorTitle" *ngIf="columnTotals_Money_Flow.TotalDeposit > columnTotals_Money_Flow.TotalWithdraw">Balance</h3>
                <h3 class="differentiatorTitle d-flex" *ngIf="columnTotals_Money_Flow.TotalDeposit < columnTotals_Money_Flow.TotalWithdraw">Profit FUN &nbsp;<span  style="color:green; font-size:12px;">*[ Seed FUN retrieved ! ]</span></h3>
                <div class="col-6  inner-div">

                  <h1 class="card-text text-success" style="font-weight: 600">
                    <sub>&nbsp;</sub> {{((columnTotals_Money_Flow.TotalDeposit)-(columnTotals_Money_Flow.TotalWithdraw))*((columnTotals_Money_Flow.TotalDeposit < columnTotals_Money_Flow.TotalWithdraw) ? -1 : 1)        |
                    number : "1.0-3"}}

                  </h1>
                  <h5>QUANTITY</h5>
                </div> 
                <div class="col-6  inner-div">
                  
                  <h1 class="card-text text-success" style="font-weight: 600">
                    <sub>₮</sub>
                    {{(((columnTotals_Money_Flow.TotalDeposit)-(columnTotals_Money_Flow.TotalWithdraw))
                    *( (columnTotals_Money_Flow.TotalDeposit < columnTotals_Money_Flow.TotalWithdraw) ? columnTotals_Money_Flow.AvgWithdrawPrice*-1 : columnTotals_Money_Flow.AvgDepositPrice )) |
                    number : "1.0-3"}}
                    
                  </h1>
                  <h5>VALUE</h5>
                </div>

               



                <h3 class="differentiatorTitle">In/Out Exchange</h3>
                <div class="col-6  inner-div">

                  <h1 class="card-text text-success" style="font-weight: 600">
                    <sub>&nbsp;</sub> {{(columnTotals_Money_Flow.Exchanges.Deposit)}}

                  </h1>
                  <h5>DEPOSIT</h5>
                </div>
                <div class="col-6  inner-div">

                  <h1 class="card-text text-danger" style="font-weight: 600">
                    <sub>&nbsp;</sub>
                    {{(columnTotals_Money_Flow.Exchanges.Withdraw)?(columnTotals_Money_Flow.Exchanges.Withdraw):'No Withdraws'}}

                  </h1>
                  <h5>WITHDRAW</h5>
                </div>



                


              </div>



            </div>
          </div>
        </div>





      </div>
    </section>



    <div class="spacer-20"></div>

    <section id="Money_Flow" class="total-stats-div" style="margin-top: -40px">
      <h1 class="sectionTitle pb-4 pt-3">Bonus</h1>
      <div class="row box-shadow-total-stats rounded-2 py-5">


        <div class="col-lg-6 p-0  col-12 d-flex flex justify-content-center align-items-center ">




          <div class="total-stats-sub-div-h-100-w1-1000 d-flex align-items-center flex-wrap w-100 ">

            <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions_Bonus_InvestedRewards_Total"
              style="width: 100%; height: 350px; display: block;"></highcharts-chart>


          </div>
        </div>

    <div class="col-lg-6 p-0  col-12 d-flex flex justify-content-center align-items-center mt-lg-0 mt-4">




          <div class="total-stats-sub-div-h-100-w1-1000 d-flex align-items-center flex-wrap w-100 ">

            <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions_Bonus_InvestedRewards"
              style="width: 100%; height: 350px; display: block;"></highcharts-chart>


          </div>
        </div>
 

     



      </div>
    </section>


    <div class="spacer-20"></div>



  </ng-container>









</div>