<div mat-dialog-content>
  <div class="video-container">
    <iframe [src]="data.videoUrl | safeUrl" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
  </div>
  <p class="mt-4 fw-bolder">{{data.videoTitle}}</p>
  <p class="fw-bolder">Channel : {{data.channelTitle}}</p>
  <!-- <pre>Description: <span *ngIf="!showFullDescription">{{ data.videoDescription | slice:0:50 }}...</span>
    <span *ngIf="showFullDescription">{{ data.videoDescription }}</span><p (click)="toggleDescription()"  class= "fw-bolder" style="cursor: pointer;">{{ showFullDescription ? 'less' : 'more' }}
  </p>
    </pre> -->
</div>

<div mat-dialog-actions class="action">
  <button mat-raised-button color="warn" mat-dialog-close>Close</button>
</div>