<div class="total-stats-div p-3">
    <h1 class="pt-3 " style="color : #f7a600">Total Stats</h1>
    <div class="loader-div  d-flex justify-content-center align-items-center flex-column"
      *ngIf="!IsSelectedSheetDataLoaded">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <span class="pt-2">Loading ...</span>

  
    </div>
  
  
    <div class="row" *ngIf="IsSelectedSheetDataLoaded">
      <div class="col-lg-6 col-12 pb-lg-0 pb-2 d-flex justify-content-between align-items-center flex-column ">
        <div class="card  p-0" style="width: 100%">
          <div class="card-body">
            <h2 class="card-title">Total Pnl</h2>
            <h1 class=" px-3 card-text " style="font-weight: 600;"
              [ngClass]="{'text-success' : columnTotals.Pnl_USDT>0 , 'text-danger' : columnTotals.Pnl_USDT<0}">₮ {{
              columnTotals.Pnl_USDT | number:'1.0-3' }} </h1>
          </div>
        </div>
      </div>
  
      <div
        class="col-lg-6 col-12 pb-lg-0 pb-2 pt-lg-0 pt-2  d-flex justify-content-between align-items-start flex-column ">
        <div class="card  p-0" style="width: 100%">
          <div class="card-body">
            <h2 class="card-title">Profit & Loss</h2>
            <h1 class=" px-3 card-text  " style="font-weight: 600;"><span class="text-success">
  
              ₮ {{columnTotals.TotalProfit | number:'1.0-3'}}
              </span>
              | <span class="text-danger">₮ {{ columnTotals.TotalLoss | number:'1.0-3'}}
              </span>
            </h1>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-12 pb-lg-0 pb-2 pt-2 d-flex justify-content-between align-items-start flex-column ">
        <div class="card  p-0" style="width: 100%">
          <div class="card-body">
            <h2 class="card-title">Total BUY | SELL Trades </h2>
            <h1 class=" px-3 card-text " style="font-weight: 600;">
              <span class="text-success">
  
                {{ columnTotals.TotalBuyTrades}}
              </span>
              | <span class="text-danger">
                {{columnTotals.TotalSellTrades}}
  
              </span>
  
            </h1>
          </div>
        </div>
      </div>
  
      <div class="col-lg-6 col-12 pb-lg-0 pb-2 pt-2 d-flex justify-content-between align-items-start flex-column ">
        <div class="card  p-0" style="width: 100%">
          <div class="card-body">
            <h2 class="card-title">Total Trades</h2>
            <h1 class=" px-3 card-text " style="font-weight: 600;"
              [ngClass]="{'text-success':columnTotals.TotalBuyTrades>columnTotals.TotalSellTrades, 'text-danger':columnTotals.TotalBuyTrades<columnTotals.TotalSellTrades}">
              {{columnTotals.TotalTrades}}
  
            </h1>
          </div>
        </div>
      </div>
  
  
      <div class="col-lg-6 col-12 pb-lg-0 pb-2 pt-2 d-flex justify-content-between align-items-start flex-column ">
        <div class="card  p-0" style="width: 100%">
          <div class="card-body">
            <h2 class="card-title">Trades Winning | Loosing</h2>
            <h1 class=" px-3 card-text " style="font-weight: 600;">
              <span class="text-success">
  
                {{ columnTotals.TotalProfitTrades}}
              </span>
              | <span class="text-danger">
                {{columnTotals.TotalLossTrades}}
  
              </span>
  
            </h1>
          </div>
        </div>
      </div>
  
      
  
      <div class="col-lg-6 col-12 pb-lg-0 pb-2 pt-2 d-flex justify-content-between align-items-start flex-column ">
        <div class="card  p-0" style="width: 100%">
          <div class="card-body">
            <h2 class="card-title">Top Coin </h2>
            <h1 class=" px-3 card-text text-success" style="font-weight: 600;">{{
              columnTotals.MostFrequentTradingPair}}<span>
  
                | {{columnTotals.HighestCount}} Trades
              </span>
            </h1>
          </div>
        </div>
      </div>
  
  
      <div class="col-lg-6 col-12 pb-lg-0 pb-2 pt-2 d-flex justify-content-between align-items-start flex-column ">
        <div class="card  p-0" style="width: 100%">
          <div class="card-body">
            <h2 class="card-title">Most Traded Direction </h2>
            <h1 class=" px-3 card-text text-success" style="font-weight: 600;">{{ columnTotals.MostTradedDirection}}<span>
  
                | {{columnTotals.MostTradedDirectionTrades}}
              </span>
            </h1>
          </div>
        </div>
      </div>
  
  
  
    </div>
  
  
  </div>
    
    <div class="spacer-20"></div>
    


<div class="history-div">
<h1> <span style="color: #f7a600">History</span></h1>

<mat-form-field  appearance="outline" floatLabel="always" >

    <mat-label>Filter Table</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input />
  </mat-form-field>
  <div style="overflow-x:  auto; " class="example-container">


    <ng-container class="table-div">
        <!-- trading-setup.component.html -->
          
        <div class="mat-elevation-z8 example-table-container">

            <table mat-table [dataSource]="dataSource" matSort matSortActive="Open_Date" matSortDirection="desc" class="mat-elevation-z8">
          
              <!-- Define columns -->
              <ng-container matColumnDef="Open_Date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Open_Date </th>
                <td mat-cell *matCellDef="let element" 
                style="font-weight: 600;"
                > {{ element.Open_Date }} </td>
              </ng-container>
              <ng-container matColumnDef="Trading_Pair">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Trading_Pair </th>
                <td mat-cell *matCellDef="let element" 
                
                > {{ element.Trading_Pair }} </td>
              </ng-container>
              <ng-container matColumnDef="Direction">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Direction </th>
                <td mat-cell *matCellDef="let element" 
                style="font-weight: 600;"
                 [ngClass]="{'text-success' : element.Direction== 'BUY', 'text-danger':element.Direction== 'SELL'}"
                > {{ element.Direction }} </td>
              </ng-container>

              <ng-container matColumnDef="Leverage">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Leverage </th>
                <td mat-cell *matCellDef="let element"> {{ element.Leverage }}✘ </td>
              </ng-container>
              <ng-container matColumnDef="Amount_Coin">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount_Coin </th>
                <td mat-cell *matCellDef="let element" 
                style="font-weight: 600;"
                [ngClass]="{'text-success' : element.Direction== 'DEPOSIT', 'text-danger':element.Direction== 'WITHDRAW'}"
                > 
                <span style="font-weight: 600;">₮ </span>
                {{ element.Amount_Coin }} </td>
              </ng-container>
              <ng-container matColumnDef="Entry_Price">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Entry_Price </th>
                <td mat-cell *matCellDef="let element"> <span class="text-success " style="font-weight: 600;">₮ </span>{{
                  element.Entry_Price }} </td>
              </ng-container>
              <ng-container matColumnDef="Exit_Price">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Exit_Price </th>
                <td mat-cell *matCellDef="let element"> <span *ngIf="element.Exit_Price" class="text-success "
                    style="font-weight: 600;">₮ </span>{{ element.Exit_Price }} </td>
              </ng-container>
              <ng-container matColumnDef="Pnl_USDT">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Pnl_USDT </th>
                <td mat-cell *matCellDef="let element" style="font-weight: 600;"
                  [ngClass]="{'text-success': element.Pnl_USDT > 0, 'text-danger': element.Pnl_USDT < 0, 'text-secondary' : element.Pnl_USDT == 0 }">
                  <span *ngIf="element.Pnl_USDT">$</span> {{ element.Pnl_USDT }}</td>
              </ng-container>
                  <ng-container matColumnDef="Amount_USDT">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount_USDT </th>
                  <td mat-cell *matCellDef="let element"> {{ element.Amount_USDT }}  </td>
                </ng-container>

           
                <ng-container matColumnDef="Fee">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fee </th>
                    <td mat-cell *matCellDef="let element" 
                    style="font-weight: 600;"
                    [ngClass]="{'text-success' : element.Direction== 'DEPOSIT', 'text-danger':element.Direction== 'WITHDRAW'}"
                    > 
                    <span style="font-weight: 600;">₮ </span>
                    {{ element.Fee }} </td>
                  </ng-container>
            
          
             
              <ng-container matColumnDef="To_From_Account">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> To_From_Account </th>
                <td mat-cell *matCellDef="let element" 
                 [ngClass]="{'text-success' : element.Direction== 'DEPOSIT', 'text-danger':element.Direction== 'WITHDRAW'}"
                > {{ element.To_From_Account }} </td>
              </ng-container>
           
              
              <!-- Actions column with Edit and Delete buttons -->
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element">
                  <!-- <button mat-icon-button (click)="editItem(element.ID)">
                    <mat-icon class="text-warning">edit</mat-icon>
                  </button> -->
                  <button mat-icon-button (click)="deleteEntry(element.ID, element)" >
                    <mat-icon class="text-danger">delete</mat-icon>
                  </button>
      
      
                </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"  class="table-header" ></tr>

              <tr mat-row *matRowDef="let row; columns: displayedColumns;let odd = odd; " [class.striped-row]="odd"></tr>

            </table>
          
            <!-- Pagination -->
            <div class="loader-div  d-flex justify-content-center align-items-center flex-column"
          *ngIf="!IsSelectedSheetDataLoaded">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        <span class="pt-2">Loading ...</span>

    
        </div>
          </div>
          <!-- <app-new></app-new> -->
        </ng-container>
      </div>
        
      <mat-paginator [pageSizeOptions]="[ 5, pageSizeOptions]" showFirstLastButtons></mat-paginator>

</div>