<div class="total-stats-div p-3 mt-3">
  <h1 class="box-title" style="top: -51pxx !important">Total Stats</h1>
  <div class="loader-div d-flex justify-content-center align-items-center flex-column"
    *ngIf="!IsSelectedSheetDataLoaded && !IsColumnTotalExecuted">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <span class="pt-2">Loading ...</span>

  </div>




  <div class="row" style="margin-top: -20px" *ngIf="IsSelectedSheetDataLoaded && IsColumnTotalExecuted">


    <div class="col-lg-6 col-12   total-stats-inner-div d-flex justify-content-between align-items-start flex-column">
      <div class="card p-0" style="width: 100%">
        <div class="card-body">


          <div class="row ">
            <h2 class="card-title">Transaction</h2>
            <div class="row d-flex flex-row justify-content-center" style="margin-top:-15px">

              <div class="col-6  inner-div">

                <h1 class="card-text text-success" style="font-weight: 600">
                  <sub></sub> {{ columnTotals.TotalInvested }}

                </h1>
                <h5>INVESTED</h5>
              </div>
              <div class="col-6  inner-div">

                <h1 class="card-text text-success" style="font-weight: 600">
                  <sub></sub> {{ (columnTotals.TotalEarnings) }}
                </h1>
                <h5>EARNINGS</h5>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>






    <div class="col-lg-6 col-12   total-stats-inner-div d-flex justify-content-between align-items-start flex-column">
      <div class="card p-0" style="width: 100%">
        <div class="card-body">


          <div class="row ">
            <h2 class="card-title">Returns</h2>
            <div class="row d-flex flex-row justify-content-center" style="margin-top:-15px">

              <div class="col-6  inner-div">

                <h1 class="card-text text-success" style="font-weight: 600">
                  <sub></sub> {{ columnTotals.TotalRealizedMaturity }}

                </h1>
                <h5>REALIZED</h5>
              </div>
              <div class="col-6  inner-div">

                <h1 class="card-text text-warning" style="font-weight: 600">
                  <sub></sub> {{ (columnTotals.TotalUnRealizedMaturity)}}
                </h1>
                <h5>UN-REALIZED</h5>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>






















  </div>
</div>
<div class="spacer-20"></div>





<!-- ------------------------------------------------------------------------------ -->





<div class="coins-outer-div p-3 mt-3">
  <h1 class="box-title">Staking Stats</h1>


  <div class="loader-div d-flex justify-content-center align-items-center flex-column"
    *ngIf="!IsSelectedSheetDataLoaded && !IsColumnTotalExecuted">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <span class="pt-2">Loading ...</span>
  </div>


  <ng-container *ngIf="IsSelectedSheetDataLoaded && IsColumnTotalExecuted">

    <div class="row  pb-4  d-flex justify-content-center align-items-start " style="margin-top: -20px">

      <div class="col-6 total_filtered_trade_count">
        Total Stakings : {{filteredDataToRender.length}}
      </div>


      <div class="col-6 d-flex justify-content-end">
        <!-- <mat-icon (click)="OnShowAdvanceOptions()">settings</mat-icon> -->
        <mat-slide-toggle (change)="OnShowAdvanceOptions()">Options</mat-slide-toggle>

      </div>

    </div>



    <!-- <div class="spacer-20"></div> -->

    <div class="OptionsDivs mb-4" *ngIf="show_advance_options">

      <div class="d-flex  row justify-content-sm-end justify-content-lg-start my-3">
        <div class="col-3">
          <span class="h6">Filter :</span>
        </div>

        <div class="filter-buttons col-10 d-flex flex-wrap">

          <span class="filter-link h6 ms-2  border rounded-3 px-2 d-flex align-items-center "
            (click)="filterStakingStats('All')"
            [ngClass]="{'filter-link-text': filterOption == 'All', 'text-secondary': filterOption != 'All'}">
            All
          </span>

          <span class="filter-link h6 ms-2  border rounded-3 px-2 d-flex align-items-center "
            (click)="filterStakingStats('Matured')"
            [ngClass]="{'filter-link-text': filterOption == 'Matured', 'text-secondary': filterOption != 'Matured'}">
            Matured
          </span>

          <span class="filter-link h6 ms-2  border rounded-3 px-2 d-flex align-items-center "
            (click)="filterStakingStats('Un-Matured')"
            [ngClass]="{'filter-link-text': filterOption == 'Un-Matured', 'text-secondary': filterOption != 'Un-Matured'}">
            Un-Matured
          </span>

        </div>
      </div>

    </div>

    <!-- ----------------------------------------------------------------------- -->
    <!-- <hr>
    <div class="row" style="
    max-height: 50vh;
    overflow: auto;
    padding-top: 10px;
"> -->

<div class="row" >
      <ng-container *ngFor="let dataToRender of filteredDataToRender">
        <!-- <ng-container *ngIf="dataToRender.UcomingMaturityDate !== ''"> -->
        <div
          class="col-lg-6 pt-3 mb-4 col-12 pb-lg-0 pb-0 d-flex justify-content-between align-items-start flex-column">
          <div class="card card-trading_Pairs p-0" style="width: 100%; height : 100%">
            <div class="card-body">

              <h2 class="card-title badge badge-heading pill floating-cardTitle-small-date">
                {{dataToRender.Expires_Date}}</h2>


              <div class="row">


                <div class="col-12 outer-div">

                  <p class="text-muted" style="font-weight: 600">Upcoming Maturity</p>
                  <p class="" [ngClass]="{'mb-0':dataToRender.UcomingMaturityDate==''}">
                    <span class="card-text text-muted d-flex" style="font-weight: 600; font-size: 16px">

                      <span class="card-text text-warning" style="font-weight: 600; font-size: 16px"
                        *ngIf="dataToRender.UcomingMaturityDate!=''">-</span>

                      <span class="card-text" style="font-weight: 600; font-size: 16px"
                        *ngIf="dataToRender.UcomingMaturityDate==''"> <mat-icon
                          class="text-success">done_all</mat-icon></span>

                      &nbsp;&nbsp;<app-countdown-timer [closeDate]="dataToRender.UcomingMaturityDate"
                        [ngClass]="{'text-success': dataToRender.UcomingMaturityDate=='' ,'text-warning': dataToRender.UcomingMaturityDate!='' }">
                      </app-countdown-timer>
                    </span>
                  </p>
                </div>

                <div class="col-12 outer-div">

                  <p class="text-muted" style="font-weight: 600">Maturity Period</p>
                  <!-- <p>
                    <span class="card-text text-muted" style="font-weight: 600; font-size: 16px"
                      *ngIf="dataToRender.MaturityPeriod!=0">
                      {{ dataToRender.MaturityPeriod }} days / {{ dataToRender.MaturityAPY }} %
                    </span>
                    <span *ngIf="dataToRender.MaturityPeriod==0" style="font-weight: 600; font-size: 16px">-</span>
                  </p> -->

                  <p>
                    <span class="card-text text-muted" style="font-weight: 600; font-size: 16px">
                      {{ dataToRender.MaturityPeriod }} days / {{ dataToRender.MaturityAPY }} %
                    </span>
                  </p>


                </div>

                <div class="col-12 outer-div">

                  <p class="text-muted" style="font-weight: 600">Realized Maturity</p>
                  <p>
                    <span class="card-text text-success" style="font-weight: 600; font-size: 16px"
                      *ngIf="dataToRender.RealizedMaturity!=0">
                      {{ dataToRender.RealizedMaturity }} <span style="font-size:11px">FUN</span>
                    </span>

                    <span *ngIf="dataToRender.RealizedMaturity==0" style="font-weight: 600; font-size: 16px">-</span>


                  </p>
                </div>

                <div class="col-12 outer-div">

                  <p class="text-muted" style="font-weight: 600">Un-Realized Maturity</p>
                  <p>
                    <span class="card-text text-warning" style="font-weight: 600; font-size: 16px"
                      *ngIf="dataToRender.UnRealizedMaturity!=0">
                      {{ dataToRender.UnRealizedMaturity }} <span style="font-size:11px">FUN</span>
                    </span>

                    <span *ngIf="dataToRender.UnRealizedMaturity==0" style="font-weight: 600; font-size: 16px">-</span>

                  </p>
                </div>

              </div>

              <div class="col-12 outer-div">

                <p class="text-muted" style="font-weight: 600">Invested</p>
                <p>
                  <span class="card-text text-muted" style="font-weight: 600; font-size: 16px">
                    {{ dataToRender.Invested }} <span style="font-size:11px">FUN</span>
                  </span>
                </p>
              </div>

              <div class="col-12 outer-div">

                <p class="text-muted" style="font-weight: 600">Earnings</p>
                <p>
                  <span class="card-text text-muted" style="font-weight: 600; font-size: 16px">
                    {{ dataToRender.Earnings }} <span style="font-size:11px">FUN</span>
                  </span>
                </p>
              </div>
              <div class="col-12 text-danger d-flex justify-content-center align-items-center mt-3">
                <ng-container *ngIf="checkOrderNeedToUpdate(dataToRender.UcomingMaturityDate)">
                  <p class="my-0">*[ FUN Matured ! Please mark as Matured ]</p>
                  <button mat-icon-button (click)="updateOrder_Cards(dataToRender.ID)"
                    style="position:absolute; right: 10px">
                    <mat-icon class="text-warning">edit</mat-icon>
                  </button>
                </ng-container>
                <ng-container *ngIf="checkOrderNeedToUpdate(dataToRender.UcomingMaturityDate)">
                  &nbsp;
                </ng-container>


              </div>


            </div>
          </div>
        </div>





























        <!-- </ng-container> -->
        <!-- <hr class="text-danger pb-3"> -->
      </ng-container>
    </div>
    <!-- ----------------------------------------------------------------------- -->
  </ng-container>
</div>

<div class="spacer-20"></div>


<div class="history-div p-3 mt-3">
  <h1 class="box-title mb-0">Order History</h1>

  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>Filter Table</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input />
  </mat-form-field>

  <div style="overflow-x: auto;" class="example-container">
    <ng-container>
      <!-- trading-setup.component.html -->
      <div class="mat-elevation-z8 example-table-container">
        <table mat-table [dataSource]="dataSource" matSort matSortActive="Date" matSortDirection="desc"
          class="mat-elevation-z8">
          <!-- Define columns -->
          <ng-container matColumnDef="Status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
            <td mat-cell *matCellDef="let element">
              <span *ngIf="element.Status == 'Matured' "><mat-icon class="text-success"
                  matTooltip="{{element.Status}}">done_all</mat-icon></span>
              <span *ngIf="element.Status == 'Un-Matured' "><mat-icon class="text-warning"
                  matTooltip="{{element.Status}}">history</mat-icon></span>


            </td>

          </ng-container>
          <ng-container matColumnDef="Date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Date </th>
            <td mat-cell *matCellDef="let element" style="font-weight: 600;">{{ element.Date }}</td>
          </ng-container>
          <ng-container matColumnDef="Expires_Date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Expires_Date </th>
            <td mat-cell *matCellDef="let element">{{ element.Expires_Date }}</td>
          </ng-container>
          <ng-container matColumnDef="Principal">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Principal </th>
            <td mat-cell *matCellDef="let element">{{ element.Principal }}</td>
          </ng-container>
          <ng-container matColumnDef="Maturity">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Maturity </th>
            <td mat-cell *matCellDef="let element">{{ element.Maturity }}</td>
          </ng-container>
          <ng-container matColumnDef="Earning">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Earning </th>
            <td mat-cell *matCellDef="let element">{{ element.Earning }}</td>
          </ng-container>
          <ng-container matColumnDef="Days">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Days </th>
            <td mat-cell *matCellDef="let element">{{ element.Days }}</td>
          </ng-container>
          <ng-container matColumnDef="APY">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> APY %</th>
            <td mat-cell *matCellDef="let element">{{ element.APY }} %</td>
          </ng-container>
          <!-- Actions column with Edit and Delete buttons -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button (click)="editItem(element)">
                <mat-icon class="text-warning">edit</mat-icon>
              </button>
              <button mat-icon-button (click)="deleteEntry(element.ID, element)">
                <mat-icon class="text-danger">delete</mat-icon>
              </button>


            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true" class="table-header"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns; let odd = odd;" [class.striped-row]="odd"></tr>
        </table>
        <!-- Pagination -->
        <div class="loader-div d-flex justify-content-center align-items-center flex-column"
          *ngIf="!IsSelectedSheetDataLoaded">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <span class="pt-2">Loading ...</span>
        </div>
      </div>
    </ng-container>
  </div>
  <mat-paginator [pageSizeOptions]="[5, pageSizeOptions]" showFirstLastButtons></mat-paginator>
</div>