<div class="total-stats-div p-3">


 
    <div class="loader-div  d-flex justify-content-center align-items-center flex-column"
      *ngIf="!IsSelectedSheetDataLoaded">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <span class="pt-2">Loading ...</span>

  
    </div>

    <div class="row" *ngIf="IsSelectedSheetDataLoaded">
       
    
    
      <div class="row" *ngIf="IsSelectedSheetDataLoaded">
       
    
        <div class="col-lg-6 pt-lg-0  col-12 d-flex flex justify-content-center align-items-center  " >
          <div class="box-shadow-total-stats rounded-2 total-stats-sub-div-h-100-w1-100 ">
    
            <h3 class="badge badge-heading pill  text-light  px-3">Trading Pairs</h3>
    
            <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions_TradingPairs"
              style="width: 100%; height: 350px; display: block;"></highcharts-chart>
    
    
          </div>
        </div>

        
    
    <!-- -------------------------- -->
    
    <!-- -------------------------- -->
    
      </div>
    
    
    
      <div class="spacer-20"></div>
    
    
    
    </div>

    </div>
