<!-- <div class="spacer-20"></div> -->
<div class=" px-3 main-div">
  <div class="row">

    <!-- ------------------------------------------------------------------------------------------------------------------------------ -->

    <div class="col-12 side_toggle_div d-flex justify-content-end">

      <mat-slide-toggle (change)="OnShowAdvanceOptions()">Options</mat-slide-toggle>

    </div>
  </div>
  <div class="spacer-20" *ngIf="show_advance_options"></div>

  <div class="OptionsDivs" *ngIf="show_advance_options">

    <div class="d-flex row justify-content-sm-end justify-content-lg-start my-3 flex-column">
      <div class="col-3">
        <span class="h6 ms-2">Filter : </span>
      </div>

      <div class="filter-buttons col-10 my-2 d-flex flex-wrap ">
        <span class="filter-link h6 border rounded-3 px-2 py-1 ms-2" (click)="toggleFilter(button.section)"
          *ngFor="let button of filterButtons" [ngClass]="{ 'filter-link-selected': isFilterSelected(button.section) }">
          {{ button.label.toUpperCase() }}
        </span>
      </div>




      <div class="col">
        <button mat-raised-button  class="ms-2" (click)="toggleFavourites()">{{ getFavouritesButtonText()
          }}</button>
        <button mat-raised-button  class="ms-2" (click)="toggleAllSections()">{{ getAllButtonText()
          }}</button>
      </div>



    </div>


  </div>
</div>


<!-- ------------------------------------------------------------------------------------------------------------------------------ -->

<div class="row tools-row  rounded-3 px-3">

  <div class="col-lg-4 pt-4 mt-3 col-12 pb-lg-0 pb-2 d-flex justify-content-between align-items-start flex-column"
    *ngIf="showProfitTargetsSection">

    <div class="card p-0">
      <div class="card-body">

        <div class="row">
          <div class="col-6 d-flex align-items-center">
            <h2 class="card-title badge badge-heading pill" style="position: relative; top: -35px">
              Profit Targets
            </h2>
          </div>
        </div>

        <p class="hint">Enter Buy price, Leverage, and the Stop Loss or Take Profit values to calculate your profit
          targets.</p>

        <form (ngSubmit)="calculateProfitTargets()" #ProfitTargetsForm="ngForm">

          <!-- Required fields -->
          <div class="form-group">
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>Buy Price</mat-label>
              <input matInput type="number" placeholder="Buy Price" [(ngModel)]="profitTargets_BuyPrice"
                name="profitTargets_BuyPrice" (ngModelChange)="performProfitTargetCalculations()" required />
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>Leverage</mat-label>
              <input matInput type="number" placeholder="Leverage" [(ngModel)]="profitTargets_Leverage"
                name="profitTargets_Leverage" (ngModelChange)="performProfitTargetCalculations()" required />
            </mat-form-field>
          </div>

          <div class="row pb-4">
            <mat-label>Type*</mat-label>
            <mat-chip-listbox aria-label="profitTarget_Type selection" [(ngModel)]="profitTarget_Type" name="profitTarget_Type" required (ngModelChange)="performProfitTargetCalculations()" >
              <mat-chip-option color="accent">LONG</mat-chip-option>
              <mat-chip-option color="warn">SHORT</mat-chip-option>
            </mat-chip-listbox>
          </div>

          <!-- Optional fields -->
          <div class="form-group">
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>Margin (optional)</mat-label>
              <input matInput type="number" placeholder="Margin" [(ngModel)]="profitTargets_Margin"
                name="profitTargets_Margin" (ngModelChange)="performProfitTargetCalculations()" />
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>Stop Price ( SL / TP required )</mat-label>
              <input matInput type="number" placeholder="Stop Price" [(ngModel)]="profitTargets_StopPrice"
                name="profitTargets_StopPrice" (ngModelChange)="performProfitTargetCalculations()" />
            </mat-form-field>
          </div>

          <!-- Looping fields for profit targets -->
          <div *ngFor="let profitTarget of profitTargets; let i = index" class="transaction-form">
            <div class="form-group">
              <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Profit Target #{{i + 1}} ( TP / SL required )</mat-label>
                <input matInput type="number" placeholder="Profit Target #{{i+1}}"
                  [(ngModel)]="profitTarget.profitTarget" name="profitTarget_{{i}}"
                  (ngModelChange)="performProfitTargetCalculations()" />
              </mat-form-field>
            </div>
            <div class="d-flex justify-content-end" *ngIf="i!=0">
              <!-- <button *ngIf="i!=0" type="button" class="btn btn-danger mb-4 d-flex" style="margin-top:-18px"
                (click)="removeProfitTarget(i)"
                [disabled]="profitTargets.length === 1"><mat-icon>delete</mat-icon>&nbsp;Profit Target #{{i+1}}</button> -->
                <button  type="button" class="btn btn-secondary mb-4 d-flex" style="margin-top:-16px"
                (click)="removeProfitTarget(i)"
                [disabled]="profitTargets.length === 1"><mat-icon>delete</mat-icon>&nbsp;TP #{{i+1}}</button>

            </div>
          </div>

          <!-- Profit and Stop Loss results -->
          <div *ngIf="resultsVisible">
            <hr *ngIf="profitTargets_Profits.length>0 || profitTargets_Loss ">
            <div *ngIf="profitTargets_Profits.length > 0" class="text-success">
              <div *ngFor="let profit of profitTargets_Profits; let i = index">
                <ng-container *ngIf="profitTargets_Margin && profitTargets_Margin !== 1; else percentageOnly">
                  <p>Profit for Target {{ i + 1 }}: <span class="fw-bolder">{{profit}} USDT ({{
                      calculatePercentage(profitTargets[i].profitTarget) }}%)</span></p>
                </ng-container>
                <ng-template #percentageOnly>
                  <p>Profit for Target {{ i + 1 }}: <span class="fw-bolder">{{
                      calculatePercentage(profitTargets[i].profitTarget) }}%</span></p>
                </ng-template>
              </div>
            </div>
            <div *ngIf="profitTargets_Loss !== undefined" class="text-danger">
              <ng-container *ngIf="profitTargets_Margin && profitTargets_Margin !== 1; else percentageOnlyStopLoss">
                <p>Stop Loss: <span class="fw-bolder">{{ profitTargets_Loss }} USDT ({{
                    calculatePercentage(profitTargets_StopPrice, true) }}%)</span></p>
              </ng-container>
              <ng-template #percentageOnlyStopLoss>
                <p>Stop Loss: <span class="fw-bolder">{{ calculatePercentage(profitTargets_StopPrice, true) }}%</span>
                </p>
              </ng-template>
            </div>
            <div class="text-warning">
              <ng-container>
                <p>Liquidation : <span class="fw-bolder">{{profitTargets_LiquidationPrice | number:'1.1-8'}} USDT ({{profitTargets_LiquidationPricePercentage}}%) </span>

                </p>
              </ng-container>
            </div>
          </div>
          <hr>
          <button type="button" class="btn btn-secondary" (click)="addProfitTarget()">Add TP</button>
          <button class="btn mx-2" mat-raised-button color="primary" [disabled]="!isFormValid()"
            [style.cursor]="isFormValid() ? 'pointer' : 'not-allowed'">
            Calculate
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-lg-4 pt-4 mt-3 col-12 pb-lg-0 pb-2 d-flex justify-content-between align-items-start flex-column "
    *ngIf="showPnlPercentageFuturesSection">



    <div class="card   p-0">
      <div class="card-body  ">

        <div class="row">
          <div class="col-6 d-flex align-items-center">
            <h2 class="card-title badge badge-heading pill    " style="position: relative; top: -35px">
              PNL % FUTURES

            </h2>
          </div>
        </div>

        <p class="hint">Enter Buy Price, Sell Price, and Leverage to calculate the profit percentage for futures
          trading.</p>

        <form #pnlPercentageFuturesForm="ngForm">
          <div class="">
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>Buy Price</mat-label>
              <input matInput type="number" placeholder="Buy Price Futures" [(ngModel)]="buyPriceFutures"
                name="buyPriceFutures" required />
            </mat-form-field>
          </div>
          <div class="">
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>Sell Price</mat-label>
              <input matInput type="number" placeholder="Sell Price Futures" [(ngModel)]="sellPriceFutures"
                name="sellPriceFutures" required />
            </mat-form-field>
          </div>
          <div class="">
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>Leverage</mat-label>
              <input matInput type="number" placeholder="leverage" [(ngModel)]="leverage" name="leverage" required />
            </mat-form-field>
          </div>



        </form>

        <div class="row">
          <div class="col-auto">
            <button type="submit" class="btn" mat-raised-button color="primary"
              [disabled]="!pnlPercentageFuturesForm.form.valid" (click)="calculateProfitFutures()"
              [style.cursor]="pnlPercentageFuturesForm.form.valid ? 'pointer' : 'not-allowed'">Calculate</button>
          </div>
          <div class="col-auto">

            <!-- [disabled]="!buyPrice && !sellPrice && !leverage" -->
            <button class="btn" mat-raised-button color="warn" (click)="pnlPercentageFuturesForm.form.reset()"
              [disabled]="(!buyPriceFutures && !sellPriceFutures && !leverage)"
              [style.cursor]="(!buyPriceFutures && !sellPriceFutures && !leverage) ? 'pointer' : 'not-allowed'">Clear</button>
          </div>
        </div>

        <div *ngIf="profitPercentageFutures !== null && pnlPercentageFuturesForm.form.valid " class="mt-3">
          <p class="fw-bold  text-primary ">Profit Percentage: {{ profitPercentageFutures.toFixed(2) }}%</p>
        </div>











      </div>
    </div>
  </div>





  <div class="col-lg-4 pt-4 mt-3 col-12 pb-lg-0 pb-2 d-flex justify-content-between align-items-start flex-column "
    *ngIf="showTargetPriceSection">



    <div class="card   p-0">
      <div class="card-body  ">

        <div class="row">
          <div class="col-6 d-flex align-items-center">
            <h2 class="card-title badge badge-heading pill    " style="position: relative; top: -35px">
              Percentage-Price

            </h2>
          </div>
        </div>
        <p class="hint">Enter Price and Percentage to calculate the resulting price for both long and short positions.
        </p>
        <form #percentagePriceForm="ngForm">
          <div class="">
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>Price</mat-label>
              <input matInput type="number" placeholder="Price" [(ngModel)]="inputPrice" name="inputPrice" required />
            </mat-form-field>
          </div>
          <div class="">
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>Percentage</mat-label>
              <input matInput type="number" placeholder="Percentage" [(ngModel)]="inputPercentage"
                name="inputPercentage" required />
            </mat-form-field>
          </div>

        </form>




        <div class="row">
          <div class="col-auto">
            <button type="submit" class="btn" mat-raised-button color="primary"
              [disabled]="!percentagePriceForm.form.valid" (click)="calculateResultingPrice()"
              [style.cursor]="percentagePriceForm.form.valid ? 'pointer' : 'not-allowed'">Calculate</button>
          </div>
          <div class="col-auto">

            <!-- [disabled]="!buyPrice && !sellPrice && !leverage" -->
            <button class="btn" mat-raised-button color="warn" (click)="percentagePriceForm.form.reset()"
              [disabled]="(!inputPrice && !inputPercentage)"
              [style.cursor]="(!inputPrice && !inputPercentage) ? 'pointer' : 'not-allowed'">Clear</button>
          </div>

        </div>
        <div *ngIf="resultingPriceLong !== null && resultingPriceShort !==null && percentagePriceForm.form.valid "
          class="mt-3">
          <p class="fw-bold  text-success ">Resulting Price(Long): {{ resultingPriceLong.toFixed(2) }} </p>
          <p class="fw-bold  text-danger ">Resulting Price(Short): {{ resultingPriceShort.toFixed(2) }} </p>

        </div>








      </div>
    </div>
  </div>

  <div class="col-lg-4 pt-4 mt-3 col-12 pb-lg-0 pb-2 d-flex justify-content-between align-items-start flex-column "
    *ngIf="showPricePercentageSection">



    <div class="card   p-0">
      <div class="card-body  ">

        <div class="row">
          <div class="col-6 d-flex align-items-center">
            <h2 class="card-title badge badge-heading pill    " style="position: relative; top: -35px">
              Price-Percentage

            </h2>
          </div>
        </div>
        <p class="hint">Enter Current Price and Order Price to calculate the percentage difference.</p>
        <form (ngSubmit)="calculatePnl()" #pricePercentageForm="ngForm">
          <div class="">
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>Current Price</mat-label>
              <input matInput type="number" placeholder="Current Price" [(ngModel)]="currentPrice" name="currentPrice"
                required />
            </mat-form-field>
          </div>
          <div class="">
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>Order Price</mat-label>
              <input matInput type="number" placeholder="Order Price" [(ngModel)]="orderPrice" name="orderPrice"
                required />
            </mat-form-field>
          </div>
          <button type="submit" class="btn" mat-raised-button color="primary"
            [disabled]="!pricePercentageForm.form.valid"
            [style.cursor]="pricePercentageForm.form.valid ? 'pointer' : 'not-allowed'">Calculate</button>
        </form>

        <div *ngIf="pnlPercentage !== null" class="mt-3">
          <p class="fw-bold text-primary ">PnL Percentage: {{ pnlPercentage.toFixed(2) }}%</p>
        </div>






      </div>
    </div>
  </div>



  <div class="col-lg-4 pt-4 mt-3 col-12 pb-lg-0 pb-2 d-flex justify-content-between align-items-start flex-column "
    *ngIf="showPnlPercentageSection">



    <div class="card   p-0">
      <div class="card-body  ">

        <div class="row">
          <div class="col-6 d-flex align-items-center">
            <h2 class="card-title badge badge-heading pill    " style="position: relative; top: -35px">
              Pnl-Percentage

            </h2>
          </div>
        </div>

        <p class="hint">Enter Buy Price and Sell Price to calculate the profit percentage.</p>

        <form (ngSubmit)="calculateProfit()" #pnlPercentageForm="ngForm">
          <div class="">
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>Buy Price</mat-label>
              <input matInput type="number" placeholder="Buy Price" [(ngModel)]="buyPrice" name="buyPrice" required />
            </mat-form-field>
          </div>
          <div class="">
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>Sell Price</mat-label>
              <input matInput type="number" placeholder="Sell Price" [(ngModel)]="sellPrice" name="sellPrice"
                required />
            </mat-form-field>
          </div>
          <button type="submit" class="btn" mat-raised-button color="primary" [disabled]="!pnlPercentageForm.form.valid"
            [style.cursor]="pnlPercentageForm.form.valid ? 'pointer' : 'not-allowed'">Calculate</button>
        </form>

        <div *ngIf="profitPercentage !== null" class="mt-3">
          <p class="fw-bold  text-primary ">Profit Percentage: {{ profitPercentage.toFixed(2) }}%</p>
        </div>











      </div>
    </div>
  </div>



  <div class="col-lg-4 pt-4 mt-3 col-12 pb-lg-0 pb-2 d-flex justify-content-between align-items-start flex-column"
    *ngIf="showFeeInPercentageSection">
    <div class="card p-0">
      <div class="card-body">
        <div class="row">
          <div class="col-6 d-flex align-items-center">
            <h2 class="card-title badge badge-heading pill " style="position: relative; top: -35px">
              Calculate Fee Percentage
            </h2>
          </div>
        </div>

        <p class="hint">Enter the transaction details to calculate the fee percentage.</p>


        <form (ngSubmit)="calculateFeePercentage()" #feePercentageForm="ngForm">
          <div>
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>Amount</mat-label>
              <input matInput type="number" step="0.001" placeholder="Traded Amount" [(ngModel)]="amount1"
                name="amount1" required />
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>Fee</mat-label>
              <input matInput type="number" step="0.001" placeholder="Fees Paid" [(ngModel)]="fee1" name="fee1"
                required />
            </mat-form-field>
          </div>
          <button type="submit" class="btn" mat-raised-button color="primary" [disabled]="!feePercentageForm.form.valid"
            [style.cursor]="feePercentageForm.form.valid ? 'pointer' : 'not-allowed'">Calculate</button>
        </form>
        <div *ngIf="feePercentageResult !== null" class="mt-3">
          <p class="fw-bold text-primary">Fee Percentage: {{ feePercentageResult }}%</p>
        </div>
      </div>
    </div>
  </div>




  <div class="col-lg-4 pt-4 mt-3 col-12 pb-lg-0 pb-2 d-flex justify-content-between align-items-start flex-column"
    *ngIf="showFeeInAssetSection">
    <div class="card p-0">
      <div class="card-body">
        <div class="row">
          <div class="col-6 d-flex align-items-center">
            <h2 class="card-title badge badge-heading pill " style="position: relative; top: -35px">
              Calculate Fee in ASSET
            </h2>
          </div>
        </div>

        <p class="hint">Enter the traded amount and the fee percentage to calculate the fee paid in the asset.</p>

        <form (ngSubmit)="calculateFeeInUSD()" #feeInUSDForm="ngForm">
          <div>
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>Amount</mat-label>
              <input matInput type="number" step="0.001" placeholder="Traded Amount" [(ngModel)]="amount2"
                name="amount2" required />
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>Fee % </mat-label>
              <input matInput type="number" step="0.001" placeholder="Fee Percentage" [(ngModel)]="feePercentage"
                name="feePercentage" required />
            </mat-form-field>
          </div>
          <button type="submit" class="btn" mat-raised-button color="primary" [disabled]="!feeInUSDForm.form.valid"
            [style.cursor]="feeInUSDForm.form.valid ? 'pointer' : 'not-allowed'">Calculate</button>
        </form>
        <div *ngIf="feeInUSDResult !== null" class="mt-3">
          <p class="fw-bold text-primary">Fee Assets Paid: {{ feeInUSDResult }}</p>
        </div>
      </div>
    </div>
  </div>




  <div class="col-lg-4 pt-4 mt-3 col-12 pb-lg-0 pb-2 d-flex justify-content-between align-items-start flex-column"
    *ngIf="showAveragePriceSection">
    <div class="card p-0">
      <div class="card-body">

        <div class="row">
          <div class="col-6 d-flex align-items-center">
            <h2 class="card-title badge badge-heading pill " style="position: relative; top: -35px">
              Average Price
            </h2>
          </div>
        </div>

        <p class="hint">Enter the amount, buy price, and total cost for each transaction to calculate the average price.
        </p>

        <form (ngSubmit)="calculateAvgPrice()" #averagePriceForm="ngForm">
          <!-- Loop through transactions -->
          <div *ngFor="let transaction of transactions; let i = index" class="transaction-form">
            <div class="form-group">
              <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Amount</mat-label>
                <input matInput type="number" placeholder="Amount" [(ngModel)]="transaction.amount" name="amount_{{i}}"
                  required />
              </mat-form-field>
            </div>

            <div class="form-group">
              <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Buy Price</mat-label>
                <input matInput type="number" placeholder="Buy Price" [(ngModel)]="transaction.buyPrice"
                  name="buyPrice_{{i}}" required />
              </mat-form-field>
            </div>



            <div class="form-group">
              <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Total Cost</mat-label>
                <input matInput type="number" placeholder="Total Cost" [(ngModel)]="transaction.totalCost"
                  name="totalCost_{{i}}" required />
              </mat-form-field>
            </div>

            <!-- Button to remove the current transaction -->
            <button type="button" class="btn btn-danger mb-2" (click)="removeTransaction(i)">Remove</button>
            <hr>
          </div>

          <!-- Button to add a new transaction -->
          <button type="button" class="btn btn-secondary" (click)="addTransaction()">Add</button>

          <!-- Button to calculate average price -->
          <button class="btn mx-2" mat-raised-button color="primary"
            [disabled]="!averagePriceForm.form.valid || transactions.length<=0"
            [style.cursor]="averagePriceForm.form.valid ? 'pointer' : 'not-allowed'">
            Calculate
          </button>
        </form>
        <div *ngIf="(avgPrice && totalQuantity && totalCost)" class="mt-3">
          <p class="fw-bold text-primary ">Total Amount : {{ totalQuantity }}</p>
          <p class="fw-bold text-primary ">Average Price : {{ avgPrice }}</p>
          <p class="fw-bold text-primary ">Total Cost : {{ totalCost }}</p>

        </div>


      </div>
    </div>
  </div>


</div>


<div class="spacer-20"></div>