@import '../sharedSCSS/portfolioSheets/sheetsOuterMostContainerStyle.scss';
@import '../sharedSCSS/portfolioSheets/sheetsOuterMostContainerStyle.scss';
@import '../sharedSCSS/scssVariable/colorVariable.scss';
@import '../sharedSCSS/dialogsStyle/dialogsStyle.scss';
// .tools-row {
//   margin-top: -20px;
//   padding-top: 30pxx !important
// }

// .tools-row div .card {
//   width: 100%
// }


// ----------------------filter section starts --------

.filter-link {
  cursor: pointer;
font-size: 12px;
  // margin-right: 10px;  /* Adjust as needed */
}


.filter-link:hover {
  border-color: black !important;
  color: black
}


.filter-link-selected {
  background-color: $base-color_primary;
  color: white;
}

.filter-link-selected:hover {
  background-color: $base-color_primary;
  color:white !important
}


.text-dark {
  border-color: black !important;
}


form{
  // margin-top : -20px
}

.card{
  width:100%
}

// .side_toggle_div
// {

//     padding-right: 1.5rem;
//     padding-left: 1.5rem;

// }
.main-div{
  padding-top:20px;
}




.mat-mdc-form-field {
  width: 100%;
}


.hint
{
  margin-top:-30px;
  // color:grey;
  padding:10px;
  font-size:12px;
  color: $base-color_primary;
  font-weight: 500;

}


// ----------------------filter section ends --------