<div class="total-stats-div p-3 mt-3" >

  <h1 class="box-title">Total Stats</h1>
  <div class="loader-div  d-flex justify-content-center align-items-center flex-column"
  *ngIf="!IsSelectedSheetDataLoaded">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <span class="pt-2">Loading ...</span>


</div>

</div>
<div class="spacer-20"></div>




<div class="history-div p-3 mt-3">

  <h1 class="box-title">Order History</h1>

<mat-form-field  appearance="outline" floatLabel="always" >

    <mat-label>Filter Table</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input />
  </mat-form-field>

  <div style="overflow-x:  auto; " class="example-container">


    <ng-container class="table-div">
        <!-- trading-setup.component.html -->
        <div class="mat-elevation-z8 example-table-container">

            <table mat-table [dataSource]="dataSource" matSort matSortActive="Date" matSortDirection="desc" class="mat-elevation-z8">
          
              <!-- Define columns -->
              <ng-container matColumnDef="Date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                <td mat-cell *matCellDef="let element" style="font-weight: 600;"> {{ element.Date }} </td>
              </ng-container>
          
           
          
              <ng-container matColumnDef="Asset">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Asset </th>
                <td mat-cell *matCellDef="let element" style="font-weight: 600;" > {{ element.Asset }} </td>
              </ng-container>
          
              <ng-container matColumnDef="Type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
                <td mat-cell *matCellDef="let element"> {{ element.Type }} </td>
              </ng-container>
              <ng-container matColumnDef="Amount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
                <td mat-cell *matCellDef="let element"
                style="font-weight: 600;"
                [ngClass]="{'text-success':element.Amount >0,'text-danger':element.Amount <0,'text-secondary':element.Amount ==0}"
                ><span>₮ </span> {{ element.Amount }} </td>
              </ng-container>
              <ng-container matColumnDef="Symbol">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </th>
                <td mat-cell *matCellDef="let element"> {{ element.Symbol }} </td>
              </ng-container>
              
              
           
              
              <!-- Actions column with Edit and Delete buttons -->
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element">
                  <!-- <button mat-icon-button (click)="editItem(element.ID)">
                    <mat-icon class="text-warning">edit</mat-icon>
                  </button> -->
                  <button mat-icon-button (click)="deleteEntry(element.ID, element)" >
                    <mat-icon class="text-danger">delete</mat-icon>
                  </button>
      
      
                </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"  class="table-header" ></tr>

              <tr mat-row *matRowDef="let row; columns: displayedColumns;let odd = odd; " [class.striped-row]="odd"></tr>

            </table>
          
            <!-- Pagination -->
          </div>
          <!-- <app-new></app-new> -->
        </ng-container></div>
        
        <mat-paginator [pageSizeOptions]="[ 5, pageSizeOptions]" showFirstLastButtons></mat-paginator>

</div>