@import '../sharedSCSS/portfolioSheets/sheetsOuterMostContainerStyle.scss';
@import '../sharedSCSS/portfolioSheets/sheetsInnerContainerStyle.scss';

@import '../sharedSCSS/dialogsStyle/dialogsStyle.scss';




// .inner-div {
//   padding: 0;
// }

.outer-div{
  display: flex;
  justify-content: space-between;
}



.inner-div-stats-div{
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}

.tv_symbol_overview {
  
  // width : 100vw
}

.tv_symbol_overview {
  transition: height 0.3s ease;
  height: 190px;
  max-height: 500px;
}

.tv_symbol_overview.collapsed {
  height: 190px;
}

.tv_symbol_overview.expanded {
  height: 500px;
}


// .initial_div_bg {
//   background-color: red;
// }

// .next_div_bg {
//   background-color: yellow;
// }



// .card-body {

//   .row {
//     display: flex;
//     justify-content: center;
//   }

// }