<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" class="masterControl_Dialog">

  <div mat-dialog-title cdkDragHandle>
    <h1 *ngIf="InjectedLocation"> {{InjectedLocation.location == 'sidenav' ? 'Enable Master Control' : InjectedLocation.location}} </h1>
    <h1 *ngIf="!InjectedLocation"> Master Control Required ! </h1>
  </div>

  <!-- <hr class="m-0" /> -->

  <div mat-dialog-content class="content">

    <ng-container *ngIf="formType=='MasterPassword_Get'">
      <div class="row">
        <mat-form-field appearance="outline" floatLabel="always" >
          <mat-label>Master Password</mat-label>

          <input matInput type="password" placeholder="master password" [(ngModel)]="masterPassword" name="masterPassword"
          [type]="hide ? 'password' : 'text'" autocomplete="password" required />

            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" 
            [hidden]="masterPassword === '' "
            tabindex="-1">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          <button class="text-danger" *ngIf="masterPassword" matSuffix mat-icon-button  aria-label="Clear" type="button" 
            (click)="masterPassword = ''" tabindex="-1">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <div *ngIf="formType==='MasterPassword_Get'">
          <!-- <p *ngIf="!isMasterControlVerified">Forgot Password ? <a (click)="forgotMasterPassword()">change</a></p> -->
          <p class="mb-0">Want to change Password ?</p>
          <a (click)="forgotMasterPassword('MasterPassword_Forgot')"
            style="text-decoration: underline; color:blue; cursor:pointer">click here</a>
        </div>

      </div>
    </ng-container>


    <ng-container *ngIf="formType=='MasterPassword_Forgot'">
      <div class="row">

        <mat-form-field appearance="outline" floatLabel="always" >
          <mat-label>Existing Master Password</mat-label>

          <input matInput type="text" placeholder="Existing master password" [(ngModel)]="masterPassword_Existing"
            name="masterPassword_Existing" required />

          <button class="text-danger" *ngIf="masterPassword_Existing" matSuffix mat-icon-button  aria-label="Clear" type="button" 
            (click)="masterPassword_Existing = ''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

      </div>
      <div class="row">

        <mat-form-field appearance="outline" floatLabel="always" >
          <mat-label>New Master Password</mat-label>

          <input matInput type="text" placeholder="Existing master password" [(ngModel)]="masterPassword_New"
            name="masterPassword_New" required />

          <button class="text-danger" *ngIf="masterPassword_New" matSuffix mat-icon-button  aria-label="Clear" type="button" 
            (click)="masterPassword_New = ''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

      </div>
      <div class="row">

        <mat-form-field appearance="outline" floatLabel="always" >
          <mat-label>Verify Master Password</mat-label>

          <input matInput type="text" placeholder="Verify new master password" [(ngModel)]="masterPassword_Verify"
            name="masterPassword_Verify" required />

          <button class="text-danger" *ngIf="masterPassword_Verify" matSuffix mat-icon-button  aria-label="Clear" type="button" 
            (click)="masterPassword_Verify = ''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <div *ngIf="formType==='MasterPassword_Forgot'">
          <p class="mb-0">Use existing password ?</p>
          <a (click)="alreadyHavePassword('MasterPassword_Get')"
            style="text-decoration: underline; color:blue; cursor:pointer">click here</a>
        </div>
      </div>
    </ng-container>


  </div>




  <!-- <hr class="m-0" /> -->

  <div mat-dialog-actions class="action">
    <button mat-raised-button color="" (click)="onClose()" tabindex="1"
    [disabled]="isMasterControlSubmitted">Close</button>
    <button mat-raised-button color="primary" (click)="onSubmit()"
      [disabled]="!masterPassword || isMasterControlSubmitted"
      tabindex="0"
      >

      <span *ngIf="isMasterControlSubmitted">Verifying...</span>
      <span *ngIf="!isMasterControlSubmitted">Submit</span>

    </button>



  </div>

</div>