<div class="container-fluid p-0">
    <div
      class="container-fluid  pt-lg-3 px-2"
      style="height: calc(100vh - 116px); overflow-x:hidden"
    >
    <!-- ----------------------STARTS portfolio module (for binance, bybit & dashboard for both) content   -->
    <router-outlet></router-outlet>
    <!-- ----------------------ENDS portfolio module (for binance, bybit & dashboard for both) content -->
  
    </div>
  
    <nav class="nav ">
   
      <!-- <a class="nav__link nav__link--active"> -->
      <!-- <a class="nav__link"
      routerLink="trade-setup-spot"
      routerLinkActive="nav__link--active"
      >
        <i class="material-icons nav__icon">assessment</i>
        <span class="nav__text">SPOT</span>
      </a> -->

      <a class="nav__link active"
      routerLink="trade-setup-futures"
      routerLinkActive="nav__link--active"
      >
        <i class="material-icons nav__icon">assessment</i>
        <span class="nav__text">FUTURES</span>
      </a>
    </nav>







  </div>
  