mat-form-field {
  width: 100% !important;
}

.card {
  border-radius: 1rem;
}

.main-section {
  background-image: url("../../assets/login-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.login-image {
  border-radius: 1rem 0 0 1rem;
}

form h5 {
  letter-spacing: 1px;
}

button[btn-primary] {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: underline;
  
  &:hover {
    color: #2c2f5e !important;
  }
} 