/* colors : 
1. purple : #371b58
2. green : #4c4b16
3. blue-purple : #8f43ee
4. blue-purple : #0f6292
5. brown : #8c3601
6. darkest blue  : #40128B;
7. second purple : #3c2b58
*/
// @import '../src/app/sharedSCSS/scssVariable/colorVariable.scss';




$base-color_primary: #66347f;
// $base_color_primary:red;
$base-color_primary_background:rgb(#66347f, 0.0625);
$base-color_Text : white;
$base-color_Text_Light : white





