<div class="folder-item d-flex justify-content-between align-items-center" (click)="toggle()"
  [ngClass]="{ 'expanded': item.expanded }">

  <!-- Show arrow icon only for child files and folders if the parent is expanded -->
  <i class="bi bi-arrow-right" *ngIf="item.type === 'folder' && item.children.length > 0 && item.expanded"></i>

  <!-- Icons for files and folders -->
  <ng-container *ngIf="item.type === 'file'; else folderIcon">
    <img src="assets/image.png" style="height:24px" alt="File Icon">
  </ng-container>

  <ng-template #folderIcon>
    <!-- *ngIf="item.children" -->
    <img [src]="item.children.length === 0 ? 'assets/folderEmpty.png' : 'assets/folderNotEmpty.png'" style="height:24px"
      alt="Folder Icon">
  </ng-template>

  <!-- File/Folder Name -->
  <span class="item-name me-auto ms-1" [ngStyle]="{ 'font-weight': item.isViewing ? 'bold' : 'normal' }">
    {{ item.name }}
  </span>

  <!-- Arrow icon for expanded folders -->
  <mat-icon *ngIf="item.type === 'folder' && item.expanded">keyboard_arrow_down</mat-icon>

  <!-- Buttons for file actions -->
  <div *ngIf="item.type === 'file' && !isViewing" class="ml-2">
    <button (click)="viewFile(item)" *ngIf="!isViewing" class="btn btn-info btn-sm me-2 text-white">
      <i class="bi bi-eye"></i>
    </button>
    <!-- <button (click)="closeFile(item)" *ngIf="isViewing" class="btn btn-danger btn-sm me-2 text-white">
      <i class="bi bi-x"></i>
    </button> -->

    <button (click)="downloadFile(item.id)" class="btn btn-primary btn-sm text-white">
      <i class="bi bi-download"></i>
    </button>
  </div>
</div>

<!-- Nested Children Folders -->
<ul *ngIf="item.children && item.expanded">
  <ng-container *ngIf="item.children.length === 0">
    <li class="empty-folder">Empty</li>
  </ng-container>
  <ng-container *ngFor="let child of item.children">
    <li>
      <app-folder-item [item]="child"></app-folder-item>
    </li>
  </ng-container>
</ul>

<!-- File Preview Area -->
<div *ngIf="item.isViewing && sanitizedFileUrl" class="coins-outer-di">
  <div class="row coins-div box-shadow-sub-total-stats rounded-3" style="margin-top: -20px;">
    <div class="col-lg-12 col-12 pt-4 pb-2 d-flex justify-content-between align-items-start flex-column"
      style="padding-right:1rem">
      <div class="card card-trading_Pairs p-0" style="width: 100%">
        <div class="card-body">
          <div class="row">
            <div class="col-6 d-flex align-items-center">
            </div>
            <div class="col-6 d-flex align-items-center justify-content-end">
              <div *ngIf="item.type === 'file' && isViewing" style="position: relative; top:-26px; right:-8px"
                class="bg-white">
                <!-- <button (click)="viewFile(item.id)" *ngIf="!isViewing" class="btn btn-info btn-sm me-2 text-white">
                  <i class="bi bi-eye"></i>
                </button> -->
                <button (click)="viewFileFullScreen(item)" style="cursor: not-allowed; opacity: 0.6;" class="btn btn-info btn-sm me-2 text-white">
                  <i class="bi bi-arrows-fullscreen"></i>
                </button>
                
                <button (click)="downloadFile(item.id)" class="btn btn-primary me-2 btn-sm text-white">
                  <i class="bi bi-download"></i>
                </button>
                <button (click)="closeFile(item)" *ngIf="isViewing" class="btn btn-danger btn-sm text-white">
                  <i class="bi bi-x"></i>
                </button>
              </div>
            </div>
          </div>

          <div class="col-12">
            <iframe [src]="sanitizedFileUrl" frameborder="0"
              style="width: 100%; height: 50vh; overflow: hidden;"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>