<div class="main-container  " style="padding-bottom: 0px">
    <!-- --------------------------   row 1   ------------------------- -->
    <div class="row d-flex justify-content-between pb-2">
      <div class="form-floating mb-3 d-flex col-sm-auto col-6">
      
      </div>
      <div
        class="example-button-row col-sm-auto col-6 justify-content-end justify-content-sm-start d-flex"
      >
      <button mat-fab extended color="warn" matTooltip="Add New" >
        <mat-icon>add</mat-icon>
        Add
      </button>
        
      </div>
    </div>

    <!-- -----------------------STARTS floating sheet button --------------------------- -->
    <div class="dialog_scrim" *ngIf="openMenu"></div>
    <button
      mat-fab
      color="accent"
      (click)="clickMenu()"
      class="menu-button"
      [class.mat-elevation-z2]="!isOver"
      [class.mat-elevation-z8]="isOver"
      (mouseover)="isOver = true"
      (mouseleave)="isOver = false"
      matTooltip="Change Sheet"
      matTooltipPosition="above"
    >
      <!-- <i class="material-icons" *ngIf="!openMenu">menu</i> -->
      <!-- <i class="material-icons  " *ngIf="openMenu">close</i> -->
      <mat-icon *ngIf="!openMenu">cached</mat-icon>
      <mat-icon *ngIf="openMenu">closed</mat-icon>
    </button>
  
    <!-- menu button -->
    <!-- button1 -->
  
    <button
      [disabled]="selectedSheetName === 'Real_Account'"
      mat-mini-fab
      class="action-button one text-white"
      *ngIf="openMenu"
      color="basic"
      (click)="onSheetSelect('Real_Account')"
    >
      <i class="material-icons">done_all</i>
    </button>
    <button
    [disabled]="selectedSheetName === 'Real_Account'"
    mat-raised-button
    class="label labelone text-white"
    *ngIf="openMenu"
    color="basic"
    (click)="onSheetSelect('Real_Account')"
  >
  Real_Account
  </button>
  <!-- button2 -->

  <button
    [disabled]="selectedSheetName === 'Demo_Account'"
    mat-mini-fab
    class="action-button two text-white"
    *ngIf="openMenu"
    color="basic"
    (click)="onSheetSelect('Demo_Account')"
  >
    <i class="material-icons">done_all</i>
  </button>
  <button
    [disabled]="selectedSheetName === 'Demo_Account'"
    mat-raised-button
    class="label labeltwo text-white"
    *ngIf="openMenu"
    color="basic"
    (click)="onSheetSelect('Demo_Account')"
  >
  Demo_Account
  </button>

    <!-- -----------------------ENDS floating sheet button --------------------------- -->
  
    <!-- --------------------------   row 3 Main nested Container  STARTS  ------------------------- -->

    <div
      class="sheet-div row "
    >
      <!-- style="
        box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
          0px 8px 10px 1px rgba(0, 0, 0, 0.14),
          0px 3px 14px 2px rgba(0, 0, 0, 0.12);
      " -->
      <h2 style="font-weight:500">

     &nbsp;&nbsp;<img src="../../../assets/exness-seeklogo.com.svg" alt="" srcset="" style="height:30px; width:30px;background-color: black; border-radius: 20px;;"><span style="color: #f7a600"> {{ selectedSheetName }}</span>
      </h2>
      <router-outlet></router-outlet>

    </div>
    <!-- --------------------------   row 3 Main nested Container   ENDS ------------------------- -->
    <div class="spacer py-5"></div>

  </div>
  

