@import '../../../sharedSCSS/scssVariable/colorVariable.scss';
// @import '../sharedSCSS/PortfolioMain/porfolioMainSheets.scss';

@import '../../../sharedSCSS/portfolioSheets/sheetsOuterMostContainerStyle.scss';
@import '../../../sharedSCSS/portfolioSheets/sheetsInnerContainerStyle.scss';






.filter-link-text{
  cursor: none;
  pointer-events: none;
}















.action {
  justify-content: end;

  // padding: 0px 25px 0px;
  button {
    // flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    margin-right: 0px
  }
}

.content {
  min-height: 74vh;
  // max-height: 77vh;
  min-width: 100%;

  @media (min-width: 768px) {
    max-width: 20vw !important;
  }


}

::ng-deep:root {




  .mdc-dialog__title {
    margin: 0;
    padding: 12px 24px;
    color: $base-color_primary !important;


  }

  .mdc-dialog .mdc-dialog__content {
    padding: 0px 6px
  }
}






#technicalAnalysis {
  height: 450px;

  @media (min-width: 768px) {
    height: 500px;
  }




}

#tv_symbol_overview {
  height: 500px;
}

#tv_chart_container {
  height: 700px
}


.resizable {
  position: relative;
  overflow: hidden;
}

.resizable div {
  width: 100%;
  height: 100%;
  resize: vertical;
  overflow: auto;
}

::ng-deep:root {
  .container-h_9QHVVc {
    display: flex !important;
  }
}