<div mat-dialog-title>
    <h1>OPEN ORDERS</h1>
</div>








<div mat-dialog-content class="content border ">
    <ng-container class="cards">
        <div class=" p-3">


            <div class="loader-div d-flex justify-content-center align-items-center flex-column"
                *ngIf="!isOpenOrdersDataLoaded">
                <div class="spinner-border " role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
        <span class="pt-2">Loading ...</span>

            </div>


            <!-- Show buttons -->
            <div class="spacer-20"></div>
            <!-- Filter buttons -->
            <div class="d-flex  justify-content-sm-end justify-content-lg-start my-3" *ngIf="isOpenOrdersDataLoaded"
                style="position: relative; top: -40px;">
                <div class="me-2">
                    <span class="h6">Filter : </span>
                </div>

                <div class="filter-buttons">
                    <span class="filter-link h6  border rounded-3 px-2" (click)="show('ALL')"
                        [ngClass]="{'filter-link-text': selectedFilter=='ALL', 'text-secondary':selectedFilter!='ALL' }">ALL</span>
                    <span class="filter-link h6 ms-2  border rounded-3 px-2" (click)="show('SINGLE')"
                        [ngClass]="{'filter-link-text': selectedFilter=='SINGLE', 'text-secondary':selectedFilter!='SINGLE' }">SINGLE</span>

                </div>
            </div>

            <div class="row" *ngIf="isOpenOrdersDataLoaded">


                <p *ngIf="filteredOrders.length==0"
                    class="d-flex flex-column justify-content-center align-items-center " style="height: 53vh;">no data
                    found !</p>

                <ng-container *ngIf="exchangeName==='BINANCE'">

                    <div class="col-lg-6 pt-3 mb-4 col-12 pb-lg-0 pb-0 d-flex justify-content-between align-items-start flex-column"
                        *ngFor="let trade of filteredOrders">
                        <div class="card card-trading_Pairs p-0" style="width: 100%">
                            <div class="card-body">

                                <h2 class="card-title badge badge-heading pill  openOrder-cardTitle"
                                    style="position: relative; top: -40px">
                                    {{ trade.symbol }}



                                </h2>

                                <!-- <div class="row" style="margin-top:-25px; margin-bottom:10px">

                                <div class="col-6  d-flex align-items-center">
                                    <p class="px-3 mb-0 text-muted" style="font-weight: 600;">

                                        <span class="card-text text-success" style="font-size:18px"
                                            *ngIf="trade.Filled=='NO'"
                                            [ngClass]="{'text-success':    openTradesFilteredData.AverageBuyPrice < openTradesFilteredData.CurrentPrice, 'text-danger':    openTradesFilteredData.AverageBuyPrice > openTradesFilteredData.CurrentPrice  }">₮{{
                                            getCurrentPnl(trade) | number:'1.0-3'
                                            }}</span>
                                        <span class="card-text text-warning" style="font-size:18px"
                                            *ngIf="trade.Filled=='YESS'">₮{{getEstPnl(trade) | number:'1.0-3'

                                            }} <mat-icon>done_all</mat-icon></span>

                                    </p>
                                </div>

                                <div class="col-6 justify-content-end d-flex align-items-center">
                                    <span>



                                    </span>
                                    <span class="card-text text-success" style="font-size:18px"
                                        *ngIf="trade.Filled=='NO'"
                                        [ngClass]="{'text-success':    openTradesFilteredData.AverageBuyPrice < openTradesFilteredData.CurrentPrice, 'text-danger':    openTradesFilteredData.AverageBuyPrice > openTradesFilteredData.CurrentPrice  }">
                                        {{
                                        getCurrentPnlPercentage(trade) | number :'1.0-2'}}%</span>
                                    <span class="card-text text-warning" style="font-size:18px"
                                        *ngIf="trade.Filled=='YESS'"> {{
                                        getEstPnlPercentage(trade) | number :'1.0-2'}}%
                                        <mat-icon>done_all</mat-icon>

                                    </span>

                                </div>

                            </div> -->

                                <div class="row pt-2">



                                    <div class="col-6">
                                        <p class="px-3 text-muted" style="font-weight: 600">

                                            Order Price<br>
                                            <span class="card-text text-muted"
                                                style="font-weight: 600; font-size: 16px">

                                                {{
                                                trade.price
                                                }}</span>
                                        </p>
                                    </div>


                                    <div class="col-6">
                                        <p class="px-3 text-muted" style="font-weight: 600">
                                            Order Qty<br />

                                            <span class="card-text text-muted"
                                                style="font-weight: 600; font-size: 16px">
                                                {{ trade.origQty }}</span>
                                        </p>
                                    </div>


                                    <div class="col-6">
                                        <p class="px-3 text-muted" style="font-weight: 600">
                                            Direction<br />

                                            <span class="card-text" style="font-weight: 600; font-size: 16px"
                                                [ngClass]="{'text-success': trade.side.toUpperCase()==='BUY', 'text-danger':trade.side.toUpperCase()==='SELL'}">
                                                {{ trade.side }}</span>
                                        </p>
                                    </div>




                                    <!-- <div class="col-6">
                                    <p class="px-3 text-muted" style="font-weight: 600">
                                        Buy Price<br />

                                        <span class="card-text text-muted" style="font-weight: 600; font-size: 16px">
                                            ₮
                                            {{
                                            openTradesFilteredData.AverageBuyPrice
                                            | number : "1.0-8"
                                            }}</span>
                                    </p>
                                </div> -->
                                    <!-- <div class="col-6">
                                    <p class="px-3" style="font-weight: 600">
                                        <span class="text-muted">Curr. Price</span><br />


                                        <span class="card-text d-flex" style="font-weight: 600; font-size: 16px"
                                            [ngClass]="{'text-success':    openTradesFilteredData.AverageBuyPrice < openTradesFilteredData.CurrentPrice, 'text-danger':    openTradesFilteredData.AverageBuyPrice > openTradesFilteredData.CurrentPrice  }">{{
                                            openTradesFilteredData.CurrentPrice }}
                                        </span>
                                    </p>
                                </div> -->
                                    <!-- <div class="col-6">
                                    <p class="px-3 text-muted" style="font-weight: 600">
                                        Order Total<br />

                                        <span class="card-text text-muted" style="font-weight: 600; font-size: 16px">
                                            ₮ {{ trade.Qty_Open_Order * openTradesFilteredData.AverageBuyPrice |
                                            number:'1.0-3' }}</span>
                                    </p>
                                </div> -->
                                    <div class="col-6">
                                        <p class="px-3 text-muted" style="font-weight: 600">
                                            Return Total<br />

                                            <span class="card-text text-muted"
                                                style="font-weight: 600; font-size: 16px">
                                                ₮ {{ trade.origQty * trade.price | number:'1.0-3' }}</span>
                                        </p>
                                    </div>


                                    <!-- <div class="col-6">
                                    <p class="px-3 text-muted" style="font-weight: 600">
                                        Return Pnl<br />

                                        <span class="card-text text-muted" style="font-weight: 600; font-size: 16px">
                                            ₮ {{ getEstPnl(trade) | number :'1.0-3' }}</span>
                                    </p>
                                </div> -->
                                    <!-- <div class="col-6">
                                    <p class="px-3 text-muted" style="font-weight: 600">
                                        Return Pnl%<br />

                                        <span class="card-text text-muted" style="font-weight: 600; font-size: 16px">
                                            {{ getEstPnlPercentage(trade) | number :'1.0-3' }} %</span>
                                    </p>
                                </div> -->
                                    <!-- <div class="col-6">
                                    <p class="px-3 text-muted" style="font-weight: 600">
                                        Untill Target<br />
                                        <ng-container>
                                            <span class="card-text " style="font-weight: 600; font-size: 16px"
                                                [ngClass]="{'text-danger':    getUntilTarget(trade) <=0}"
                                                *ngIf=" getUntilTarget(trade) <=0 && (trade.Filled=='NO') ">
                                                {{
                                                getUntilTarget(trade) | number:'1.0-2'

                                                }} %</span>
                                        </ng-container>

                                        <span *ngIf=" trade.Filled=='YESS'" class="text-success">Achived</span>
                                    </p>
                                </div> -->
                                    <!-- <div class="col-6">
                                    <p class="px-3 text-muted" style="font-weight: 600">
                                        Filled<br />

                                        <span class="card-text " style="font-weight: 600; font-size: 16px"
                                            *ngIf="(trade.Filled).toUpperCase() == 'NO'"
                                            [ngClass]="{'text-success':(trade.Filled).toUpperCase() == 'YESS','text-danger':(trade.Filled).toUpperCase() == 'NO'}">
                                            {{
                                            trade.Filled

                                            }}</span>
                                        <span class="text-success" *ngIf="(trade.Filled).toUpperCase() == 'YESS'">YESS

                                        </span>

                                    </p>
                                </div> -->




                                </div>
                            </div>
                        </div>
                    </div>

                </ng-container>


                <ng-container *ngIf="exchangeName==='BYBIT'">
                </ng-container>

            </div>
        </div>
    </ng-container>
    <div class="spacer-20"></div>

</div>









<div mat-dialog-actions class="action">
    <button mat-raised-button color="warn" (click)="onClose()">Close</button>

    <!-- <button class="btn btn-secondary" (click)="clearFields(form)">Clear</button> -->
</div>