<div class="container-fluid p-0 ">
    <div
      class="container-fluid  pt-lg-3 px-2 "
      style="height: calc(100vh - 116px); overflow-x:hidden; "
    >
    <!-- ----------------------STARTS portfolio module (for binance, bybit & dashboard for both) content   -->
    <router-outlet></router-outlet>
    <!-- ----------------------ENDS portfolio module (for binance, bybit & dashboard for both) content -->
  
    </div>
  
    <nav class="nav ">
      <a class="nav__link active"
      routerLink="portfolio-mexc-dashboard"
      routerLinkActive="nav__link--active"
      >
        <i class="material-icons nav__icon">dashboard</i>
        <span class="nav__text">DASHBOARD</span>
      </a>
      <!-- <a class="nav__link nav__link--active"> -->
      <a class="nav__link"
      routerLink="portfolio-mexc-sheets"
      routerLinkActive="nav__link--active"
      >
        <i class="material-icons nav__icon">person</i>
        <span class="nav__text">SHEETS</span>
      </a>
     
    </nav>
  </div>
  