@import '../../sharedSCSS/scssVariable/colorVariable.scss';
@import '../../sharedSCSS/dialogsStyle/dialogsStyle.scss';


h1 {
    color :$base-color_primary!important;
    margin-bottom: 0px;
}

.confirm-dialog {
  // padding: 20px;
  
  .mat-dialog-title {
    margin: 0 0 20px;
  }

  .mat-dialog-content {
    margin: 0 0 20px;
  }

  .dialog-actions {
    justify-content: flex-end;
    gap: 8px;
    padding : 0px 1rem;
  }
}