<div cdkDrag cdkDragRootElement=".cdk-overlay-pane"  >


<h1 mat-dialog-title cdkDragHandle class="text-center">
    {{title}} !
  </h1>
  
  <div mat-dialog-content>
    <!-- <p class="text-muted">{{message}}</p> -->
    <!-- <p class="text-muted" [innerHtml]="message"></p> -->
    <pre class="text-muted" >{{ message }}</pre>
  </div>
  
  <div mat-dialog-actions class="row flex-row d-flex">
    <div class="col-6">
      <button class="w-100"  mat-raised-button color="warn" (click)="onDismiss()" tabindex="1">Cancel</button>

    </div>
    <div class="col-6">

      <button class="w-100" mat-raised-button color=""  (click)="onConfirm()" tabindex="0" cdkFocusInitial>Yes</button>
    </div>
  </div>
  </div>