<div class="total-stats-div p-3 mt-3" >
  <h1 class="box-title">Total Stats</h1>
  <div class="loader-div  d-flex justify-content-center align-items-center flex-column"
  *ngIf="!IsSelectedSheetDataLoaded">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <span class="pt-2">Loading ...</span>


</div>



<div class="row" style="margin-top: -20px" *ngIf="IsSelectedSheetDataLoaded">

  <div class="col-12   total-stats-inner-div d-flex justify-content-between align-items-start flex-column">
    <div class="card p-0" style="width: 100%">
        <div class="card-body">
  
  
            <div class="row ">
              <h2 class="card-title">Total PNL</h2>

                <div class="row d-flex flex-row justify-content-center" style="margin-top:-15px">
  
                    <div class="col-4  inner-div">
  
                        <h1 class="card-text text-success" style="font-weight: 600"
                        [ngClass]="{'text-danger':columnTotals.TotalPNLUSDT<0}"
                        >
                            <sub>₮</sub>  {{columnTotals.TotalPNLUSDT | number:'1.0-2' }}
  
                        </h1>
                        <h5>USDT</h5>
                    </div>
                    <div class="col-4  inner-div">
  
                        <h1 class="card-text text-success" style="font-weight: 600"
                        [ngClass]="{'text-danger':columnTotals.TotalPNLUSDT<0}">
                          <sub>₹</sub>  {{(columnTotals.TotalPNLUSDT)*90 | number:'1.0-2' }}
                        </h1>
                        <h5>INR</h5>
                    </div>
                    <div class="col-4  inner-div">
  
                      <h1 class="card-text text-success" style="font-weight: 600"
                      [ngClass]="{'text-danger':columnTotals.TotalPNLUSDT<0}"
                      >
                       <span *ngIf="(columnTotals.TotalPNLPercentage)>(0)">⬆</span>
                        <span *ngIf="(columnTotals.TotalPNLPercentage)<(0)">⬇</span>
  
                        {{
                        columnTotals.TotalPNLPercentage | number : "1.2-2"
                          }}%
                      </h1>
                      <h5>Percentage</h5>
                  </div>
                </div>
            </div>
  
        </div>
    </div>
  </div>






  <div class="col-12   total-stats-inner-div d-flex justify-content-between align-items-start flex-column">
    <div class="card p-0" style="width: 100%">
        <div class="card-body">
  
  
            <div class="row ">
              <h2 class="card-title">BITCOIN</h2>


                <div class="row d-flex flex-row justify-content-center" style="margin-top:-15px">
  
                    <div class="col-4  inner-div">
  
                        <h1 class="card-text text-success" style="font-weight: 600"
                        [ngClass]="{'text-danger':columnTotals.BITCOINPNLUSDT<0}"
                        >
                            <sub>₮</sub>  {{columnTotals.BITCOINPNLUSDT | number:'1.0-2' }}
  
                        </h1>
                        <h5>USDT</h5>
                    </div>
                    <div class="col-4  inner-div">
  
                        <h1 class="card-text text-success" style="font-weight: 600"
                        [ngClass]="{'text-danger':columnTotals.BITCOINPNLUSDT<0}">
                          <sub>₹</sub>  {{(columnTotals.BITCOINPNLUSDT)*90 | number:'1.0-2' }}
                        </h1>
                        <h5>INR</h5>
                    </div>
                    <div class="col-4  inner-div">
  
                      <h1 class="card-text text-success" style="font-weight: 600"
                      [ngClass]="{'text-danger':columnTotals.BITCOINPNLPercentage<0}"
                      >
                       <span *ngIf="(columnTotals.BITCOINPNLPercentage)>(0)">⬆</span>
                        <span *ngIf="(columnTotals.BITCOINPNLPercentage)<(0)">⬇</span>
  
                        {{
                        columnTotals.BITCOINPNLPercentage | number : "1.2-2"
                          }}%
                      </h1>
                      <h5>Percentage</h5>
                  </div>
                </div>
            </div>
  
        </div>
    </div>
  </div>












  <div class="col-12   total-stats-inner-div d-flex justify-content-between align-items-start flex-column">
    <div class="card p-0" style="width: 100%">
        <div class="card-body">
  
  
            <div class="row ">
              <h2 class="card-title">Wise Advice</h2>


                <div class="row d-flex flex-row justify-content-center" style="margin-top:-15px">
  
                    <div class="col-4  inner-div">
  
                        <h1 class="card-text text-success" style="font-weight: 600"
                        [ngClass]="{'text-danger':columnTotals.WiseAdvicePNLUSDT<0}"
                        >
                            <sub>₮</sub>  {{columnTotals.WiseAdvicePNLUSDT | number:'1.0-2' }}
  
                        </h1>
                        <h5>USDT</h5>
                    </div>
                    <div class="col-4  inner-div">
  
                        <h1 class="card-text text-success" style="font-weight: 600"
                        [ngClass]="{'text-danger':columnTotals.WiseAdvicePNLUSDT<0}">
                          <sub>₹</sub>  {{(columnTotals.WiseAdvicePNLUSDT)*90 | number:'1.0-2' }}
                        </h1>
                        <h5>INR</h5>
                    </div>
                    <div class="col-4  inner-div">
  
                      <h1 class="card-text text-success" style="font-weight: 600"
                      [ngClass]="{'text-danger':columnTotals.WiseAdvicePNLUSDT<0}"
                      >
                       <span *ngIf="(columnTotals.WiseAdvicePNLPercentage)>(0)">⬆</span>
                        <span *ngIf="(columnTotals.WiseAdvicePNLPercentage)<(0)">⬇</span>
  
                        {{
                        columnTotals.WiseAdvicePNLPercentage | number : "1.2-2"
                          }}%
                      </h1>
                      <h5>Percentage</h5>
                  </div>
                </div>
            </div>
  
        </div>
    </div>
  </div>


  <div class="col-12   total-stats-inner-div d-flex justify-content-between align-items-start flex-column">
    <div class="card p-0" style="width: 100%">
        <div class="card-body">
  
  
            <div class="row ">
              <h2 class="card-title">BitcoinMaster9</h2>


                <div class="row d-flex flex-row justify-content-center" style="margin-top:-15px">
  
                    <div class="col-4  inner-div">
  
                        <h1 class="card-text text-success" style="font-weight: 600"
                        [ngClass]="{'text-danger':columnTotals.BitcoinMaster9PNLUSDT<0}"
                        >
                            <sub>₮</sub>  {{columnTotals.BitcoinMaster9PNLUSDT | number:'1.0-2' }}
  
                        </h1>
                        <h5>USDT</h5>
                    </div>
                    <div class="col-4  inner-div">
  
                        <h1 class="card-text text-success" style="font-weight: 600"
                        [ngClass]="{'text-danger':columnTotals.BitcoinMaster9PNLUSDT<0}">
                          <sub>₹</sub>  {{(columnTotals.BitcoinMaster9PNLUSDT)*90 | number:'1.0-2' }}
                        </h1>
                        <h5>INR</h5>
                    </div>
                    <div class="col-4  inner-div">
  
                      <h1 class="card-text text-success" style="font-weight: 600"
                      [ngClass]="{'text-danger':columnTotals.BitcoinMaster9PNLPercentage<0}"
                      >
                       <span *ngIf="(columnTotals.BitcoinMaster9PNLPercentage)>(0)">⬆</span>
                        <span *ngIf="(columnTotals.BitcoinMaster9PNLPercentage)<(0)">⬇</span>
  
                        {{
                        columnTotals.BitcoinMaster9PNLPercentage | number : "1.2-2"
                          }}%
                      </h1>
                      <h5>Percentage</h5>
                  </div>
                </div>
            </div>
  
        </div>
    </div>
  </div>



 


</div>


</div>


<div class="spacer-20"></div>

<div class="history-div p-3 mt-3">
  <h1 class="box-title">Order History</h1>

<mat-form-field  appearance="outline" floatLabel="always" >

  <mat-label>Filter Table</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input />
</mat-form-field>
<div style="overflow-x:  auto; " class="example-container">

<ng-container class="table-div">
    <!-- trading-setup.component.html -->
   
      
    <div class="mat-elevation-z8 example-table-container">

        <table mat-table [dataSource]="dataSource" matSort matSortActive="Date_From" matSortDirection="desc" class="mat-elevation-z8">
      
          <!-- Define columns -->
          <ng-container matColumnDef="Date_From">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date_From </th>
            <td mat-cell *matCellDef="let element"        style="font-weight: 600;"> {{ element.Date_From }} </td>
          </ng-container>
      
          <ng-container matColumnDef="Date_To">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date_To </th>
            <td mat-cell *matCellDef="let element"        style="font-weight: 600;"> {{ element.Date_To }} </td>
          </ng-container>
      
          <ng-container matColumnDef="Master_Name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Master_Name </th>
            <td mat-cell *matCellDef="let element"        style="font-weight: 600;"
            [ngClass]="{'text-success': element.Pnl_USDT >0, 'text-danger': element.Pnl_USDT <0}"
            
            > {{ element.Master_Name }} </td>
          </ng-container>
      
          <ng-container matColumnDef="Total_Invested">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Total_Invested </th>
            <td mat-cell *matCellDef="let element" style="font-weight: 600;" ><span class="text-success " style="font-weight: 600;">₮ </span> {{ element.Total_Invested }} </td>
          </ng-container>
          <ng-container matColumnDef="Equity">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Equity </th>
            <td mat-cell *matCellDef="let element" style="font-weight: 600;"
            [ngClass]="{'text-success': element.Pnl_USDT >0, 'text-danger': element.Pnl_USDT <0}"
            > <span class="text-success " style="font-weight: 600;">₮ </span>{{ element.Equity }} </td>
          </ng-container>
          <ng-container matColumnDef="Profit_Share_USDT">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Profit_Share_USDT </th>
            <td mat-cell *matCellDef="let element" 
            [ngClass]="{'text-danger': element.Profit_Share_USDT >0 , 'text-muted': element.Profit_Share_USDT==0}"
            > <span class="text-success " style="font-weight: 600;">₮ </span>{{ element.Profit_Share_USDT }} </td>
          </ng-container>
          <ng-container matColumnDef="ROI">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ROI </th>
            <td mat-cell *matCellDef="let element"
            style="font-weight: 600;"
            [ngClass]="{'text-success': element.Pnl_USDT >0, 'text-danger': element.Pnl_USDT <0}"
            > {{ element.ROI }} &#65130;</td>
          </ng-container>
          <ng-container matColumnDef="Pnl_USDT">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Pnl_USDT </th>
            <td mat-cell *matCellDef="let element"
            style="font-weight: 600;"
            [ngClass]="{'text-success': element.Pnl_USDT >0, 'text-danger': element.Pnl_USDT <0}"
            
            > <span  style="font-weight: 600;">₮ </span>{{ element.Pnl_USDT }} </td>
          </ng-container>
          
          <!-- Actions column with Edit and Delete buttons -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
              <!-- <button mat-icon-button (click)="editItem(element.ID)">
                <mat-icon class="text-warning">edit</mat-icon>
              </button> -->
              <button mat-icon-button (click)="deleteEntry(element.ID, element)">
                <mat-icon class="text-danger">delete</mat-icon>
              </button>
  
  
            </td>
          </ng-container>
  
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"  class="table-header" ></tr>

          <tr mat-row *matRowDef="let row; columns: displayedColumns;let odd = odd; " [class.striped-row]="odd"></tr>

        </table>
      
        <!-- Pagination -->
        <div class="loader-div  d-flex justify-content-center align-items-center flex-column"
        *ngIf="!IsSelectedSheetDataLoaded">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <span class="pt-2">Loading ...</span>

    
      </div>
      </div>
      <!-- <app-new></app-new> -->
    </ng-container>
  </div>
  <mat-paginator [pageSizeOptions]="[ 5, pageSizeOptions]" showFirstLastButtons></mat-paginator>

</div>
